@import '../mixins/mixins';
@import '../mixins/theme-mixins';
@import '../mixins/px-to-rem.scss';

.dispose-dialog-body {
  @include themeify(false) {
    position: absolute;
    top: px-to-rem(310);
    left: px-to-rem(382);
    width: px-to-rem(500);

    // height: 350px;
    background: themed('alarm-list-bg-module');
    @if $theme-name == 'theme-aquamarine' {
      border: 1px solid;
      border-image: themed('alarm-detail-border-image');
    }
    @if $theme-name == 'theme-terracotta' {
      border: 1px solid #6e674e;
    }
    @if $theme-name != 'theme-aquamarine' {
      border-radius: px-to-rem(8);
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: px-to-rem(21);
      height: px-to-rem(25);
      background: themed('fire-warning-bg-dialog-con-before');
      content: '';
    }

    &::after {
      position: absolute;
      top: unset;
      right: 0;
      bottom: 0;
      left: unset;
      display: block;
      width: px-to-rem(21);
      height: px-to-rem(25);
      background: themed('fire-warning-bg-dialog-con-after');
      border-radius: 0 !important;
      box-shadow: none !important;
      content: '';
    }
    @if $theme-name == 'theme-aquamarine' {
      .span-top-line {
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: px-to-rem(8);
          height: 1px;
          background: #fff;
          box-shadow: 0 0 px-to-rem(6) 0 #02896d, inset 0 0 2px 0 #00fff8;
          content: '';
        }

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: px-to-rem(8);
          height: 1px;
          background: #fff;
          box-shadow: 0 0 px-to-rem(6) 0 #02896d, inset 0 0 2px 0 #00fff8;
          content: '';
        }
      }
    }

    .close-btn {
      position: absolute;
      top: px-to-rem(-14);
      right: px-to-rem(-12);
      z-index: 2;

      // 关闭按钮
      width: px-to-rem(25);
      height: px-to-rem(25);
      background: themed('base-card-close-bg');
      background-size: 150% 150%;
      background-position: 50% 50%;
      cursor: pointer;
    }

    .dispose-dialog-title {
      position: relative;
      width: 100%;
      height: px-to-rem(48);
      background: themed('alarm-detail-header-bg-color');
      @if $theme-name == 'theme-aquamarine' {
        border-radius: 0;
      } @else {
        border-radius: px-to-rem(8) px-to-rem(8) 0 0;
      }
      text-shadow: themed('alarm-detail-text-shadow') !important;
      color: themed('alarm-list-title-color');
      font-size: px-to-rem(16);
      text-align: center;
      font-weight: 600;
      line-height: px-to-rem(48);

      &::before {
        position: absolute;
        top: -1px;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 100%;
        @if $theme-name == 'theme-aquamarine' {
          background: url('~@component-gallery/assets/image/alarm-detail/aquamarine/singleTabSel.png')
              no-repeat
              bottom
              center,
            url('~@component-gallery/assets/image/alarm-detail/aquamarine/popup-header-xx.png')
              no-repeat
              center /
              auto
              100%,
            url('~@component-gallery/assets/image/alarm-detail/aquamarine/popup-header-k.png')
              no-repeat
              top
              center;
        }
        @if $theme-name == 'theme-terracotta' {
          background: url('~@component-gallery/assets/image/alarm-detail/terracotta/popup-title-guang.png')
            no-repeat
            bottom
            center;
          width: 44.4%;
          left: 50%;
          transform: translateX(-50%);
          border-bottom: 1px solid;
          border-image: linear-gradient(
              90deg,
              rgba(228, 231, 193, 0),
              rgba(228, 231, 193, 1),
              rgba(228, 231, 193, 0)
            )
            1
            1;
        }
        opacity: 0.96;
        content: '';
        pointer-events: none;
      }

      &::after {
        position: absolute;
        bottom: 1px;
        left: 50%;
        width: 100%;
        height: 1px;
        background: themed('alarm-detail-header-line');
        content: '';
        transform: translateX(-50%);
        pointer-events: none;
        @if $theme-name == 'theme-terracotta' {
          opacity: 0.35;
        }
      }
    }

    .dispose-dialog-content {
      padding: px-to-rem(12);
      width: 100%;

      .dispose-dialog-content-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: px-to-rem(12);
        width: 100%;
        height: px-to-rem(32);

        ::v-deep .el-radio {
          margin: px-to-rem(11) px-to-rem(24) px-to-rem(11) 0;

          .el-radio__input {
            .el-radio__inner {
              background: themed('alarm-radio-inner-bg');
              border: 0;
              box-shadow: themed('alarm-radio-box-shadow');
            }
          }

          .el-radio__input.is-checked .el-radio__inner {
            background: themed('alarm-radio-inner-checked-bg');
            &::after {
              width: px-to-rem(6);
              height: px-to-rem(6);
              // transform: translate(-50%, -50%) scale(1.3);
            }
          }

          .el-radio__label {
            padding-right: px-to-rem(2);
            padding-left: px-to-rem(6);
            color: themed('alarm-detail-compare-arrow-color');
            font-size: px-to-rem(14);
            font-weight: 400;
          }
        }
      }

      .dispose-dialog-content-table {
        padding-bottom: px-to-rem(12);
        width: 100%;

        ::v-deep .el-table {
          background: transparent;

          /* 表格头部 */
          &::before {
            background: rgb(255 255 255 / 20%);
          }

          .el-table__header-wrapper {
            .el-table__header {
              .has-gutter {
                .is-leaf {
                  padding: 0;
                  background: themed('alarm-plan-table-header-bg');
                  color: themed('alarm-info-data-content-color');
                  border-bottom: 1px solid rgb(255 255 255 / 20%);

                  .cell {
                    height: px-to-rem(32);
                    color: themed('alarm-info-data-content-color');
                    font-size: px-to-rem(14);
                    line-height: px-to-rem(32);
                    font-weight: 400;
                    text-align: left;
                    padding-left: px-to-rem(12);
                    padding-right: px-to-rem(0);
                  }
                }
              }
            }
          }
          .el-table__body-wrapper {
            max-height: px-to-rem(128);
            overflow-y: auto;
          }

          /* 表格内容 */
          .el-table__body-wrapper.is-scrolling-none {
            /* 无数据 */
            .el-table__empty-block {
              .el-table__empty-text {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: px-to-rem(160);
                color: themed('alarm-info-data-content-color');
                font-size: px-to-rem(14);
                line-height: 1;
                &::before {
                  // display: block;
                  // margin-bottom: px-to-rem(10);
                  // content:themed('no-data-img');
                  content: '';
                  display: block;
                  background: themed('no-data-img') no-repeat !important;
                  background-size: 100% 100% !important;
                  margin: 0 0 px-to-rem(12) 0 !important;
                  width: px-to-rem(68) !important;
                  height: px-to-rem(68) !important;
                  background: themed('no-data-img');
                }
              }
            }

            /* 有数据 */
            .el-table__body {
              .el-table__row {
                height: px-to-rem(32);
                line-height: px-to-rem(32);

                td {
                  padding: 0;
                  border-bottom: 1px solid rgb(255 255 255 / 20%);
                  color: themed('alarm-info-data-content-color');
                  .cell {
                    text-align: left;
                    padding-left: px-to-rem(12);
                    padding-right: px-to-rem(0);
                  }
                }
              }

              .current-row {
                td {
                  padding: 0;
                  background: themed('alarm-phrases-bg-color');

                  div {
                    color: themed(
                      'alarm-plan-table-option-text-color'
                    ) !important;
                    font-size: px-to-rem(14);
                    font-weight: 400;
                  }
                }
              }
            }
          }

          .table-btn {
            color: themed('alarm-plan-table-option-text-color');
            font-size: px-to-rem(14);
            padding: 0;
          }
        }

        ::v-deep .el-table--enable-row-hover .el-table__body tr:hover > td {
          background: themed('alarm-plan-table-header-bg');
        }

        ::v-deep .el-table th.el-table__cell.is-leaf {
          color: themed('alarm-info-data-content-color') !important;
        }

        ::v-deep .el-table th.el-table__cell > .cell {
          color: themed('alarm-info-data-content-color') !important;
        }

        ::v-deep .el-table tr {
          background: transparent !important;
        }

        // .el-table > .column-right-box {
        //   border-left: 1px solid #fff !important;
        // }

        // ::v-deep .el-table .cell.el-tooltip {
        //   color: #fff !important;
        // }

        // ::v-deep .el-table th.el-table__cell.is-leaf {
        //   border-bottom: 1px solid rgb(255 255 255 / 20%) !important;
        // }

        // ::v-deep .el-table td.el-table__cell {
        //   border-bottom: 1px solid rgb(255 255 255 / 20%) !important;
        // }

        // ::v-deep .el-table__fixed-right th.el-table__cell {
        //   background-color: #01282b !important;
        // }

        // ::v-deep .el-table__fixed-right td.el-table__cell {
        //   background-color: #051620 !important;
        // }

        // 滚动条
        ::v-deep .table-box {
          overflow-y: hidden;

          ::-webkit-scrollbar {
            height: px-to-rem(6) !important;
          }

          ::-webkit-scrollbar-thumb {
            background: themed(
              'alarm-detail-people-select-tree-node-hover'
            ) !important;
            border: 0 !important;
            border-radius: px-to-rem(2) !important;
          }

          ::-webkit-scrollbar-track {
            background: transparent !important;
          }
        }
      }
    }
  }
}

.page-tool {
  display: flex;
  justify-content: flex-end;
  font-size: px-to-rem(14);
  @include themeify(false) {
    .page-number {
      overflow: hidden;
      width: px-to-rem(80);
      height: px-to-rem(26);
      color: themed('alarm-info-data-content-color');
      font-size: px-to-rem(12);
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 400;
      line-height: px-to-rem(26);
    }

    ::v-deep .el-pagination .el-pager li,
    ::v-deep .el-pagination .btn-next,
    ::v-deep .el-pagination .btn-prev {
      background: transparent !important;
      color: themed('alarm-info-data-content-color') !important;
    }

    ::v-deep .el-pagination .el-pager li.active {
      background: themed('alarm-list-bg-pagination') !important;
      border-radius: px-to-rem(4) !important;
      color: themed('alarm-info-data-content-color') !important;
    }
  }
}

// 区域树
.c-select {
  width: px-to-rem(160) !important;

  ::v-deep .el-input__inner {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

::v-deep .el-input__inner::placeholder {
  @include themeify(false) {
    color: themed('alarm-phrases-item-placeholder') !important;
  }
}

.area-option-tree-div {
  @include themeify(false) {
    ::v-deep .el-tree {
      min-height: px-to-rem(32);
      background: transparent;

      .el-tree-node__content {
        background: transparent;

        .el-checkbox {
          display: none;
        }

        .el-tree-node__label {
          color: themed('alarm-info-data-content-color');
        }

        .el-checkbox {
          .el-checkbox__input {
            .el-checkbox__inner {
              background: themed('alarm-detail-people-select-checkbox__inner');
              border: 0;
            }
          }
        }

        .el-icon-arrow-down {
          &::before {
            color: themed('alarm-info-data-content-color');
            font-size: px-to-rem(14);
            font-family: iconfont !important;
            content: '\e732';
          }
        }

        .el-icon-arrow-down.is-leaf {
          margin-left: px-to-rem(-18);
          opacity: 0;
        }
      }

      .el-tree-node__content:hover {
        background: themed('alarm-detail-people-select-tree-node-hover');
      }

      .el-tree-node__children {
        .is-current.is-checked > .el-tree-node__content {
          background: themed('alarm-detail-people-select-tree-node-hover');
        }
      }

      .is-current.is-checked > .el-tree-node__content {
        background: themed(
          'alarm-detail-people-select-tree-node-hover'
        ) !important;
      }

      .custom-tree-node {
        overflow: hidden;
        height: 100%;
        color: themed('alarm-info-data-content-color');
        font-size: px-to-rem(14);
        text-overflow: ellipsis;
        white-space: normal;
        line-height: px-to-rem(26);

        .custom-tree-node-label {
          display: flex;
          align-items: center;
          width: 100%;

          .node-label {
            overflow: hidden;
            margin: 0 px-to-rem(4) 0 0;
            color: themed('alarm-info-data-content-color');
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .node-label-checked {
            color: themed('alarm-plan-table-option-text-color') !important;
          }
        }
      }

      // 无数据
      .el-tree__empty-block {
        min-height: px-to-rem(180);

        .el-tree__empty-text {
          display: flex;
          flex-direction: column;
          color: themed('alarm-info-data-content-color');

          &::before {
            // content: themed('no-data-img');
            // width: px-to-rem(68);
            // height: px-to-rem(68);
            content: '';
            display: block;
            margin-bottom: px-to-rem(10);
            width: px-to-rem(68);
            height: px-to-rem(68);
            background: themed('tree-default-no-date');
            background-size: 100% 100% !important;
          }
        }
      }
    }

    ::v-deep .el-select__tags {
      .el-tag.el-tag--info {
        background: themed('alarm-detail-people-select-tag-bgc');
        border: 0;
        color: themed('alarm-detail-people-select-tag-color');
        line-height: px-to-rem(20);

        .el-tag__close {
          background: transparent;
          border: 0;
          color: themed('alarm-detail-people-select-tag-color');
          transform: scale(0.7);
        }
      }
    }
  }
}

.tooltip-content {
  @include themeify(false) {
    color: themed('alarm-detail-compare-arrow-color');
  }
}
