@import '../mixins/mixins';
@import '../mixins/theme-mixins';
@import '../mixins/px-to-rem.scss';

.supervise-dialog-body {
  @include themeify(false) {
    position: absolute;
    bottom: 0;
    left: px-to-rem(382);
    width: px-to-rem(500);
    height: auto;
    padding-bottom: px-to-rem(6);
    background: themed('alarm-list-bg-module');
    @if $theme-name == 'theme-aquamarine' {
      border: px-to-rem(1) solid;
      border-image: themed('alarm-detail-border-image');
    }
    @if $theme-name == 'theme-terracotta' {
      border: px-to-rem(1) solid #6e674e;
    }
    @if $theme-name != 'theme-aquamarine' {
      border-radius: px-to-rem(8);
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: px-to-rem(21);
      height: px-to-rem(25);
      background: themed('fire-warning-bg-dialog-con-before');
      content: '';
    }

    &::after {
      position: absolute;
      top: unset;
      right: 0;
      bottom: 0;
      left: unset;
      display: block;
      width: px-to-rem(21);
      height: px-to-rem(25);
      background: themed('fire-warning-bg-dialog-con-after');
      border-radius: 0 !important;
      box-shadow: none !important;
      content: '';
    }
    @if $theme-name == 'theme-aquamarine' {
      .span-top-line {
        &::before {
          position: absolute;
          top: px-to-rem(-1);
          left: px-to-rem(-1);
          display: block;
          width: px-to-rem(8);
          height: px-to-rem(1);
          background: #fff;
          box-shadow: 0 0 px-to-rem(6) 0 #02896d, inset 0 0 2px 0 #00fff8;
          content: '';
        }

        &::after {
          position: absolute;
          top: px-to-rem(-1);
          right: px-to-rem(-1);
          display: block;
          width: px-to-rem(8);
          height: px-to-rem(1);
          background: #fff;
          box-shadow: 0 0 px-to-rem(6) 0 #02896d, inset 0 0 2px 0 #00fff8;
          content: '';
        }
      }
    }

    .close-btn {
      position: absolute;
      top: px-to-rem(-14);
      right: px-to-rem(-12);
      z-index: 2;

      // 关闭按钮
      width: px-to-rem(25);
      height: px-to-rem(25);
      background: themed('base-card-close-bg');
      background-size: 150% 150%;
      background-position: 50% 50%;
      cursor: pointer;
    }

    .supervise-dialog-title {
      position: relative;
      width: 100%;
      height: px-to-rem(48);
      background: themed('alarm-detail-header-bg-color');
      @if $theme-name == 'theme-aquamarine' {
        border-radius: 0;
      } @else {
        border-radius: px-to-rem(8) px-to-rem(8) 0 0;
      }
      text-shadow: themed('alarm-detail-text-shadow') !important;
      color: themed('alarm-list-title-color');
      font-size: px-to-rem(16);
      text-align: center;
      font-weight: 600;
      line-height: px-to-rem(48);

      &::before {
        position: absolute;
        top: px-to-rem(-1);
        bottom: auto;
        left: 0;
        width: 100%;
        height: 100%;
        @if $theme-name == 'theme-aquamarine' {
          background: url('~@component-gallery/assets/image/alarm-detail/aquamarine/singleTabSel.png')
              no-repeat
              bottom
              center,
            url('~@component-gallery/assets/image/alarm-detail/aquamarine/popup-header-xx.png')
              no-repeat
              center /
              auto
              100%,
            url('~@component-gallery/assets/image/alarm-detail/aquamarine/popup-header-k.png')
              no-repeat
              top
              center /
              px-to-rem(38)
              px-to-rem(8);
        }
        @if $theme-name == 'theme-terracotta' {
          background: url('~@component-gallery/assets/image/alarm-detail/terracotta/popup-title-guang.png')
            no-repeat
            bottom
            center;
          width: 44.4%;
          left: 50%;
          transform: translateX(-50%);
          border-bottom: 1px solid;
          border-image: linear-gradient(
              90deg,
              rgba(228, 231, 193, 0),
              rgba(228, 231, 193, 1),
              rgba(228, 231, 193, 0)
            )
            1
            1;
        }
        opacity: 0.96;
        content: '';
        pointer-events: none;
      }

      &::after {
        position: absolute;
        bottom: px-to-rem(1);
        left: 50%;
        width: 100%;
        height: px-to-rem(1);
        background: themed('alarm-detail-header-line');
        content: '';
        transform: translateX(-50%);
        pointer-events: none;
        @if $theme-name == 'theme-terracotta' {
          opacity: 0.35;
        }
      }
    }

    // 内容盒子
    .supervise-dialog-content {
      padding: px-to-rem(12) px-to-rem(24);
      width: 100%;

      .supervise-item-box {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        .supervise-item-left {
          display: flex;
          width: px-to-rem(76);
          height: px-to-rem(32);

          .supervise-xinghao {
            margin-right: px-to-rem(2);
            height: px-to-rem(32);
            color: #ed5158;
            font-size: px-to-rem(14);
            font-weight: 400;
            line-height: px-to-rem(32);
          }

          .supervise-item-label {
            height: px-to-rem(32);
            color: themed('alarm-detail-compare-arrow-color');
            font-size: px-to-rem(14);
            text-align: left;
            font-weight: 400;
            line-height: px-to-rem(32);
          }
        }

        .supervise-item-right {
          flex: 1;
          width: px-to-rem(376);
          font-size: px-to-rem(14);
          height: px-to-rem(100);

          .text-class {
            width: 100%;

            ::v-deep .el-textarea__inner {
              height: px-to-rem(100);
              padding: px-to-rem(6) px-to-rem(12) !important;
              background: themed('alarm-detail-input-background');
              border: 1px solid transparent;
              color: themed('alarm-detail-compare-arrow-color');
              &:not(.readonly, .disabled):hover {
                border: 1px solid themed('alarm-detail-input-hover-border60');
                border-radius: px-to-rem(4);
              }

              &:not(.readonly, .disabled):focus-within {
                border: 1px solid themed('alarm-detail-input-hover-border');
                border-radius: px-to-rem(4);
              }
            }
            ::v-deep .el-textarea__inner::placeholder {
              color: themed('alarm-phrases-item-placeholder') !important;
              font-size: px-to-rem(14);
              line-height: px-to-rem(18);
            }
          }

          ::v-deep .el-input__suffix {
            .el-input__suffix-inner {
              .el-input__icon {
                transform: unset !important;
              }
            }
          }
        }
      }
    }

    // 底部按钮样式
    .supervise-btn-box {
      display: flex;
      justify-content: center;
      margin-top: 0;
      flex-wrap: wrap;

      .bottom-btn {
        margin: 0 px-to-rem(6) px-to-rem(5);
        width: px-to-rem(108);
        // height: px-to-rem(32);
      }
    }
  }
}
