@import '../mixins/mixins';
@import '../mixins/theme-mixins';
@import '../mixins/px-to-rem.scss';

.suppress-dialog {
  @include themeify(false) {
    position: absolute;
    top: calc(50% - px-to-rem(465));
    left: px-to-rem(610);
    padding-bottom: px-to-rem(12);
    width: px-to-rem(770);
    height: auto;
    background: themed('alarm-list-bg-module');
    z-index: 99999;
    @if $theme-name == 'theme-aquamarine' {
      border: 1px solid;
      border-image: themed('alarm-detail-border-image');
    }
    @if $theme-name == 'theme-terracotta' {
      border: 1px solid #6e674e;
    }
    @if $theme-name != 'theme-aquamarine' {
      border-radius: px-to-rem(8);
    }

    // ::v-ds
    .is-error {
      height: px-to-rem(65) !important;
      ::v-deep .el-form-item__error {
        margin-top: px-to-rem(6);
        display: flex;
        justify-content: flex-start;
      }
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: px-to-rem(21);
      height: px-to-rem(25);
      background: themed('fire-warning-bg-dialog-con-before');
      content: '';
    }

    &::after {
      position: absolute;
      top: unset;
      right: 0;
      bottom: 0;
      left: unset;
      display: block;
      width: px-to-rem(21);
      height: px-to-rem(25);
      background: themed('fire-warning-bg-dialog-con-after');
      border-radius: 0 !important;
      box-shadow: none !important;
      content: '';
    }
    @if $theme-name == 'theme-aquamarine' {
      .span-top-line {
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: px-to-rem(8);
          height: 1px;
          background: #fff;
          box-shadow: 0 0 px-to-rem(6) 0 #02896d, inset 0 0 2px 0 #00fff8;
          content: '';
        }

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: px-to-rem(8);
          height: 1px;
          background: #fff;
          box-shadow: 0 0 px-to-rem(6) 0 #02896d, inset 0 0 2px 0 #00fff8;
          content: '';
        }
      }
    }

    .close-btn {
      position: absolute;
      top: px-to-rem(-14);
      right: px-to-rem(-12);
      z-index: 2;

      // 关闭按钮
      width: px-to-rem(25);
      height: px-to-rem(25);
      background: themed('base-card-close-bg');
      background-size: 150% 150%;
      background-position: 50% 50%;
      cursor: pointer;
    }

    .dispose-dialog-title {
      position: relative;
      width: 100%;
      height: px-to-rem(48);
      background: themed('alarm-detail-header-bg-color');
      @if $theme-name == 'theme-aquamarine' {
        border-radius: 0;
      } @else {
        border-radius: px-to-rem(8) px-to-rem(8) 0 0;
      }
      text-shadow: themed('alarm-detail-text-shadow') !important;
      color: themed('alarm-list-title-color');
      font-size: px-to-rem(16);
      text-align: center;
      font-weight: 600;
      line-height: px-to-rem(48);

      &::before {
        position: absolute;
        top: -1px;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 100%;
        @if $theme-name == 'theme-aquamarine' {
          background: url('~@component-gallery/assets/image/alarm-detail/aquamarine/singleTabSel.png')
              no-repeat
              bottom
              center,
            url('~@component-gallery/assets/image/alarm-detail/aquamarine/popup-header-xx.png')
              no-repeat
              center /
              auto
              100%,
            url('~@component-gallery/assets/image/alarm-detail/aquamarine/popup-header-k.png')
              no-repeat
              top
              center;
        }
        @if $theme-name == 'theme-terracotta' {
          background: url('~@component-gallery/assets/image/alarm-detail/terracotta/popup-title-guang.png')
            no-repeat
            bottom
            center;
          width: 44.4%;
          left: 50%;
          transform: translateX(-50%);
          border-bottom: 1px solid;
          border-image: linear-gradient(
              90deg,
              rgba(228, 231, 193, 0),
              rgba(228, 231, 193, 1),
              rgba(228, 231, 193, 0)
            )
            1
            1;
        }
        opacity: 0.96;
        content: '';
        pointer-events: none;
      }

      &::after {
        position: absolute;
        bottom: 1px;
        left: 50%;
        width: 100%;
        height: 1px;
        background: themed('alarm-detail-header-line');
        content: '';
        transform: translateX(-50%);
        pointer-events: none;
        @if $theme-name == 'theme-terracotta' {
          opacity: 0.35;
        }
      }
    }

    // 内容盒子
    .dispose-dialog-content {
      padding: px-to-rem(6) px-to-rem(12);
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1;
      // height: px-to-rem(430);
      // margin-bottom: px-to-rem(8);

      ::v-deep .el-form-item .el-form-item__content {
        padding: 0;
      }

      .dispose-item-box {
        display: flex;
        padding: px-to-rem(6) 0;
        width: 100%;
        flex-wrap: wrap;

        .dispose-item-left {
          display: flex;
          justify-content: flex-end;
          width: calc(100% - px-to-rem(395));
          height: px-to-rem(32);

          .is-chuzhi {
            margin-right: px-to-rem(15);
          }

          .dispose-item-label {
            margin-right: px-to-rem(10);
            height: px-to-rem(32);
            color: themed('alarm-detail-compare-arrow-color');
            font-size: px-to-rem(14);
            text-align: right;
            font-weight: 400;
            line-height: px-to-rem(32);
          }

          .dispose-tip {
            display: flex;
            align-content: center;
            flex-wrap: wrap;
            margin-left: px-to-rem(-21);

            .text-source {
              float: left;
              margin-left: px-to-rem(3);
              width: px-to-rem(18);
              height: px-to-rem(18);
              background-repeat: no-repeat;
              background-size: 100% 100%;
              background-image: url('~@component-gallery/assets/image/alarm-detail/hint-ly.png');
            }
          }
        }

        .dispose-item-right {
          width: px-to-rem(395);
          font-size: px-to-rem(14);
          ::v-deep .el-icon-arrow-up:before {
            font-family: iconfont;
            content: '\EA6B';
            font-size: px-to-rem(20);
            font-weight: 400;
          }

          ::v-deep .el-input__suffix {
            .el-input__suffix-inner {
              .el-input__icon {
                transform: unset !important;

                // &::before {
                //   content: '\E72C';
                //   font-family: iconfont;
                // }
              }
            }
          }

          .dispose-upload {
            ::v-deep .image-video {
              .file-content {
                margin: 0 px-to-rem(5) px-to-rem(6) 0;
                width: px-to-rem(70);
                height: px-to-rem(70);

                .file-upload {
                  .el-upload {
                    background: themed('alarm-detail-input-background');
                    border: 1px dotted themed('alarm-detail-upload-border');
                    border-radius: px-to-rem(4);

                    .el-icon-plus {
                      &::before {
                        content: url('~@component-gallery/assets/image/alarm-detail/upload.png') !important;
                        transform: scale(0.7);

                        /* 将图片缩小为原来的 50% */
                        transform-origin: center center;

                        /* 设置缩小的原点为图片左上角 */
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .repeat-sift-box {
        display: flex;
        padding: px-to-rem(6) 0;
        width: 100%;
        .el-col-24 {
          width: auto;
        }
        .sift-btn-box {
          margin-top: px-to-rem(0);
          margin-left: px-to-rem(24);
        }

        .repreat-sift-item {
          display: flex;
          text-align: center;
          .dispose-xinghao {
            margin-right: px-to-rem(1);
            height: px-to-rem(32);
            color: #ed5158 !important;
            font-size: px-to-rem(14);
            font-weight: 400;
            line-height: px-to-rem(32);
            z-index: 99;
          }

          .sift-label {
            display: flex;
            justify-content: flex-end;
            margin-right: px-to-rem(12);
            width: px-to-rem(94);
            height: px-to-rem(32);
            color: themed('alarm-info-data-content-color');
            font-size: px-to-rem(14);
            font-weight: 400;
            line-height: px-to-rem(32);
          }

          .sift-date-picker {
            width: px-to-rem(250);
            height: px-to-rem(32);
            font-size: px-to-rem(14);

            ::v-deep .c-date-editor {
              width: px-to-rem(250);

              .el-input__icon {
                /* 时间前侧icon */
                margin: 0 px-to-rem(4) 0 px-to-rem(-2) !important;
                font-weight: 400;
                font-size: px-to-rem(16) !important;
              }

              .el-range-input {
                width: px-to-rem(100);
              }
            }
          }

          .sift-label-space {
            display: flex;
            justify-content: flex-end;
            margin-right: px-to-rem(12);
            width: px-to-rem(92);
            height: px-to-rem(32);
            color: themed('alarm-info-data-content-color');
            font-size: px-to-rem(14);
            font-weight: 400;
            line-height: px-to-rem(32);
            .text-source {
              color: themed('alarm-tag-edit-check-item-text');
              font-size: px-to-rem(20);
              margin-left: px-to-rem(3);
            }
          }

          .sift-label-space-pt {
            display: flex;
            justify-content: flex-end;
            margin-right: px-to-rem(10);
            width: px-to-rem(124);
            height: px-to-rem(32);
            color: themed('alarm-info-data-content-color');
            font-size: px-to-rem(14);
            font-weight: 400;
            line-height: px-to-rem(32);

            .text-source {
              color: themed('alarm-tag-edit-check-item-text');
              font-size: px-to-rem(20);
              margin-left: px-to-rem(3);
              // float: left;
              // margin-top: px-to-rem(6);
              // margin-left: px-to-rem(6);
              // width: px-to-rem(18);
              // height: px-to-rem(18);
              // background-repeat: no-repeat;
              // background-size: 100% 100%;
              // background-image: url('~@component-gallery/assets/image/alarm-detail/hint-ly.png');
            }
          }
          .space-p {
            margin-left: px-to-rem(-10);
          }
          .sift-label-space-pt-t {
            display: flex;
            justify-content: flex-end;
            margin-left: px-to-rem(10);
            // width: px-to-rem(124);
            height: px-to-rem(32);
            color: themed('alarm-info-data-content-color');
            font-size: px-to-rem(14);
            font-weight: 400;
            line-height: px-to-rem(32);

            .text-source {
              color: themed('alarm-tag-edit-check-item-text');
              font-size: px-to-rem(20);
              margin-left: px-to-rem(3);
            }
          }

          .sift-date-picker-space {
            margin-right: 0.12rem;
            // width: px-to-rem(152);
            height: px-to-rem(32);

            ::v-deep .alarm-input .el-input__suffix {
              margin-right: px-to-rem(7);
              color: themed('alarm-info-data-content-color');
              font-size: px-to-rem(14);
              font-weight: 400;
              line-height: px-to-rem(14);
            }

            ::v-deep .el-form-item.is-error .el-input__validateIcon {
              display: none;
            }

            ::v-deep
              .el-input__icon.el-input__validateIcon.el-icon-circle-check {
              display: none;
            }
          }

          .sift-date-picker-space-pt {
            display: flex;
            width: px-to-rem(230);
            // height: px-to-rem(32);
            // margin-right: px-to-rem(30);
            .error-left.is-error {
              ::v-deep .el-form-item__error {
                width: max-content;
                right: 0;
                left: auto;
                padding-right: px-to-rem(12);
              }
            }
            .error-left-l.is-error {
              ::v-deep .el-form-item__error {
                width: max-content;
                right: 0;
                left: auto;
                padding-right: px-to-rem(10);
                margin-right: px-to-rem(32);
              }
            }
            .error-right.is-error {
              ::v-deep .el-form-item__error {
                width: max-content;
                padding-right: px-to-rem(12);
              }
            }

            .alarm-input {
              ::v-deep .el-input-group__prepend {
                width: px-to-rem(30);
                // margin: 0 px-to-rem(5) 0 px-to-rem(5);
                height: px-to-rem(32);
                background: transparent;
                border: 0;
                line-height: px-to-rem(32);
              }
            }

            .pt-btn-left {
              width: 100%;
            }
            .symbol {
              margin: 0 px-to-rem(12) px-to-rem(5) px-to-rem(12);
            }
          }
          .t-input {
            margin-left: px-to-rem(12);
          }

          .sift-date-picker-btn {
            display: flex;
            justify-content: right;
            width: px-to-rem(428);
            flex-wrap: wrap;

            .bottom-btn {
              margin: px-to-rem(0) 0;
              width: px-to-rem(104);
            }

            .sift-submit {
              margin-right: px-to-rem(10);
            }
          }
          .ptz-info-t {
            width: px-to-rem(230);
            margin-left: px-to-rem(14);
            font-size: px-to-rem(14);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // justify-content: space-between;
            align-items: center;
          }
          ::v-deep .el-radio-group {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
          }

          ::v-deep .el-radio {
            padding: px-to-rem(0) px-to-rem(24) px-to-rem(7) 0;
            margin: 0 0 px-to-rem(4);
            height: px-to-rem(32);
            line-height: px-to-rem(32);
            &:nth-of-type(3) {
              padding: px-to-rem(7) px-to-rem(30) px-to-rem(7) 0;
            }

            .el-radio__input {
              .el-radio__inner {
                width: px-to-rem(16);
                height: px-to-rem(16);
                background: themed('alarm-radio-inner-bg');
                border: 0;
                box-shadow: themed('alarm-radio-box-shadow');
              }

              .is-checked {
                &::after {
                  transform: translate(-50%, -50%) scale(1.3);
                }
              }

              &.is-checked {
                .el-radio__inner {
                  background: themed('alarm-radio-inner-checked-bg') !important;

                  &::after {
                    width: px-to-rem(6);
                    height: px-to-rem(6);
                  }
                }
              }
            }

            .el-radio__label {
              padding-left: px-to-rem(6);
              color: themed('alarm-info-data-content-color');
              font-size: px-to-rem(14);
              font-weight: 400;
            }
          }
          .bottom-public-btn-class {
            // line-height: px-to-rem(16);

            @if $theme-name == 'theme-aquamarine' {
              width: px-to-rem(120);
            } @else {
              width: px-to-rem(108);
              margin-left: px-to-rem(12);
            }
            // height: px-to-rem(32);
            padding-left: 0;
            padding-right: 0;
            text-align: center;
          }
          .ptz-get {
            width: px-to-rem(108);
            margin-left: px-to-rem(3);
          }
        }
        .sift-p {
          margin-left: px-to-rem(20);
          .ptz-info-t {
            margin-left: px-to-rem(12);
          }
        }
        .sift-input {
          // margin-right: px-to-rem(12);
          width: px-to-rem(152);
          // height: px-to-rem(32);

          ::v-deep .el-select {
            .el-select__tags .el-tag {
              max-width: px-to-rem(100);
              background-color: themed('alarm-detail-people-select-tag-bgc');
              border: none;
              color: themed('alarm-detail-people-select-tag-color');
            }

            .el-select__tags .el-tag.el-tag--info .el-tag__close.el-icon-close {
              background-color: transparent;
              color: themed('alarm-detail-time-select-tag-color');

              &::before {
                color: themed('alarm-detail-time-select-tag-color');
              }
            }
          }
        }
        .minad-max {
          display: flex;
          justify-content: flex-end;
        }
        .area-img {
          width: px-to-rem(80);
          height: px-to-rem(80);
          .area-images {
            width: 100%;
            height: 100%;
            border-radius: px-to-rem(6);
            margin-bottom: px-to-rem(40);
          }
        }
      }
      .ptbox {
        margin-left: px-to-rem(16);
      }
    }

    // 底部按钮样式
    .dispose-btn-box {
      display: flex;
      justify-content: center;
      margin-top: px-to-rem(12);
      flex-wrap: wrap;

      .bottom-btn {
        margin: 0 px-to-rem(5) px-to-rem(5);
        width: px-to-rem(104);
        // height: px-to-rem(32);
      }
    }
  }
}

.people-option-tree-div {
  @include themeify(false) {
    ::v-deep .el-tree {
      background: transparent;

      .el-tree-node__content {
        height: px-to-rem(32);
        background: transparent;

        .el-icon-arrow-down {
          &::before {
            color: themed('alarm-detail-compare-arrow-color');
            font-size: px-to-rem(14);
            font-family: iconfont !important;
            content: '\e732';
          }
        }

        .el-icon-arrow-down.is-leaf {
          margin-left: px-to-rem(-18);
          opacity: 0;
        }
        .is-leaf {
          &::before {
            color: transparent !important;
          }
        }
        .el-tree-node__expand-icon {
          @if $theme-name == 'theme-wiseblue' {
            color: #e8f3fe;
          }

          @if $theme-name == 'theme-aquamarine' {
            color: #fff;
          }

          @if $theme-name == 'theme-terracotta' {
            color: #ffeeb1;
          }
        }
      }

      .el-tree-node__content:hover {
        background: themed('global-bg-color');
      }

      .el-tree-node__children {
        .is-current {
          background: themed('global-bg-color');
        }
      }

      .custom-tree-node {
        overflow: hidden;
        height: 100%;
        color: themed('alarm-info-data-content-color');
        font-size: px-to-rem(14);
        text-overflow: ellipsis;
        white-space: normal;
        line-height: px-to-rem(32);

        .custom-tree-node-label {
          display: flex;
          align-items: center;
          width: 100%;

          .people-tree-img {
            margin-left: px-to-rem(2);
          }

          .node-label {
            overflow: hidden;
            margin: 0 px-to-rem(4) 0 0;
            color: themed('alarm-detail-compare-arrow-color');
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .node-label-checked {
            color: themed('alarm-plan-table-option-text-color') !important;
          }
        }
        .current-camera{
          color: themed('alarm-plan-table-option-text-color');
        }
      }
    }
  }
}
.suppress-tree-img {
  @include themeify(false) {
    color: themed('alarm-list-bg-color-item-icon');
    font-size: px-to-rem(18);
    width: px-to-rem(18);
    height: px-to-rem(18);
    margin-top: px-to-rem(4);
    margin-right: px-to-rem(8);
  }
}

// 无数据
.y-select-dropdown
  .el-select-dropdown__item
  .people-option-tree-div
  ::v-deep
  .el-tree
  .el-tree__empty-block {
  @include themeify(false) {
    min-height: px-to-rem(180);

    .el-tree__empty-text {
      display: flex;
      flex-direction: column;
      color: themed('alarm-detail-compare-arrow-color');

      &::before {
        // content: themed('no-data-img');
        // width: px-to-rem(98);
        // height: px-to-rem(98);
        content: '';
        display: block;
        margin-bottom: px-to-rem(10);
        width: px-to-rem(68);
        height: px-to-rem(68);
        background: themed('tree-default-no-date');
        background-size: 100% 100% !important;
      }
    }
  }
}
::v-deep(.el-tag.el-tag--info) {
  //   height: px-to-rem(24);
  background-color: rgba(#4f9fff, 0.2);
  border-radius: px-to-rem(4);
  font-size: px-to-rem(12);
  color: #fff;
  border: none;
}
::v-deep(.el-select-dropdown
    .el-popper
    .alarm-select-dropdown
    .y-select-dropdown
    .select-tree-dropdown) {
  width: px-to-rem(235) !important;
}
::v-deep(.custom-select-dropdown-alarmSelect) {
  position: absolute !important;
  top: px-to-rem(32) !important;
  left: 0 !important;
}

::v-deep(.el-form-item__content) {
  margin-left: 0 !important;
}
::v-deep(.el-form-item) {
  margin-bottom: 0 !important;
}
.channel-tips {
  width: px-to-rem(240);
  margin-left: px-to-rem(10);
  text-align: center;
  line-height: px-to-rem(16);
  font-size: px-to-rem(14);
}
.over-tips {
  width: px-to-rem(346);
  margin-left: px-to-rem(10);
  text-align: center;
  line-height: px-to-rem(16);
  font-size: px-to-rem(14);
}
::v-deep .el-input__icon.el-input__validateIcon.el-icon-circle-check {
  display: none !important;
}
::v-deep .el-input__icon.el-input__validateIcon.el-icon-circle-close {
  display: none !important;
}
