@import '../mixins/px-to-rem';
.el-select-dropdown.AiAlarmMultipleSelect{
    .el-select-dropdown__item{
        &.selected{
            background-color: transparent !important;
            &::after{
                content: none;
            }
        }
        .el-checkbox{
            pointer-events: none;
            .el-checkbox__label{
                padding-left: px-to-rem(6);
            }
        }
    }
}
[data-theme="theme-aquamarine"] .el-select-dropdown.AiAlarmMultipleSelect{
    .el-select-dropdown__item{
        .el-checkbox{
            &.is-checked .el-checkbox__label{
                color: #F9FF6C !important;
            }
        }
    }
}