@import '../mixins/px-to-rem';

.filter-box {
    &-container {
        
        padding: px-to-rem(12);
        position: absolute;
        left: px-to-rem(12);
        right: px-to-rem(12);
        top: px-to-rem(38);
        background: #172537;
        border-radius: px-to-rem(4);
        z-index: 1;
        .marginBottom12{
            margin-bottom: px-to-rem(12);
        }
        .el-select,.el-date-editor.datePicker{
            width: 100%;
            ::v-deep{
                .el-input__inner{
                    height: px-to-rem(32);
                    line-height: px-to-rem(32);
                }
            }
        }
        .datePicker {
            padding: 0 0 0  px-to-rem(12);
            width: 100%;
            ::v-deep {
                .el-range-separator {
                    height: px-to-rem(32);
                    line-height: px-to-rem(32);
                }
                .iconfont_tools.icon-tongyong-shaixuanriqi{
                    margin-right: px-to-rem(8);
                    display: flex;
                    align-items: center;
                    width: auto;
                    height: auto;
                    line-height: normal;
                    &::before{
                        margin: 0;
                    }
                }
                .el-input__icon.el-range__close-icon{
                    display: none;
                }
                .el-range-separator{
                    padding: 0 px-to-rem(12) 0 0;
                }
                .el-range-input{
                    text-align: left;
                }
            }
        }
    }
    
    &-label{
        margin-bottom: px-to-rem(12);
        font-size: px-to-rem(16);
        color: var(--text-ordinary-color);
        text-shadow: 0 0 px-to-rem(10) var(--text-shadow-color);
    }
    &-Tags{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: px-to-rem(6);
        grid-column-gap: px-to-rem(7);
        margin-bottom: px-to-rem(6);
        font-size: px-to-rem(14);
        color: var(--text-ordinary-color);
        text-align: center;
        span{
            width: 100%;
            height: px-to-rem(32);
            line-height: px-to-rem(30);
            border-radius: px-to-rem(4);
            border: px-to-rem(1) solid var(--line-color);
            cursor: pointer;
            &.active{
                color: var(--active-color);
                border-color: currentColor;
            }
        }
    }
    &-btns{
        display: flex;
        justify-content: center;
        .el-button{
            width: px-to-rem(108);
            & + .el-button{
                margin-left: px-to-rem(12);
            }
        }
    }
}

// 林业
[data-theme="theme-aquamarine"] .filter-box{
    &-container {
        background: linear-gradient( 180deg, rgba(0,67,63,0.85) 0%, rgba(0,19,30,0.74) 21%, #00131E 100%);
        border: px-to-rem(1) solid #075B4A;
    }
    
    &-Tags{
        span{
            background: rgba(2,137,109,0.1);
            border-color: rgba(2, 137, 109,0.5);
            &.active{
                border-color: currentColor;
            }
        }
    }
}


// 国土
[data-theme="theme-terracotta"] .filter-box{
    &-container {
        background: rgba(23,20,11,0.9);
        border: px-to-rem(1) solid #6E674E;
    }
}