@import "../mixins/px-to-rem";

.change-password-confirm {
  background: none !important;
  border-radius: px-to-rem(8) !important;
  border: 0 !important;
  width: auto !important;
  min-width: px-to-rem(320);
  max-width: px-to-rem(360);
  box-shadow: none !important;
  position: relative;
  z-index: 2;
  overflow: visible !important;
  cursor: default;
  padding: 0 !important;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: rgba(23, 37, 55, 0.90);
    border-radius: inherit;
  }

  .el-message-box__header {
    padding: 0;
    height: px-to-rem(48);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:before{
      content: "";
      width: px-to-rem(116);
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: url("~@component-gallery/assets/image/password-expiration/nav_bottom.png") no-repeat bottom center / 100% auto;
      pointer-events: none;
    }
    &:after{
      content: "";
      width: 100%;
      height: px-to-rem(1);
      background: linear-gradient(90deg, rgba(234, 244, 255, 0), rgba(234, 244, 255, 1), rgba(234, 244, 255, 0));
      position: absolute;
      left: 0;
      bottom: 0;
      pointer-events: none;
    }

    .el-message-box__title {
      font-size: px-to-rem(16);
      color: #E8F3FE;
      text-align: center;
      font-weight: 500;
    }

    .el-message-box__headerbtn {
      width: px-to-rem(38);
      height: px-to-rem(38);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 12;
      background: url("~@component-gallery/assets/image/password-expiration/close-ty.png") no-repeat center / 100% 100%;
      transform: translate(50%, -50%);
      cursor: pointer;
      .el-icon-close {
        display: none;
      }
    }
  }

  .el-message-box__content {
    padding: px-to-rem(24) px-to-rem(26);

    .el-message-box__message {
      color: #E8F3FE;
      font-size: px-to-rem(14);
      text-align: center;
      p{
        line-height: px-to-rem(20);
      }
    }
  }

  .el-message-box__btns {
    padding: 0 px-to-rem(12) px-to-rem(12) !important;
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: center !important;

    .el-button {
      width: px-to-rem(108);
      height: px-to-rem(32);
      line-height: px-to-rem(32);
      background: rgba(79,159,255,0.2);
      border-radius: px-to-rem(4);
      border: 0;
      padding: 0;
      color: #E8F3FE;
      font-size: px-to-rem(14);
      margin: 0 0 0 px-to-rem(12) !important;
      position: relative;

      &:last-child {
        margin-left: 0 !important;
      }

      &.el-button--primary {
        background: linear-gradient( 90deg, #4F9FFF 0%, #1373E6 100%);
      }
      &:hover{
        opacity: 0.6;
      }
      &:active{
        opacity: 0.8;
      }
    }
  }
}
