@import "../mixins/px-to-rem";

.change-password-popup{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1099;
  pointer-events: none;
  display: flex;
  background: none;
  backdrop-filter: none;
  &：:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.7);
  }
  .change-password-body{
    pointer-events: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 90%;
    max-height: 90%;
    width: px-to-rem(484);
    height: auto;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(23,37,55,0.9);
      border-radius: px-to-rem(8);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
    .change-password-close {
      width: px-to-rem(38);
      height: px-to-rem(38);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 12;
      background: url("~@component-gallery/assets/image/password-expiration/close-ty.png") no-repeat center / 100% 100%;
      transform: translate(50%, -50%);
      cursor: pointer;
    }
    .change-password-header {
      line-height: px-to-rem(48);
      text-align: center;
      font-size: px-to-rem(16);
      color: #E8F3FE;
      background: linear-gradient(180deg, rgba(132,180,250,0.7) 0%, rgba(132,180,250,0.24) 100%);
      border-radius: px-to-rem(8) px-to-rem(8) 0 0;
      position: relative;
      span {
        font-weight: 600;
      }
    }
    .change-password-content{
      padding: 12px;
      flex: 1;
      overflow: auto;
      background-color: rgba(23,37,55,0.9);
      border-radius: 0 0 px-to-rem(8) px-to-rem(8);
      ::v-deep .change-password-content-label{
        margin-bottom: 12px;
        &.is-error{
          margin-bottom: 0;
        }
        .el-form-item__label{
          font-weight: 400;
          font-size: px-to-rem(14);
          color: #E8F3FE;
          &::before{
            margin-right: 0;
          }
        }
        .el-form-item__content{
          .change-password-content-input{
            width: 100%;
            height: px-to-rem(32);
            line-height: px-to-rem(32);
            background: rgba(79,159,255,0.2);
            border: 0;
            border-radius: px-to-rem(4);
            opacity: 1;
            position: relative;
            &.password-class{
              /* 针对Webkit内核浏览器（如Chrome、Safari） */
              input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 px-to-rem(1000) #233E60 inset !important; /* 背景色，可以根据需要调整颜色 */
                -webkit-text-fill-color: #E8F3FE !important; /* 字体颜色，同样可以调整 */
                border: px-to-rem(10) solid #233E60!important; /* 边框颜色，同样可以调整 */
                padding: 0;
              }
              /* 针对Firefox浏览器 */
              input:-moz-read-only {
                background-color: #233E60 !important; /* 背景色，可以根据需要调整颜色 */
              }
            }
            &:not(.readonly):not(.disabled):hover:before{
              content: "";
              width: 100%;
              height: 100%;
              border: 1px solid rgba(79, 159, 255, 0.6);
              border-radius: inherit;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 2;
              pointer-events: none;
            }
            &:not(.readonly):not(.disabled):focus-within:before, &.active:before{
              content: "";
              width: 100%;
              height: 100%;
              border: 1px solid rgba(79, 159, 255, 1);
              border-radius: inherit;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 2;
              pointer-events: none;
            }
            .el-input__inner{
              height: 100%;
              line-height: inherit;
              background: none;
              border: 0;
              border-radius: inherit;
              color: #E8F3FE;
              font-size: px-to-rem(14);
              transition: border-color 0s;
              padding: 0 px-to-rem(12);

              &::placeholder {
                color: rgba(232,243,254,0.7);
              }
            }
            &.is-disabled{
              opacity: 0.4;
            }
          }
          .el-form-item__error{
            font-weight: 400;
            font-size: px-to-rem(14);
            color: #ED5158;
            line-height: px-to-rem(20);
            text-align: left;
            background: rgba(237,81,88,0.2);
            border-radius: px-to-rem(4);
            padding: px-to-rem(6) px-to-rem(12);
            margin: px-to-rem(6) 0;
            position: unset;
            display: flex;
            align-items: center;
            &::before{
              content: '';
              width: px-to-rem(18);
              height: px-to-rem(18);
              z-index: 12;
              margin-right: px-to-rem(6);
              background: url("~@component-gallery/assets/image/password-expiration/prompt.svg") no-repeat center / 100% 100%;
              cursor: pointer;
            }
          }
        }
      }

      .change-password-buttons{
        display: flex;
        justify-content: center;
        .change-password-button{
          display: inline-block;
          height: px-to-rem(32);
          width: px-to-rem(108);
          line-height: px-to-rem(32);
          text-align: center;
          padding: 0 px-to-rem(12);
          margin: 0 px-to-rem(6);
          border-radius: px-to-rem(4);
          background: rgba(79,159,255,0.2);
          color: #E8F3FE;
          font-size: px-to-rem(14);
          cursor: pointer;
          font-weight: normal;
          font-style: normal;

          &[submit],
          &.submit,
          &.on {
            background: linear-gradient(90deg, #4F9FFF 0%, #1373E6 100%);
          }
          &:hover {
            opacity: 0.6;
          }
          &:active {
            opacity: 0.8;
          }
          &[disabled],
          &.disabled {
            text-shadow: none;
            cursor: not-allowed;
            opacity: 0.4;
          }
        }
      }
    }
  }
}
