@import "../mixins/px-to-rem";

.expiration-background{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1099;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  .expiration-container{
    width: px-to-rem(484);
    height: px-to-rem(262);
    background: rgba(23,37,55,0.9);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .expiration-close{
      width: px-to-rem(38);
      height: px-to-rem(38);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 99;
      background: url("~@component-gallery/assets/image/password-expiration/close-ty.png") no-repeat center / 100% 100%;
      transform: translate(50%, -50%);
      cursor: pointer;
    }
    .expiration-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: px-to-rem(24);
      height: 100%;
      .expiration-content-img{
        width: px-to-rem(64);
        height: px-to-rem(64);
        text-align: center;
        position: relative;
        &::before{
          background: url("~@component-gallery/assets/image/password-expiration/expiration-icon-ty.png") no-repeat center / 100% 100%;;
          position: absolute;
          top: 0;
          left: 0;
          background-size: 100% 100%;
          content: '';
          width: px-to-rem(64);
          height: px-to-rem(64);
        }
      }
      .expiration-content-title{
        height: px-to-rem(24);
        font-weight: 400;
        font-size: px-to-rem(16);
        color: #E8F3FE;
        line-height: px-to-rem(24);
        text-align: center;
        margin: px-to-rem(12) 0;
      }
      .expiration-content-tip{
        font-weight: 400;
        font-size: px-to-rem(14);
        line-height: px-to-rem(22);
        text-align: justify;
        .grey{
          color: rgba(232,243,254,0.7);
        }
        .blue{
          color: #4F9FFF;
        }
      }
      .expiration-content-button {
        width: px-to-rem(108);
        line-height: px-to-rem(32);
        text-align: center;
        background: linear-gradient(90deg, #4F9FFF 0%, #1373E6 100%);
        border-radius: px-to-rem(4);
        color: #E8F2FE;
        cursor: pointer;
        font-size: px-to-rem(14);
        margin-top: px-to-rem(24);
        &:hover {
          background: linear-gradient(90deg, rgba(79, 159, 255, .6) 0%, rgba(19, 115, 230, .6) 100%);
        }
      }
    }
  }
}

