<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinatower.wetland.mappper.PestLightRecordMapper">
    <delete id="deleteAll">
        delete from pest_light_record
    </delete>


    <select id="pestLightDevice" resultType="com.chinatower.wetland.pojo.entity.PestLight">
        select id,
                   device_name  device_name,
            device_code   deviceCode,
            device_type  deviceType,
            longitude,
            latitude,
            province_code  provinceCode,
            province_name  provinceName,
            city_code  cityCode,
            city_name  cityName,
            county_code  countyCode,
            county_name  countyName,
            town_code  townCode,
            town_name  townName,
            device_address  deviceAddress,
            create_time  createTime,
            tenant_id   tenantId,
            industry_code  industryCode
        from   pest_light  where tenant_id = #{tenantId}
    </select>
</mapper>