@import '../mixins/mixins';
@import '../mixins/theme-mixins';
@import '../mixins/px-to-rem';
@import '../mixins/px-to-rem.scss';

.common-comp-fire-warning_func_area {
  @include themeify(false) {
    margin-bottom: px-to-rem(12);
    width: 100%;
  
    .fire-warn {
      width: 100%;
      height: 100%;
  
      .title-box {
        display: flex;
        width: 100%;
        height: px-to-rem(48);
  
        .title {
          width: px-to-rem(315);
          height: px-to-rem(48);
          color: themed('fire-warning-color-title');
          font-size: px-to-rem(16);
          font-weight: 600;
          line-height: px-to-rem(48);
        }
  
        .expand-fold {
          position: absolute;
          right: px-to-rem(20);
          width: px-to-rem(20);
          height: px-to-rem(20);
          color: themed('fire-warning-color-expand-fold');
          font-size: px-to-rem(20);
          line-height: px-to-rem(20);
          cursor: pointer;
        }
  
        .heatmap {
          position: absolute;
          top: px-to-rem(14);
          right: px-to-rem(50);
          width: px-to-rem(20);
          height: px-to-rem(20);
          color: themed('fire-warning-color-heatmap');
          font-size: px-to-rem(20);
          line-height: px-to-rem(20);
          cursor: pointer;
        }
  
        .heatmap.choose {
          color: themed('fire-warning-color-heatmap-choose');
        }
  
        .fold {
          top: px-to-rem(15);
          transform: rotate(270deg);
        }
  
        .expand {
          top: px-to-rem(13);
          transform: rotate(90deg);
        }
      }
    }
  
    .chart-modal {
      height: px-to-rem(188);
    }
  
    .tree-div {
      overflow: hidden;
  
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: px-to-rem(1);
        opacity: 0.7;
        content: '';
      }
    }
  
    .war-animation {
      position: absolute;
      top: px-to-rem(10);
      left: px-to-rem(166);
      width: px-to-rem(28);
      height: px-to-rem(28);
      cursor: pointer;
    }
  
    .data-content {
      height: calc(100% - px-to-rem(188));
    }
  
    .fire-warn-box {
      z-index: 102;
      margin-bottom: px-to-rem(12);
      width: 100%;
      height: 100%;
      .tree-div {
        &::before {
          background: themed('fire-warning-bg-tree-div-before');
        }
      }
    }
    
  }
  
}
.open-fire-list {
  // 火险列表展开
  height: calc(100% - px-to-rem(60));
}
.half-open-fire-list {
  // 火险列表半展开
  height: calc(100% - px-to-rem(332));
}
.close-fire-list {
  // 火险列表关闭
  height: px-to-rem(188);
}