@import '../../mixins/mixins';
@import "../../mixins/theme-mixins";
@import '../../mixins/px-to-rem';

.lock {
  @include themeify(false) {
    width: px-to-rem(108);
    height: px-to-rem(32);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 px-to-rem(6) 0 px-to-rem(12);
    border-radius: px-to-rem(4);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    i {
      font-size: px-to-rem(20);
      color: #e8f3fe;
      cursor: pointer;
      margin-left: px-to-rem(6);
    }
    .time {
      font-size: px-to-rem(14);
      color: rgba(232, 243, 254, 0.7);
    }
    &.locking {
      justify-content: space-between;
      background: rgba(79, 159, 255, 0.2);
    }
  }
}

