@import '../../mixins/mixins';
@import '../../mixins/theme-mixins';
@import '../../mixins/px-to-rem';

.video-records {
  @include themeify() {
    display: flex;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    flex: 1;
    flex-direction: column;

    .con-top {
      display: flex;
      justify-content: space-between;
      padding: 0 px-to-rem(12);
      flex-wrap: wrap;

      .c-select {
        margin-top: px-to-rem(12);
        width: calc(50% - px-to-rem(3));
      }

      .c-button {
        margin-top: px-to-rem(12);
        width: calc(50% - px-to-rem(3));
      }

      ::v-deep .el-input__icon.el-range__close-icon {
        width: 0;
      }
    }

    .con-bottom {
      position: relative;
      overflow: hidden;
      margin-top: px-to-rem(12);
      flex: 1;

      .record-list {
        width: 100%;
        color: #fff;

        .item {
          position: relative;
          display: flex;
          align-items: center;
          padding: 0 px-to-rem(12);
          height: px-to-rem(45);
          line-height: 1;

          span {
            overflow: hidden;
            font-size: px-to-rem(12);
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
          }

          i {
            margin-left: px-to-rem(6);
            font-size: px-to-rem(20);
            cursor: pointer;

            &:hover {
              opacity: 0.6;
            }

            &:active {
              opacity: 0.8;
            }
          }

          &::after {
            position: absolute;
            bottom: 0;
            left: px-to-rem(12);
            width: calc(100% - px-to-rem(24));
            height: px-to-rem(1);
            background: rgb(255 255 255 / 20%);
            content: '';
          }

          &:last-child::after {
            display: none;
          }

          &:hover,
          &.on {
            background: rgb(255 255 255 / 20%);
          }
        }
      }
    }

    .con-page {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 px-to-rem(12);
      margin-bottom: px-to-rem(-12);
      width: 100%;
      height: px-to-rem(46);
      background: rgb(0 0 0 / 70%);

      .total {
        margin-right: px-to-rem(6);
        color: #fff;
        font-size: px-to-rem(12);
      }

      .el-pagination {
        overflow: hidden;
        padding: 0;
        margin: 0;

        ::v-deep button,
        ::v-deep li {
          padding: 0 px-to-rem(4);
          margin: 0 px-to-rem(2);
          min-width: px-to-rem(22);
          height: px-to-rem(22);
          background: none !important;
          color: #fff !important;
          line-height: px-to-rem(22);

          &::before {
            line-height: inherit;
          }

          i {
            line-height: px-to-rem(24);
          }

          &:hover {
            opacity: 0.6;
          }

          &:active {
            opacity: 0.8;
          }

          &.active {
            background: rgb(255 255 255 / 20%) !important;
            border-radius: px-to-rem(4);
            opacity: 1;
          }

          &:disabled {
            opacity: 0.4;
          }
        }
      }
    }
  }
}
