@import '../../mixins/mixins';
@import "../../mixins/theme-mixins";
@import '../../mixins/px-to-rem';

.c-popup.z-index-popup {
  z-index: 20009 !important;
}

.c-popup.hide {
  display: none !important;
}

.c-popup {
  @include themeify() {
    .popup-body {
      width: px-to-rem(932);
      height: px-to-rem(424);
    }

    /* 头部标题 */

    /* 内容盒子 */
    .content-box {
      padding: px-to-rem(12) px-to-rem(12);

      /* 内容头部tab盒子 */

      /* 表格内容 */
      .content-table-box {
        width: 100%;
        height: auto;

        .table-box {
          margin-bottom: px-to-rem(12);
          width: 100%;

          /* 表格 */
          ::v-deep .el-table {
            background: transparent;
            font-size: px-to-rem(14);

            &::before {
              background: transparent;
            }

            /* 表格头部 */
            .el-table__header-wrapper {
              .el-table__header {
                .has-gutter {
                  .is-leaf {
                    padding: 0;
                    background: rgb(79 159 255 / 20%);
                    color: #e8f1fd;
                    border-bottom: 1px solid rgb(232 243 254 / 20%);

                    .cell {
                      height: px-to-rem(32);
                      color: #e8f3fe;
                      font-size: px-to-rem(14);
                      line-height: px-to-rem(32);
                    }
                  }
                }
              }
            }

            /* 表格内容 */
            .el-table__body-wrapper {
              /* 无数据 */
              .el-table__empty-block {
                position: relative;
                height: px-to-rem(240) !important;

                .el-table__empty-text {
                  position: static !important;
                  display: flex !important;
                  justify-content: center;
                  align-items: center;
                  padding-top: px-to-rem(46);
                  width: 100% !important;
                  height: 100% !important;
                  color: #e8f3fe !important;
                  flex-direction: column;
                  line-height: 1;

                  &::before {
                    position: static !important;
                    display: block;
                    margin: 0 0 px-to-rem(12) 0 !important;
                    width: px-to-rem(68);
                    height: px-to-rem(68);
                    background: url('~@component-gallery/assets/image/video/noData.png') no-repeat
                    center / 100% 100% !important;
                    content: '';
                  }
                }
              }

              /* 有数据 */
              .el-table__body {
                .el-table__row {
                  height: px-to-rem(32);
                  line-height: px-to-rem(32);

                  td {
                    border-bottom: 1px solid rgb(232 243 254 / 20%);
                  }

                  .el-table__cell {
                    padding: px-to-rem(12) 0;
                  }
                }

                .current-row {
                  td {
                    background: transparent;

                    div {
                      color: #e8f3fe !important;
                      font-size: px-to-rem(14);
                      font-weight: normal;
                    }
                  }
                }
              }
            }
          }

          ::v-deep .el-table--enable-row-hover .el-table__body tr:hover > td {
            background: transparent;
          }

          ::v-deep .el-table th.el-table__cell.is-leaf {
            background: transparent;
            color: #e8f3fe !important;
          }

          ::v-deep .el-table th.el-table__cell > .cell {
            color: #e8f3fe !important;
          }

          ::v-deep .el-table tr {
            background: transparent !important;
          }

          ::v-deep .el-table .cell {
            padding: 0 px-to-rem(12);
            line-height: px-to-rem(23);
            color: #e8f3fe !important;
          }

          /* 列表 分页 */
          .pagination-box {
            position: absolute;
            right: px-to-rem(12);
            bottom: px-to-rem(12);
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: px-to-rem(22);
            font-size: px-to-rem(12);
            line-height: px-to-rem(22);

            .page-number {
              height: px-to-rem(22);
              font-weight: 400;
              color: #e8f3fe;
              line-height: px-to-rem(22);
            }

            ::v-deep .el-pagination {
              padding: 0 !important;

              .btn-prev,
              .btn-next {
                padding: 0;
                margin-left: px-to-rem(6);
                width: px-to-rem(20);
                min-width: unset;
                height: px-to-rem(22);
                line-height: px-to-rem(22);

                .el-icon {
                  font-size: px-to-rem(12);

                  &::before {
                    position: relative;
                    top: px-to-rem(1.5);
                  }
                }
              }

              .el-pager .number {
                padding: 0;
                margin-left: px-to-rem(6);
                width: px-to-rem(22);
                min-width: unset;
                height: px-to-rem(22);
                border-radius: px-to-rem(4);
                font-size: px-to-rem(12);
                box-sizing: border-box;
                line-height: px-to-rem(22);
              }
            }

            ::v-deep .el-pagination .el-pager li,
            ::v-deep .el-pagination .btn-next,
            ::v-deep .el-pagination .btn-prev {
              background: transparent !important;
              color: #fff !important;
            }

            ::v-deep .el-pagination .btn-next:disabled,
            ::v-deep .el-pagination .btn-prev:disabled {
              opacity: 0.4 !important;
            }

            ::v-deep .el-pagination .el-pager li.active {
              background: #4f9fff !important;
              border-radius: px-to-rem(4) !important;
              color: #fff !important;
            }
          }
        }
      }

      /* 列表按钮 */
      .y-table-btn {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        //justify-content: center;

        .table-btn {
          padding: 0;
          height: px-to-rem(32);
          color: #e8f3fe;

          ::v-deep .table-btn-icon {
            font-size: px-to-rem(24);
          }
        }

        .disable-table-btn {
          opacity: 0.4;
        }
      }
    }

    .table-div {
      overflow: hidden;
      width: 100%;
      height: auto;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .table-div-left {
      overflow: hidden;
      width: 100%;
      height: auto;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
