@import '../../mixins/mixins';
@import "../../mixins/theme-mixins";
@import '../../mixins/px-to-rem';

.c-popup {
  @include themeify() {
    .popup-body {
      width: px-to-rem(800);
      height: auto;
    }

    .content-box {
      padding: px-to-rem(12);

      /* 表格盒子 */
      .content-table-box {
        overflow: hidden;
        width: 100%;

        ::v-deep .el-table {
          background: transparent;
          font-size: px-to-rem(14);

          &::before {
            background: transparent;
          }

          /* 表格头部 */
          .el-table__header-wrapper {
            .el-table__header {
              width: 100% !important;

              .has-gutter {
                .is-leaf {
                  padding: 0;
                  background: rgb(79 159 255 / 20%);
                  color: #e8f3fe;
                  border-bottom: 1px solid rgb(232 243 254 / 20%);

                  .cell {
                    height: px-to-rem(32);
                    color: #e8f3fe;
                    font-size: px-to-rem(14);
                    line-height: px-to-rem(32);
                  }
                }
              }
            }
          }

          /* 表格内容 */
          .el-table__body-wrapper {
            overflow: hidden auto;
            height: px-to-rem(285);

            /* 有数据 */
            .el-table__body {
              width: 100% !important;

              .el-table__row {
                height: px-to-rem(32);
                line-height: px-to-rem(32);

                td {
                  border-bottom: 1px solid rgb(232 243 254 / 20%);
                }

                .el-table__cell {
                  padding: px-to-rem(12) 0;
                }
              }

              .current-row {
                td {
                  background: transparent;

                  div {
                    color: #e8f3fe !important;
                    font-size: px-to-rem(14);
                    font-weight: normal;
                  }
                }
              }
            }
          }
        }

        ::v-deep .el-table--enable-row-hover .el-table__body tr:hover > td {
          background: transparent;
        }

        ::v-deep .el-table th.el-table__cell.is-leaf {
          background: transparent;
          color: #e8f3fe !important;
        }

        ::v-deep .el-table th.el-table__cell > .cell {
          color: #e8f3fe !important;
        }

        ::v-deep .el-table tr {
          background: transparent !important;
        }

        ::v-deep .el-table .cell {
          padding: 0 px-to-rem(12);
          color: #e8f3fe !important;
        }
      }

      .table-name-div {
        overflow: hidden;
        width: 100%;

        //padding-right: px-to-rem(10);
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      /* 日期控件图标替换，间距调整 */
      ::v-deep .y-data-editor-picker {
        padding: 0 px-to-rem(8) !important;

        //width: calc(100% - px-to-rem(30)) !important;
        width: 100% !important;

        .el-range__icon {
          margin-left: px-to-rem(-4) !important;

          &::before {
            content: '\e974';
            font-family: iconfont;
          }
        }

        .el-range__close-icon {
          display: none !important;
        }
      }

      /* 列表按钮 */
      .y-table-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: px-to-rem(24);

        .table-btn {
          color: #e8f3fe;

          ::v-deep .table-btn-icon {
            font-size: px-to-rem(24);
          }
        }

        .disable-table-btn {
          opacity: 0.4;
        }
      }

      //底部按钮
      .bottom-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: px-to-rem(12);
        width: 100%;

        .btn {
          width: px-to-rem(108);
          height: px-to-rem(32);
        }
      }
    }

    .content-box {
      .content-table-box {
        ::v-deep .el-checkbox {
          color: #e8f2fe;
          font-size: px-to-rem(14);

          .el-checkbox__input.is-checked + .el-checkbox__label {
            color: #e8f2fe;
          }

          .el-checkbox__inner {
            width: px-to-rem(16);
            height: px-to-rem(16);
            background: none;
            border-color: #1373e6;
            border-radius: px-to-rem(3) !important;

            &::after {
              position: absolute;
              top: px-to-rem(2);
              left: px-to-rem(5);
              width: px-to-rem(3);
              height: px-to-rem(7);
              border: px-to-rem(2) solid #fff;
              transition: transform 0.15s ease-in 0.05s;
              box-sizing: content-box;
              content: '';
              border-left: 0;
              border-top: 0;
              transform-origin: center;
            }
          }

          .is-checked .el-checkbox__inner {
            background: #1373e6;
            border-color: #1373e6;
          }

          .el-checkbox__input.is-indeterminate .el-checkbox__inner {
            background: #1373e6;
            border-color: #1373e6;

            &::before {
              height: px-to-rem(4);
            }
          }
        }
      }
    }
  }
}

.c-popup.z-index-popup {
  z-index: 20009 !important;
}
