@import 'common/var';
@import 'mixins/mixins';
@import 'mixins/_button';
@import 'mixins/utils';
@import '~@component-gallery/theme-chalk/src/mixins/px-to-rem';

@include b(checkbox) {
  position: relative;
  display: inline-block;
  margin-right: px-to-rem(30);
  color: $--checkbox-font-color;
  font-size: $--font-size-base;
  white-space: nowrap;
  font-weight: $--checkbox-font-weight;
  cursor: pointer;
  user-select: none;

  @include when(bordered) {
    padding: $--checkbox-bordered-padding;
    height: $--checkbox-bordered-height;
    border: $--border-base;
    border-radius: $--border-radius-base;
    box-sizing: border-box;
    line-height: normal;

    &.is-checked {
      border-color: $--color-primary;
    }

    &.is-disabled {
      border-color: $--border-color-lighter;
      cursor: not-allowed;
    }

    & + .el-checkbox.is-bordered {
      margin-left: px-to-rem(10);
    }

    &.el-checkbox--medium {
      padding: $--checkbox-bordered-medium-padding;
      height: $--checkbox-bordered-medium-height;
      border-radius: $--button-medium-border-radius;

      .el-checkbox__label {
        line-height: px-to-rem(17);
        font-size: $--button-medium-font-size;
      }

      .el-checkbox__inner {
        width: $--checkbox-bordered-medium-input-width;
        height: $--checkbox-bordered-medium-input-height;
      }
    }

    &.el-checkbox--small {
      padding: $--checkbox-bordered-small-padding;
      height: $--checkbox-bordered-small-height;
      border-radius: $--button-small-border-radius;

      .el-checkbox__label {
        line-height: px-to-rem(15);
        font-size: $--button-small-font-size;
      }

      .el-checkbox__inner {
        width: $--checkbox-bordered-small-input-width;
        height: $--checkbox-bordered-small-input-height;

        &::after {
          width: px-to-rem(2);
          height: px-to-rem(6);
        }
      }
    }

    &.el-checkbox--mini {
      padding: $--checkbox-bordered-mini-padding;
      height: $--checkbox-bordered-mini-height;
      border-radius: $--button-mini-border-radius;

      .el-checkbox__label {
        line-height: px-to-rem(12);
        font-size: $--button-mini-font-size;
      }

      .el-checkbox__inner {
        width: $--checkbox-bordered-mini-input-width;
        height: $--checkbox-bordered-mini-input-height;

        &::after {
          width: px-to-rem(2);
          height: px-to-rem(6);
        }
      }
    }
  }

  @include e(input) {
    position: relative;
    display: inline-block;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    line-height: 1;
    vertical-align: middle;

    @include when(disabled) {
      .el-checkbox__inner {
        background-color: $--checkbox-disabled-input-fill;
        border-color: $--checkbox-disabled-border-color;
        cursor: not-allowed;

        &::after {
          cursor: not-allowed;
          border-color: $--checkbox-disabled-icon-color;
        }

        & + .el-checkbox__label {
          cursor: not-allowed;
        }
      }

      &.is-checked {
        .el-checkbox__inner {
          background-color: $--checkbox-disabled-checked-input-fill;
          border-color: $--checkbox-disabled-checked-input-border-color;

          &::after {
            border-color: $--checkbox-disabled-checked-icon-color;
          }
        }
      }

      &.is-indeterminate {
        .el-checkbox__inner {
          background-color: $--checkbox-disabled-checked-input-fill;
          border-color: $--checkbox-disabled-checked-input-border-color;

          &::before {
            background-color: $--checkbox-disabled-checked-icon-color;
            border-color: $--checkbox-disabled-checked-icon-color;
          }
        }
      }

      & + span.el-checkbox__label {
        color: $--disabled-color-base;
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .el-checkbox__inner {
        background-color: $--checkbox-checked-background-color;
        border-color: $--checkbox-checked-input-border-color;

        &::after {
          transform: rotate(45deg) scaleY(1);
        }
      }

      & + .el-checkbox__label {
        color: $--checkbox-checked-font-color;
      }
    }

    @include when(focus) {
      /* focus时 视觉上区分 */
      .el-checkbox__inner {
        border-color: $--checkbox-input-border-color-hover;
      }
    }

    @include when(indeterminate) {
      .el-checkbox__inner {
        background-color: $--checkbox-checked-background-color;
        border-color: $--checkbox-checked-input-border-color;

        //&::before {
        //  position: absolute;
        //  top: 5px;
        //  right: 0;
        //  left: 0;
        //  display: block;
        //  height: 2px;
        //  background-color: $--checkbox-checked-icon-color;
        //  content: '';
        //  transform: scale(0.5);
        //}

        &::after {
          display: none;
        }
      }
    }
  }

  @include e(inner) {
    position: relative;
    z-index: $--index-normal;
    display: inline-block;
    width: $--checkbox-input-width;
    height: $--checkbox-input-height;
    background-color: $--checkbox-background-color;
    border: $--checkbox-input-border;
    border-radius: $--checkbox-border-radius;
    transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
      background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
    box-sizing: border-box;

    &:hover {
      border-color: $--checkbox-input-border-color-hover;
    }

    //&::after {
    //  position: absolute;
    //  top: 1px;
    //  left: 4px;
    //  width: 3px;
    //  height: 7px;
    //  border: 1px solid $--checkbox-checked-icon-color;
    //  transition: transform 0.15s ease-in 0.05s;
    //  box-sizing: content-box;
    //  content: '';
    //  border-left: 0;
    //  border-top: 0;
    //  transform: rotate(45deg) scaleY(0);
    //  transform-origin: center;
    //}
  }

  @include e(original) {
    position: absolute;
    z-index: -1;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
  }

  @include e(label) {
    display: inline-block;
    padding-left: px-to-rem(10);
    line-height: px-to-rem(19);
    font-size: $--checkbox-font-size;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

@include b(checkbox-button) {
  position: relative;
  display: inline-block;

  @include e(inner) {
    position: relative;
    display: inline-block;
    margin: 0;
    background: $--button-default-background-color;
    border: $--border-base;
    outline: none;
    transition: $--all-transition;
    color: $--button-default-font-color;
    text-align: center;
    white-space: nowrap;
    line-height: 1;
    font-weight: $--checkbox-font-weight;
    vertical-align: middle;
    cursor: pointer;
    border-left: 0;
    appearance: none;
    box-sizing: border-box;

    @include utils-user-select(none);
    @include button-size(
      $--button-padding-vertical,
      $--button-padding-horizontal,
      $--button-font-size,
      0
    );

    &:hover {
      color: $--color-primary;
    }

    & [class*='el-icon-'] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  @include e(original) {
    position: absolute;
    z-index: -1;
    margin: 0;
    opacity: 0;
    outline: none;
  }

  &.is-checked {
    & .el-checkbox-button__inner {
      background-color: $--checkbox-button-checked-background-color;
      border-color: $--checkbox-button-checked-border-color;
      box-shadow: -1px 0 0 0 $--color-primary-light-4;
      color: $--checkbox-button-checked-font-color;
    }

    &:first-child .el-checkbox-button__inner {
      border-left-color: $--checkbox-button-checked-border-color;
    }
  }

  &.is-disabled {
    & .el-checkbox-button__inner {
      background-color: $--button-disabled-background-color;
      border-color: $--button-disabled-border-color;
      box-shadow: none;
      color: $--button-disabled-font-color;
      cursor: not-allowed;
      background-image: none;
    }

    &:first-child .el-checkbox-button__inner {
      border-left-color: $--button-disabled-border-color;
    }
  }

  &:first-child {
    .el-checkbox-button__inner {
      border-left: $--border-base;
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
    }
  }

  &.is-focus {
    & .el-checkbox-button__inner {
      border-color: $--checkbox-button-checked-border-color;
    }
  }

  &:last-child {
    .el-checkbox-button__inner {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
  }

  @include m(medium) {
    .el-checkbox-button__inner {
      @include button-size(
        $--button-medium-padding-vertical,
        $--button-medium-padding-horizontal,
        $--button-medium-font-size,
        0
      );
    }
  }

  @include m(small) {
    .el-checkbox-button__inner {
      @include button-size(
        $--button-small-padding-vertical,
        $--button-small-padding-horizontal,
        $--button-small-font-size,
        0
      );
    }
  }

  @include m(mini) {
    .el-checkbox-button__inner {
      @include button-size(
        $--button-mini-padding-vertical,
        $--button-mini-padding-horizontal,
        $--button-mini-font-size,
        0
      );
    }
  }
}

@include b(checkbox-group) {
  font-size: 0;
}
