/* stylelint-disable scss/operator-no-unspaced */
.deviceWindowsIdviceWindowsId.attrDotDetailsBox {
  position: relative;
  z-index: 100;
  width: 364px !important;
  background: linear-gradient(
    180deg,
    rgb(0 19 30 / 70%) 0%,
    #00131e 100%
  ) !important;
  border: 1px solid;
  border-radius: 0 !important;
  color: #fff !important;
  user-select: none;
  border-image: linear-gradient(
      180deg,
      rgb(7 91 74 / 50%),
      rgb(7 91 74 / 75%),
      rgb(7 91 74 / 50%)
    )
    1 1;
  font-size: 0.16rem;

  &::before {
    position: absolute;
    bottom: -1px;
    left: -1px;
    z-index: 10;
    width: 21px;
    height: 25px;
    background: url('~@component-gallery/assets/image/border-corner-l.svg')
      no-repeat;
    content: '';
  }

  &::after {
    position: absolute;
    right: -1px;
    bottom: -1px;
    z-index: 10;
    width: 21px;
    height: 25px;
    background: url('~@component-gallery/assets/image/border-corner-r.svg')
      no-repeat;
    content: '';
  }

  .dotBoxCollectBtn {
    font-size: 20px;
  }

  i {
    &.select {
      color: #f9ff6c;
      cursor: pointer;
    }
  }

  .el-dialog__header {
    position: relative;
    padding: 0 12px 0 0;
    padding-left: 12px !important;
    height: 48px;
    background: linear-gradient(
      91deg,
      rgb(2 137 109 / 20%),
      rgb(2 137 109 / 15%) 23%,
      rgb(2 137 109 / 0%)
    );
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    text-align: left;
    line-height: 34px;

    &::before {
      position: absolute;
      top: -1px;
      left: 0;
      width: 8px;
      height: 1px;
      background: #61fffb;
      content: '';
    }

    &::after {
      position: absolute;
      top: -7px;
      left: 45px;
      width: 36px;
      height: 14px;
      background: url('~@component-gallery/assets/image/card-liner.png')
        no-repeat;
      content: '';
    }

    .name {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 16px;
      width: 100%;
      height: 100%;
      background: url('~@component-gallery/assets/image/cardtitle-bg.png')
        no-repeat;
      color: #fff;

      &::before {
        position: absolute;
        top: 20px;
        left: 0;
        display: block;
        width: 8px;
        height: 8px;
        background: url('~@component-gallery/assets/image/cardheader-star.png')
          center no-repeat;
        background-size: 100% 100%;
        content: '';
      }

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: -13px;
        height: 10px;
        background-position: left 100%;
        background-repeat: no-repeat;
        background-size: 120px 10px;
        content: '';
        background-image: url('~@component-gallery/assets/image/selected-bottom.png');
      }

      h4 {
        overflow: hidden;
        text-shadow: rgb(0 245 193 / 90%) 1px 0 10px;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1 0;
        font-weight: bold;
      }

      .iconfont {
        margin: 0 8px;
        font-size: 18px;
        line-height: 18px;
      }

      .icon-weishoucang {
        cursor: pointer;
      }

      span {
        padding: 0 8px;
        margin-right: 6px;
        background: linear-gradient(90deg, #15bd94 0%, #00a179 100%);
        border-radius: 4px;
        font-size: 12px;
        text-align: center;
        line-height: 20px;

        &.offline {
          background: linear-gradient(90deg, #8fa7cf 0%, #6f85aa 100%);
        }
      }

      .keeperTips {
        margin-right: 0;
        margin-left: 6px;
      }
    }

    .headdivider {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(
        90deg,
        rgb(255 255 255 / 0%) 0%,
        #fff 15%,
        rgb(255 255 255 / 0%) 45%,
        rgb(255 255 255 / 0%) 100%
      );
    }
  }

  .closeImg.attrDetailsBox,
  .closeImg.InfoWindowCloseBtn {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 38px;
    height: 38px;
    background: url('~@component-gallery/assets/image/tool-box/sp-icon_close2x.png') !important;
    background-size: contain !important;
    line-height: 38px;
    cursor: pointer;
  }

  .dotContent {
    .dotTab {
      display: flex;
      margin-top: 7px;
      background: linear-gradient(
          90deg,
          rgb(176 212 255 / 0%),
          rgb(176 212 255 / 35%),
          rgb(176 212 255 / 0%)
        )
        no-repeat 0 100% / 100% 1px;

      .dotTabItem {
        position: relative;
        padding: 9px 0 12px;
        width: 50%;
        text-shadow: 0 0 24px rgb(0 92 245 / 35%);
        color: #0dc985;
        text-align: center;
        cursor: pointer;

        &::after {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 10px;
          background-position: center 100%;
          background-repeat: no-repeat;
          background-size: 160px 10px;
          opacity: 0;
          content: '';
          background-image: url('~@component-gallery/assets/image/xuanzhongbotmline.png');
        }
      }

      .dotTabItem.select {
        text-shadow: 0 0 18px rgb(0 245 193 / 70%);
        color: #fff;
        font-weight: 600;

        &::after {
          opacity: 1;
        }
      }

      .dotTabList {
        position: relative;
        padding: 9px 0 12px;
        width: 50%;
        text-shadow: 0 0 24px rgb(0 92 245 / 35%);
        color: #0dc985;
        text-align: center;
        cursor: pointer;

        &::after {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 10px;
          background-position: center 100%;
          background-repeat: no-repeat;
          background-size: 160px 10px;
          opacity: 0;
          content: '';
          background-image: url('~@component-gallery/assets/image/xuanzhongbotmline.png');
        }
      }

      .dotTabList.select {
        text-shadow: 0 0 18px rgb(0 245 193 / 70%);
        color: #fff;
        font-weight: 600;

        &::after {
          opacity: 1;
        }
      }
    }

    .dotInfoBox {
      padding-left: 12px;
      background: none !important;

      .label_text {
        min-width: 70px;
        max-width: 98px;
        text-align: right;
      }

      .smallClass_Window {
        min-width: 100px;
      }
    }

    .leftDotContent {
      .dotInfoBox {
        .dotInfo {
          padding: 15px 0;
          width: 340px;
          border-bottom: 1px solid rgb(255 255 255 / 20%);
          box-sizing: border-box;

          .attrItem {
            display: flex;
            align-items: center;
            height: 14px;
            line-height: 16px;

            .attrLabel {
              color: rgb(255 255 255 / 70%) !important;
              font-size: 14px;
              flex-shrink: 0;
            }

            .attrValue {
              display: flex;
              align-items: center;
              overflow: hidden;
              font-size: 14px;
              flex-grow: 1;

              span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }

            .icon-one-fuzhi {
              cursor: pointer;
              margin-left: 4px;
              font-size: 18px;
              line-height: 14px;
            }
          }

          .attrItem + .attrItem {
            margin-top: 12px;
          }
        }
      }

      .dotInfoBox.style2.short {
        height: 72px;
      }

      .dotInfoBox.style2 {
        overflow: unset;
        height: 123px;

        .dotInfo {
          overflow: auto;
          padding: 15px 0;
          height: 100%;
        }

        .dotInfo::-webkit-scrollbar {
          width: 6px !important;
          height: 4px !important;
          border-radius: 3px !important;
        }

        .dotInfo::-webkit-scrollbar-thumb {
          background-color: rgb(2 137 109 / 40%);
          border: 0;
          border-radius: 3px;
        }

        .attrLabel {
          &::before {
            position: relative;
            top: -2px;
            display: inline-block;
            margin-right: 4px;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            content: '';
          }
        }

        .attrLabel.offline {
          &::before {
            background: #ed5158;
          }
        }

        .attrLabel.online {
          &::before {
            background: #19e0af;
          }
        }
      }
    }

    .rightDotContent {
      position: relative;
      display: none;
      padding: 6px 12px;
      height: 186px;

      &::after {
        position: absolute;
        right: 16px;
        bottom: 0;
        left: 16px;
        border-bottom: 1px solid rgb(205 227 255 / 24%);
        content: '';
      }

      .imgListBox {
        overflow: hidden;
        height: 100%;

        video::-webkit-media-controls-fullscreen-button {
          display: none;
        }
      }

      .imgList {
        display: flex;
        height: 100%;
        font-size: 0;
        flex-flow: row nowrap;

        .imgItem {
          flex-shrink: 0;
        }

        .imgItem,
        img,
        video {
          width: 100%;
          height: 100%;
        }
      }

      i {
        position: absolute;
        cursor: pointer;

        &.turn-btn-popup {
          position: absolute;
          top: 50%;
          width: 30px;
          height: 30px;
          background: rgb(2 50 32 / 70%) !important;
          border-radius: 50%;
          color: #fff;
          font-size: 18px;
          text-align: center;
          line-height: 30px;
          transform: translateY(-50%);
        }

        &.prev {
          left: 21px;
        }

        &.next {
          right: 21px;
        }

        &.rotateLeft {
          transform: rotate(180deg) translate(0, 50%);
        }

        &.dotBoxFullScreen {
          position: absolute;
          right: 15px;
          bottom: 10px;
          width: 30px;
          height: 30px;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          border-radius: 4px;
          color: #e6f1fc;
          font-size: 20px;
          text-align: center;
          line-height: 30px;
          cursor: pointer;
          background-image: url('~@component-gallery/assets/image/funcicon-bg.png') !important;
        }
      }
    }

    .rightDotContent {
      position: relative;
      display: none;
      padding: 6px 12px;
      height: 186px;

      &::after {
        position: absolute;
        right: 16px;
        bottom: 0;
        left: 16px;
        border-bottom: 1px solid rgb(205 227 255 / 24%);
        content: '';
      }

      .imgListBox {
        overflow: hidden;
        height: 100%;

        video::-webkit-media-controls-fullscreen-button {
          display: none;
        }
      }

      .imgList {
        display: flex;
        height: 100%;
        font-size: 0;
        flex-flow: row nowrap;

        .imgItem {
          flex-shrink: 0;
        }

        .imgItem,
        img,
        video {
          width: 100%;
          height: 100%;
        }
      }

      i {
        position: absolute;
        cursor: pointer;

        &.turn-btn-popup {
          position: absolute;
          top: 50%;
          width: 30px;
          height: 30px;
          background: rgb(2 50 32 / 70%) !important;
          border-radius: 50%;
          color: #fff;
          font-size: 18px;
          text-align: center;
          line-height: 30px;
          transform: translateY(-50%);
        }

        &.prev {
          left: 21px;
        }

        &.next {
          right: 21px;
        }

        &.rotateLeft {
          transform: rotate(180deg) translate(0, 50%);
        }

        &.dotBoxFullScreen {
          position: absolute;
          right: 15px;
          bottom: 10px;
          width: 30px;
          height: 30px;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          border-radius: 4px;
          color: #e6f1fc;
          font-size: 20px;
          text-align: center;
          line-height: 30px;
          cursor: pointer;
          background-image: url('~@component-gallery/assets/image/funcicon-bg.png') !important;
        }
      }
    }

    .ancient_tab_box {
      position: relative;
      width: 100%;
      height: 288px;
    }

    .treesImage {
      position: relative;
      overflow: hidden auto;
      margin: auto;
      width: 100%;
      height: 100%;

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(2 137 109 / 40%) !important;
      }

      .treesImage_content {
        margin: auto;
        width: 340px;

        i.prev {
          left: 20px !important;
        }

        i.next {
          right: 20px !important;
        }

        i.turn-btn-popup {
          top: 37% !important;
        }

        i.icon-quanpingicon {
          right: 20px !important;
        }

        .imgListBox {
          overflow: hidden;
          margin: auto;
          width: 340px;
          height: 100%;

          video::-webkit-media-controls-fullscreen-button {
            display: none;
          }
        }

        .imgList {
          display: flex;
          width: 100%;
          height: 100%;
          font-size: 0;
          flex-flow: row nowrap;

          .imgItem {
            margin: auto;
            width: 340px !important;
            height: 186px !important;
            flex-shrink: 0;
          }

          .imgItem,
          img,
          video {
            width: 100%;
            height: 100%;
          }
        }
      }

      .treeAdressInfo {
        margin-top: 12px;
        width: 340px;

        .attrLabel {
          width: 60px;
          text-align: right;
        }

        .attritem_box {
          display: flex;
          margin-bottom: 12px;
          width: 100%;

          .attrLabel {
            width: 62px;
            color: rgb(232 243 254 / 70%) !important;
            font-size: 14px;
            flex-shrink: 0;
            text-align: right;
          }

          .attrValue {
            display: flex;
            overflow: hidden;
            margin-bottom: 12px;
            font-size: 14px;
            flex-grow: 1;

            .attrLabel {
              width: 60px;
              color: rgb(232 243 254 / 70%) !important;
              font-size: 14px;
              flex-shrink: 0;
              text-align: right;
            }

            .attrValue {
              display: flex;
              overflow: hidden;
              font-size: 14px;
              flex-grow: 1;
            }
          }

          .attrItem:last-child {
            margin-bottom: 12px;
          }
        }

        .attrItem:last-child {
          margin-bottom: 12px;
        }
      }

      i {
        position: absolute;
        cursor: pointer;

        &.turn-btn-popup {
          position: absolute;
          top: 50%;
          width: 30px;
          height: 30px;
          background: rgb(2 50 32 / 70%) !important;
          border-radius: 50%;
          color: #fff;
          font-size: 18px;
          text-align: center;
          line-height: 30px;
          transform: translateY(-50%);
        }

        &.prev {
          left: 21px;
        }

        &.next {
          right: 21px;
        }

        &.rotateLeft {
          transform: rotate(180deg) translate(0, 50%);
        }

        &.dotBoxFullScreen {
          position: absolute;
          right: 15px;
          bottom: 10px;
          width: 30px;
          height: 30px;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          border-radius: 4px;
          color: #e6f1fc;
          font-size: 20px;
          text-align: center;
          line-height: 30px;
          cursor: pointer;
          background-image: url('~@component-gallery/assets/image/funcicon-bg.png') !important;
        }
      }
    }

    .basicNews {
      position: relative;
      display: none;
      overflow: hidden auto;
      padding: 0 12px;
      width: 100%;
      height: 288px;

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(2 137 109 / 40%) !important;
      }

      .dotInfoBox {
        padding-left: 0 !important;

        .dotInfo {
          padding-top: 10px;
          width: 340px;
          height: 288px;
          box-sizing: border-box;
          border-bottom: none !important;

          .attritem_box {
            display: flex;
            margin-bottom: 10px;
            width: 100%;
            line-height: 22px;

            .attrLabel {
              width: 58px;
              color: rgb(255 255 255 / 70%) !important;
              font-size: 14px;
              flex-shrink: 0;
              text-align: right;
            }

            .attrValue {
              display: flex;
              overflow: hidden;
              width: calc(100% - 58px);
              font-size: 14px;
              flex-grow: 1;

              span {
                width: 100%;
                word-wrap: break-word;
              }
            }
          }
        }
      }

      .dotInfoBox.style2.short {
        height: 72px;
      }

      .dotInfoBox.style2 {
        overflow: unset;
        height: 123px;

        .dotInfo {
          overflow: auto;
          padding: 15px 0;
          height: 100%;
        }

        .attrLabel {
          &::before {
            position: relative;
            top: -2px;
            display: inline-block;
            margin-right: 4px;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            content: '';
          }
        }

        .attrLabel.offline {
          &::before {
            background: #ed5158;
          }
        }

        .attrLabel.online {
          &::before {
            background: #19e0af;
          }
        }
      }
    }

    .growDotContent {
      position: relative;
      display: none;
      overflow: hidden auto;
      padding: 0 12px;
      width: 100%;
      height: 288px;

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(2 137 109 / 40%) !important;
      }

      .dotInfoBox {
        padding-left: 0 !important;

        .dotInfo {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          width: 340px;
          height: 288px;
          border-bottom: none !important;
          box-sizing: border-box;
          flex-flow: wrap;

          .itemlabel_box {
            display: flex;
            margin-bottom: 12px;
            width: 50%;
            line-height: 22px;

            .attrLabel {
              width: 70px;
              color: rgb(255 255 255 / 70%) !important;
              font-size: 14px;
              flex-shrink: 0;
              text-align: right;
            }

            .attrValue {
              display: flex;
              overflow: hidden;
              font-size: 14px;
              flex-grow: 1;
            }
          }

          .itemlabel_box:nth-child(even) {
            justify-content: flex-end;
            width: 45%;

            .attrLabel {
              width: 85px;
            }
          }

          .attritem_box {
            display: flex;
            width: 100%;
            line-height: 22px;

            .attrLabel {
              width: 70px;
              color: rgb(255 255 255 / 70%) !important;
              font-size: 14px;
              flex-shrink: 0;
              text-align: right;
            }

            .attrValue {
              display: flex;
              align-items: center;
              overflow: hidden;
              font-size: 14px;
              flex-grow: 1;
            }
          }

          .attritem_box:nth-child(even) {
            margin-bottom: 12px;
          }

          .time_box {
            margin-bottom: 12px;
          }

          .attrItem {
            margin-top: 12px;
          }
        }
      }

      .dotInfoBox.style2.short {
        height: 72px;
      }

      .dotInfoBox.style2 {
        overflow: unset;
        height: 123px;

        .dotInfo {
          overflow: auto;
          padding: 15px 0;
          height: 100%;
        }

        .attrLabel {
          &::before {
            position: relative;
            top: -2px;
            display: inline-block;
            margin-right: 4px;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            content: '';
          }
        }

        .attrLabel.offline {
          &::before {
            background: #ed5158;
          }
        }

        .attrLabel.online {
          &::before {
            background: #19e0af;
          }
        }
      }
    }

    .bottomBtns {
      padding: 0 8px !important;

      .border-top-1 {
        padding: 12px 0;

        i {
          display: inline-block;
          padding: 0;
          font-size: 30px;
          line-height: 30px;

          & + i {
            margin-left: 5px;
          }

          &.select {
            background-repeat: no-repeat;
            background-size: cover;
            color: #f9ff6c;
            background-image: url('~@component-gallery/assets/image/funcicon-bg.png');
          }
        }
      }

      .bottom_box {
        padding: 10px 0;
        margin: auto;
        margin-top: 2px;
        width: 340px;
        border-top: 1px solid rgb(255 255 255 / 20%);
      }

      img,
      i {
        cursor: pointer;
        vertical-align: middle;
      }
    }
  }
}

.device-CameraListinfo-Window {
  z-index: 100;
  overflow-y: auto;
  width: 230px;
  max-height: 164px;
  background: linear-gradient(180deg, rgb(0 19 30 / 70%), #00131e);
  border: 1px solid transparent;
  border-radius: 0;
  transform-origin: bottom center;
  user-select: none;
  border-image: linear-gradient(
      180deg,
      rgb(7 91 74 / 50%),
      rgb(7 91 74 / 75%),
      rgb(7 91 74 / 50%)
    )
    1 1;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 21px;
    height: 25px;
    background: url('~@component-gallery/assets/image/border-corner-l.svg')
      no-repeat;
    content: '';
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 21px;
    height: 25px;
    background: url('~@component-gallery/assets/image/border-corner-r.svg')
      no-repeat;
    content: '';
  }

  .attrDetailsBox {
    .closeImg.InfoWindowCloseBtn {
      position: absolute;
      top: -20px;
      right: -20px;
      width: 38px;
      height: 38px;
      background: url('~@component-gallery/assets/image/sp-icon_close2x.png');
      background-size: 100% 100%;
      line-height: 38px;
      cursor: pointer;
    }
  }

  .InfoWindowCloseBtn {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 38px;
    height: 38px;
    background: url('~@component-gallery/assets/image/tool-box/sp-icon_close2x.png');
    background-size: 100% 100%;
    line-height: 38px;
    cursor: pointer;
  }

  ul {
    padding-left: 0;
    margin: 0;

    &::before {
      position: absolute;
      top: -1px;
      left: 0;
      width: 8px;
      height: 1px;
      background: #61fffb;
      content: '';
    }
  }

  li {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 6px;
    height: 32px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background: rgb(2 137 109 / 40%);
    }

    i,
    span,
    p {
      pointer-events: none;
    }

    i,
    span {
      flex-shrink: 0;
    }

    p {
      overflow: hidden;
      margin: 0 13px 0 4px;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 1;
    }

    .span_text {
      display: block;
      overflow: hidden;
      margin: 0 0 0 10px;
      width: 45%; // 2024年1.3号刘森。
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  li.isOffline {
    color: rgb(255 255 255 / 60%);
  }

  .li_span {
    padding-right: 6px;
  }

  .cameraInfoBox {
    position: absolute;
    bottom: 0;
    left: 242px;

    .deviceWindowsIdviceWindowsId {
      transform-origin: bottom left;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(2 137 109 / 40%) !important;
    border: 0;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(2 137 109 / 40%) !important;
  }
}

.droneTracksWinInfoBox {
  width: 364px;
  background: linear-gradient(180deg, rgb(0 19 30 / 70%) 0%, #00131e 100%);
  border: 1px solid #032a2c;
  transform-origin: top left;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 21px;
    height: 25px;
    background: url('~@component-gallery/assets/image/border-corner-l.svg')
      no-repeat;
    content: '';
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 21px;
    height: 25px;
    background: url('~@component-gallery/assets/image/border-corner-r.svg')
      no-repeat;
    content: '';
  }

  .trajectoryInfoCloseBtn {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 38px;
    height: 38px;
    background: url('~@component-gallery/assets/image/closeIcon@2x.png');
    background-size: 100% 100%;
    color: transparent;
    line-height: 38px;
    cursor: pointer;
  }

  .trajectoryinfo::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 1px;
    background: #61fffb;
    content: '';
  }

  .trajectoryFlexBox {
    position: relative;
    display: flex;
    padding: 12px;
    user-select: none;

    .tlabel,
    .tvalue {
      margin-bottom: 6px;
      font-size: 14px;
      font-family: PingFangSC, 'PingFang SC';
      font-weight: 400;
      line-height: 20px;
    }

    .tlabel {
      color: rgb(255 255 255 / 70%);
      text-align: right;
    }

    .tvalue {
      color: #fff;
    }
  }
}
