registry=http://registry.npmmirror.com/
#//10.34.53.35:7001/:_auth="eXVleGI6aU51b2FuT0s="
#@ct:registry=http://10.34.53.35:7001/
#//10.38.77.5:8081/repository/npm-public/:_auth="eXVleGI6aU51b2FuT0s="
@ct:registry=http://10.38.77.5:8081/repository/npm-public/



shamefully-hoist=true
strict-peer-dependencies=false
ignore-workspace-root-check=true
prefer-frozen-lockfile=true
