@import 'mixins/mixins';
@import 'mixins/theme-mixins';
@import 'mixins/px-to-rem';

.alarm-time-statistics {
  &-container {
    width: px-to-rem(370);
    &__echartsBox {
      position: relative;
      width: 100%;
      margin-bottom: px-to-rem(10);
      height: px-to-rem(260);
      #echartsContainer_ats {
        width: 100%;
        height: px-to-rem(260);
        z-index: 1;
      }
      .bg_img {
        pointer-events: none;
        position: absolute;
        bottom: px-to-rem(-1);
        left: px-to-rem(20);
        width: 91%;
      }
    }
  }
}

// 通用
[data-theme='theme-wiseblue'] .alarm-time-statistics {}

// 林业
[data-theme='theme-aquamarine'] .alarm-time-statistics {
}

// 国土
[data-theme='theme-terracotta'] .alarm-time-statistics {
}
