@import 'mixins/mixins';
@import 'mixins/theme-mixins';
@import 'mixins/px-to-rem';

.base-header {
  padding: px-to-rem(0) px-to-rem(12) px-to-rem(0) px-to-rem(45);
  width:  px-to-rem(368);
  height:  px-to-rem(48);
  line-height:  px-to-rem(48);
  color: #FFF;
  font-size: px-to-rem(16);
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  background-size: cover;
  @include themeify(false) {
    @if $theme-name == 'theme-aquamarine' {
      background-image: url("~@component-gallery/assets/image/base-header/aquamarine/header-bg.png");
    }
    @if $theme-name == 'theme-terracotta' {
      background-image: url("~@component-gallery/assets/image/base-header/terracotta/header-bg.png");
    }
    @if $theme-name == 'theme-wiseblue' {
      background-image: url("~@component-gallery/assets/image/base-header/wiseblue/header-bg.png");
    }
  }
}
