@import 'mixins/mixins';
@import 'mixins/theme-mixins';
@import 'mixins/px-to-rem';

.base-button {
  display: inline-block;
  position: relative;
  // 调用侧自定义height，如果 height > padding + content，会文字上移
  //line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-size: px-to-rem(14);
  padding: px-to-rem(6) px-to-rem(12);
  overflow: hidden;

  &:not(:disabled):hover {
    opacity: 0.6 !important;
  }
  &:disabled {
    opacity: 0.3 !important;
  }
  @include themeify(false) {
    border-radius: themed('cg-button-border-radius');
    color: themed('cg-button-color');

    &--default {
      @if $theme-name == 'theme-aquamarine' {
        border: none !important;
        background: none;
        &::after {
          position: absolute;
          z-index: 1;
          content: '';
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          background: rgba(2, 137, 109, 0.1);
          box-shadow: inset 0 0 3px 0 rgba(2, 137, 109, 0.6);
        }
      }
      @if $theme-name == 'theme-terracotta' {
        border: 1px solid rgba(110, 103, 78, 0.71);
        background: themed('cg-button-default-bg-color');
      }
      @if $theme-name == 'theme-wiseblue' {
        border: none;
        background: themed('cg-button-default-bg-color');
      }

      span {
        position: relative;
        z-index: 10;
        display: inline-block;
      }
      em {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        @if $theme-name == 'theme-aquamarine' {
          &:nth-of-type(1) {
            &::before {
              position: absolute;
              content: '';
              box-sizing: border-box;
              border-left: 1px dotted rgba(2, 137, 109, 0.5);
              left: 0;
              top: 0;
              width: 0;
              height: 100%;
              transform: scaleX(0.5);
            }

            &::after {
              position: absolute;
              content: '';
              box-sizing: border-box;
              border-right: 1px dotted rgba(2, 137, 109, 0.5);
              right: 0;
              top: 0;
              width: 0;
              height: 100%;
              transform: scaleX(0.5);
            }
          }
          &:nth-of-type(2) {
            &::before {
              position: absolute;
              content: '';
              box-sizing: border-box;
              border-bottom: 1px dotted rgba(2, 137, 109, 0.5);
              bottom: 0;
              left: 0;
              width: 100%;
              height: 0;
              transform: scaleY(0.5);
            }

            &::after {
              position: absolute;
              content: '';
              box-sizing: border-box;
              border-top: 1px dotted rgba(2, 137, 109, 0.5);
              top: 0;
              left: 0;
              width: 100%;
              height: 0;
              transform: scaleY(0.5);
            }
          }
        }
      }
    }

    &--primary {
      @if $theme-name == 'theme-aquamarine' {
        border: none !important;
        background: none;
      }
      @if $theme-name == 'theme-terracotta' {
        border: none !important;
        background-image: linear-gradient(
            180deg,
            rgba(255, 224, 72, 0.3298) 0%,
            rgba(255, 241, 126, 0.097) 100%
        );
        span {
          text-shadow: 0 px-to-rem(2) px-to-rem(7) rgba(255, 225, 44, 0.5);
        }
      }
      @if $theme-name == 'theme-wiseblue' {
        border: none;
        background: themed('cg-button-default-bg-color');
      }

      &::before {
        @if $theme-name == 'theme-aquamarine' {
          position: absolute;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          background: themed('cg-button-primary-bg-img');
          opacity: 0.2;
          content: '';
          z-index: 2;
        }
      }

      &::after {
        position: absolute;
        z-index: 1;
        content: '';

        @if $theme-name == 'theme-aquamarine' {
          background: rgba(2, 137, 109, 0.3);
          box-shadow: inset 0 0 13px 0 rgba(0, 255, 248, 0.6);
          border: 1px solid #02896d;
          z-index: 3;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
        }
        @if $theme-name == 'theme-terracotta' {
          background: #64562e
          url('~@component-gallery/assets/image/cg-button/terracotta-primary-bg.png')
          no-repeat;
          background-size: 100% auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        @if $theme-name == 'theme-wiseblue' {
          background: linear-gradient(90deg, #4f9fff 0%, #1373e6 100%);
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      b {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        pointer-events: none;

        &::before,
        &::after {
          position: absolute;
          @if $theme-name == 'theme-terracotta' {
            width: px-to-rem(8);
            height: px-to-rem(8);
            background: themed('cg-button-corner-bg-img');
          }
          @if $theme-name == 'theme-aquamarine' {
            width: px-to-rem(6);
            height: px-to-rem(6);
            background: themed('cg-button-corner-bg-img');
          }
          content: '';
        }

        @if $theme-name == 'theme-aquamarine' {
          &:first-child {
            &::before {
              top: 1px;
              left: 1px;
            }

            &::after {
              top: 1px;
              right: 1px;
              transform: rotate(90deg);
            }
          }
          &:last-child {
            &::before {
              right: 1px;
              bottom: 1px;
              transform: rotate(180deg);
            }

            &::after {
              bottom: 1px;
              left: 1px;
              transform: rotate(270deg);
            }
          }
        }

        @if $theme-name == 'theme-terracotta' {
          &:first-child {
            &::before {
              top: 0;
              left: 0;
            }

            &::after {
              top: 0;
              right: 0;
              transform: rotate(90deg);
            }
          }
          &:last-child {
            &::before {
              right: 0;
              bottom: 0;
              transform: rotate(180deg);
            }

            &::after {
              bottom: 0;
              left: 0;
              transform: rotate(270deg);
            }
          }
        }
      }

      span {
        position: relative;
        z-index: 10;
        display: inline-block;
      }

      em {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        @if $theme-name == 'theme-terracotta' {
          &:nth-of-type(1) {
            &::before {
              position: absolute;
              left: px-to-rem(8);
              right: px-to-rem(8);
              height: 1px;
              background: url('~@component-gallery/assets/image/base-button/t-line-top.png')
              no-repeat;
              background-size: 100% auto;
              content: '';
            }
          }

          &:nth-of-type(2) {
            &::before {
              position: absolute;
              left: 0;
              top: px-to-rem(8);
              bottom: px-to-rem(8);
              width: 1px;
              background: url('~@component-gallery/assets/image/base-button/t-line-left.png')
              no-repeat;
              background-size: auto 100%;
              content: '';
            }
          }

          &:nth-of-type(3) {
            &::before {
              position: absolute;
              right: 0;
              top: px-to-rem(8);
              bottom: px-to-rem(8);
              width: 1px;
              background: url('~@component-gallery/assets/image/base-button/t-line-right.png')
              no-repeat;
              background-size: contain;
              content: '';
            }
          }
        }
        @if $theme-name == 'theme-aquamarine' {
          &:nth-of-type(1) {
            &::before {
              position: absolute;
              content: '';
              box-sizing: border-box;
              border-left: 1px dotted rgba(2, 137, 109, 0.5);
              left: 0;
              top: 0;
              width: 0;
              height: 100%;
              transform: scaleX(0.5);
            }

            &::after {
              position: absolute;
              content: '';
              box-sizing: border-box;
              border-right: 1px dotted rgba(2, 137, 109, 0.5);
              right: 0;
              top: 0;
              width: 0;
              height: 100%;
              transform: scaleX(0.5);
            }
          }
          &:nth-of-type(2) {
            &::before {
              position: absolute;
              content: '';
              box-sizing: border-box;
              border-bottom: 1px dotted rgba(2, 137, 109, 0.5);
              bottom: 0;
              left: 0;
              width: 100%;
              height: 0;
              transform: scaleY(0.5);
            }

            &::after {
              position: absolute;
              content: '';
              box-sizing: border-box;
              border-top: 1px dotted rgba(2, 137, 109, 0.5);
              top: 0;
              left: 0;
              width: 100%;
              height: 0;
              transform: scaleY(0.5);
            }
          }
        }
      }
    }

    &--danger {
      @if $theme-name == 'theme-aquamarine' {
        background: none;
        border: 1px dotted rgba(237, 81, 88, 0.5);
        &::before,
        &::after {
          position: absolute;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          overflow: hidden;
          content: '';
        }
        &::before {
          background: themed('base-button-primary-bg-img');
          opacity: 0.25;
          z-index: 2;
        }
        &::after {
          background: rgb(237 81 88 / 30%);
          box-shadow: inset 0 0 px-to-rem(13) 0 rgb(237 81 88 / 60%);
          border: 1px solid rgba(237, 81, 88, 1);
          z-index: 3;
        }
        .base-button_content {
          position: relative;
          z-index: 10;
        }
        b {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
          z-index: 3;
          &::before,
          &::after {
            position: absolute;
            width: px-to-rem(6);
            height: px-to-rem(6);
            background: themed('cg-button-corner-bg-img');
            filter: drop-shadow(#ed5158 10000px 0);

            content: '';
          }

          &:first-child {
            &::before {
              top: 1px;
              left: 1px;
              transform: translateX(-10000px);
            }

            &::after {
              top: 1px;
              right: 1px;
              transform: translateY(-10000px) rotate(90deg);
            }
          }

          &:last-child {
            &::before {
              right: 1px;
              bottom: 1px;
              transform: translateX(10000px) rotate(180deg);
            }

            &::after {
              bottom: 1px;
              left: 1px;
              transform: translateY(10000px) rotate(270deg);
            }
          }
        }
      }
      @if $theme-name == 'theme-terracotta' {
        background-image: url('~@component-gallery/assets/image/base-button/danger-btn-bg.png');
        background-size: 100% 100%;
        background-color: rgba(0, 0, 0, 0);
        color: #ffcfab;
        border: 0;
      }
      @if $theme-name == 'theme-wiseblue' {
        background: none;
        border: none;
        background: rgba(237, 81, 88, 0.2);
        color: #ed5158;
      }
    }
    &--tiny {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      font-size: 12px;

      @if $theme-name == 'theme-aquamarine' {
        background: none;
        padding: px-to-rem(1) px-to-rem(11);
        &::after {
          content: '';
          width: calc(100% - 2px);
          height: calc(100% - 2px);
          position: absolute;
          left: 1px;
          top: 1px;
          // z-index: -1;
          background: themed('base-button-default-after-bg');
          box-shadow: inset
          0
          0
          3px
          0
          themed('base-button-default-after-shadow');
        }
      }
      @if $theme-name == 'theme-terracotta' {
        background: themed('base-button-tiny-bg');
        padding: px-to-rem(1) px-to-rem(12);
      }
      @if $theme-name == 'theme-wiseblue' {
        background: themed('base-button-tiny-bg');
        border-right-color: #1373e6;
        padding: px-to-rem(1) px-to-rem(12);
      }
    }
  }
}

