@import 'mixins/mixins';
@import 'mixins/theme-mixins.scss';
@import "mixins/px-to-rem";

@mixin show_title_styles() {
  @include themeify(false) {
    @if $theme-name != 'theme-aquamarine' {
      .popup-header,
      .close_icon {
        display: none;
      }
    }
  }
}

@mixin grid_info_text_styles() {
  @include themeify(false) {
    .l-p-card-label {
      min-width: px-to-rem(98);
      @if $theme-name == 'theme-aquamarine' {
        color: rgb(255 255 255 / 70%);
      }
      @if $theme-name == 'theme-terracotta' {
        color: rgb(255 238 177 / 70%);
      }
      @if $theme-name == 'theme-wiseblue' {
        color: rgba(232, 243, 254, 0.70);
      }
      font-size: px-to-rem(14);
      text-align: right;
      font-weight: 400;
    }

    .l-p-card-txt {
      @if $theme-name == 'theme-aquamarine' {
        color: #fff;
      }
      @if $theme-name == 'theme-terracotta' {
        color: rgb(228 231 193 / 70%);
      }
      @if $theme-name == 'theme-wiseblue' {
        color: rgba(232, 243, 254, 1);
      }
      font-size: px-to-rem(14);
      font-weight: 400;
    }
  }
}

.common-comp-tree__wrapper {
  @include show_title_styles();
}

.grid-tree {
  ::v-deep .el-tree-node.is-current > .el-tree-node__content {
    background: transparent !important;

    @include themeify(false) {
      .custom-tree-left {
        @if $theme-name == 'theme-aquamarine' {
          color: #fff !important;
        }
        @if $theme-name == 'theme-terracotta' {
          color: #E4E7C1 !important;
        }
        @if $theme-name == 'theme-wiseblue' {
          color: #e8f3fe !important;
        }
      }
    }
  }

  ::v-deep .key-word {
    pointer-events: none;
  }

  ::v-deep .el-tree-node {
    > .el-tree-node__content.nocheck {
      background: transparent !important;
      @include themeify(false) {
        .custom-tree-left {
          @if $theme-name == 'theme-aquamarine' {
            color: #fff !important;
          }
          @if $theme-name == 'theme-terracotta' {
            color: #E4E7C1 !important;
          }
          @if $theme-name == 'theme-wiseblue' {
            color: #e8f3fe !important;
          }
        }
      }
    }

    > .el-tree-node__content:hover {
      @include themeify(false) {
        background: themed('tree-primary-color') !important;
      }
    }

    > .el-tree-node__content.check {
      @include themeify(false) {
        @if $theme-name == 'theme-aquamarine' {
          background: rgba(2, 137, 109, 0.4) !important;
          .custom-tree-left {
            color: #F9FF6C !important;
          }
        }
        @if $theme-name == 'theme-terracotta' {
          background: rgba(60, 54, 21, 0.9) !important;
          .custom-tree-left {
            color: rgb(255, 250, 40) !important;
          }
        }
        @if $theme-name == 'theme-wiseblue' {
          background: rgba(79, 159, 255, 0.4) !important;
          .custom-tree-left {
            color: rgb(79, 159, 255) !important;
          }
        }
      }
    }
  }

  ::v-deep .el-tree-node > .el-tree-node__content.leaf-checked {
    @include themeify(false) {
      @if $theme-name == 'theme-aquamarine' {
        background: rgba(2, 137, 109, 0.4) !important;
      }
      @if $theme-name == 'theme-terracotta' {
        background: rgba(60, 54, 21, 0.9) !important;
      }
      @if $theme-name == 'theme-wiseblue' {
        background: rgba(79, 159, 255, 0.4) !important;
      }

      .custom-tree-node {
        .custom-tree-left {
          .tree-name {
            @if $theme-name == 'theme-aquamarine' {
              color: #F9FF6C !important;
            }
            @if $theme-name == 'theme-terracotta' {
              color: rgb(255, 250, 40) !important;
            }
            @if $theme-name == 'theme-wiseblue' {
              color: rgb(79, 159, 255) !important;
            }
          }
        }
      }
    }
  }

  .fast-btn1 {
    display: block;
    line-height: px-to-rem(32);
    height: px-to-rem(32) !important;

    ::v-deep .iconfont_tools  {
      @include themeify(false) {
        @if $theme-name == 'theme-aquamarine' {
          color: #fff !important;
        }
        @if $theme-name == 'theme-terracotta' {
          color: #E4E7C1 !important;
        }
        @if $theme-name == 'theme-wiseblue' {
          color: #e8f3fe !important;
        }
      }
    }
  }
}

.fast-btn1 {
  display: block;
  line-height: px-to-rem(32);
  height: px-to-rem(32) !important;
}

.has-grid-info {
  height: calc(100% - px-to-rem(216)) !important;
}

.grid-info__wrapper {
  position: absolute;
  right: px-to-rem(12);
  bottom: px-to-rem(12);
  left: px-to-rem(12);
  z-index: 99;

  .grid-title {
    font-size: px-to-rem(16);
    font-weight: 500;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(232, 243, 254, 1);
  }
}

.grid-info-list {
  padding: px-to-rem(12);

  > .card {
    display: flex;
    align-items: center;
    margin-bottom: px-to-rem(6);
    line-height: px-to-rem(20);

    @include grid_info_text_styles();

    &:last-child {
      margin-bottom: 0;
    }
  }
}
