@import "mixins/px-to-rem";

.high-traffic-hours-container {
  height: 100%;
  &__title {
    margin: 0 0 px-to-rem(24) 0;
    width: px-to-rem(96);
    height: px-to-rem(16);
    font-size: px-to-rem(16);
    font-family: PingFangSC, PingFang SC;
    font-weight: 600;
    color: #ffffff;
    line-height: px-to-rem(16);
    text-shadow: 0 0 px-to-rem(18) rgba(0, 245, 193, 0.7);
  }
  &__chartDom {
    width: 100%;
    height: calc(100% - px-to-rem(40));
  }
}