@import "mixins/mixins";
@import "mixins/theme-mixins.scss";
@import "./mixins/theme-checkbox-mixins";
.common-theme {
  .perimeter-analysis-wrapper {
    position: absolute;
    top: 40px;
    right: 52px;
    width: 360px;
    font-size: 14px;
    box-sizing: border-box;
    @include border_radius("border-radius-8");
    @include get_background_no_corner("dialog-bg-color");
    @include get_border_image("card-border-image");
    b:nth-child(1) {
      @include only_display_in_one_theme("only-show-in-terracotta");
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      pointer-events: none;
      &::after {
        content: "";
        width: 16px;
        height: 16px;
        border: 4px solid #c5b57d;
        position: absolute;
        left: -2px;
        top: -1px;
        border-bottom: 0;
        border-right: 0;
      }
      &::before {
        content: "";
      }
    }
    b:nth-child(2) {
      @include only_display_in_one_theme("only-show-in-terracotta");
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      pointer-events: none;
      &::after {
        content: "";
        width: 16px;
        height: 16px;
        border: 4px solid #c5b57d;
        position: absolute;
        left: -2px;
        bottom: -1px;
        border-top: 0;
        border-right: 0;
      }
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        border: 4px solid #c5b57d;
        position: absolute;
        right: -2px;
        bottom: -1px;
        border-left: 0;
        border-top: 0;
      }
    }
    &::before {
      @include only_display_in_one_theme("only-show-in-aquamarine");
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      width: 21px;
      height: 25px;
      background: url("~@component-gallery/assets/image/border-corner-l.svg") no-repeat;
      content: "";
    }
    &::after {
      @include only_display_in_one_theme("only-show-in-aquamarine");
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 10;
      width: 21px;
      height: 25px;
      background: url("~@component-gallery/assets/image/border-corner-r.svg") no-repeat;
      content: "";
    }
    // .blcorner {
    //   position: absolute;
    //   bottom: -1px;
    //   left: -1px;
    // }

    // .brcorner {
    //   position: absolute;
    //   right: -1px;
    //   bottom: -1px;
    // }
    ::v-deep .el-checkbox__inner::after {
      border: 2px solid #fff !important;
      border-left: 0 !important;
      border-top: 0 !important;
    }

    // 关闭按钮
    .close-box {
      position: absolute;
      top: -13px;
      right: -13px;
      width: 26px;
      height: 26px;
      z-index: 1;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("~@component-gallery/assets/image/tool-box/sp-icon_close2x.png");
    }

    // 标题
    .header {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      overflow: hidden;
      @include themeify(false) {
        @if $theme-name == "theme-aquamarine" {
          background:
            url("~@component-gallery/assets/image/tool-box/dialog_header.png") no-repeat center/100% 100%,
            url("~@component-gallery/assets/image/tool-box/top-line.png") no-repeat center 0%/38px auto;
        }
        @if $theme-name == "theme-terracotta" {
          background:
            url("~@component-gallery/assets/image/tool-box/active-normal.png") no-repeat 50% 150%/30% 80%,
            url("~@component-gallery/assets/image/tool-box/active-normal.png") no-repeat 50% 100%/90% 15%;
        }
        @if $theme-name == "theme-wiseblue" {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          background: linear-gradient(180deg, rgba(132, 180, 250, 0.7) 0%, rgba(132, 180, 250, 0.24) 100%);
        }
      }
      @include get_text_shadow("weather-card-aqi-text-shadow");
      @include get_global_text_color("global-text-color");
      font-size: 16px;
      font-family: PingFangSC, "PingFang SC";
      font-weight: 600;
      line-height: 16px;

      &::before {
        @include only_display_in_one_theme("only-show-in-aquamarine");
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 1px;
        background: #fff;
        box-shadow:
          0 0 6px 0 #02896d,
          inset 0 0 2px 0 #00fff8;
      }

      &-text {
        @include get_global_text_color("global-text-color");
        font-size: 16px;
        font-family: PingFangSC, "PingFang SC";
        font-weight: 600;
        line-height: 16px;
      }

      .title-bottom-bg {
        @include only_display_in_one_theme("only-show-in-aquamarine");
        position: absolute;
        bottom: 0;
        left: 50%;
        pointer-events: none;
        transform: translateX(-50%);
      }
    }

    // TODO:
    .cont {
      padding: 0 12px;
      height: 484px;

      ::v-deep .el-checkbox:last-of-type {
        margin-right: 5px;
      }

      .datePicker {
        height: 32px;

        ::v-deep .el-date-editor .el-range-separator {
          line-height: 32px;
        }

        ::v-deep .el-date-editor.el-range-editor.el-input__inner {
          height: 100%;
          border: none;
          @include get_global_text_color("global-text-color");
          @include get_background_no_corner("tool-slider-num-color");
          font-size: 14px;

          .el-range__icon,
          .el-range-separator,
          .el-range-input,
          .el-range-input::placeholder {
            @include get_global_text_color("global-text-color");
          }

          .el-range-input {
            background: none;
            @include get_global_text_color("global-text-color");
            font-size: 14px;
          }
        }
      }

      .title {
        @include get_global_text_color("global-text-color");
      }

      .tools {
        display: flex;
        align-items: center;
        height: 30px;
        @include get_global_text_color("global-text-color");

        .tool {
          flex: 1;
          display: flex;

          .tool_item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 12px;
            width: 30px;
            height: 30px;
            border-radius: 2px;
            cursor: pointer;

            i {
              font-size: 24px;
              line-height: 24px;
            }
          }

          .tool_item.active {
            background-repeat: no-repeat !important;
            background-size: 100% 100% !important;
            @include get_global_text_color("tool-active-color");
            @include get_background_no_corner("tool-active-bg");
          }
        }

        .tool_right {
          .tool_item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            @include get_border("border-1");
            @include get_background_no_corner("tool-delate-bg-color");
            border-radius: 4px;
            opacity: 0.9;
            cursor: pointer;

            .img {
              width: 100%;
              height: 100%;
              background-size: 100% 100% !important;
              // @include get_background_no_corner('tool-delate-bg');
              background-image: url("~@component-gallery/assets/image/tool-box/around-ans-delete.png");
            }
          }
        }
      }

      .slides {
        height: 58px;

        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .title {
            display: flex;
            align-items: center;
          }
          .slider-num {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 28px;
            border-radius: 4px;
            @include get_background_no_corner("tool-slider-num-color");
            @include get_global_text_color("global-text-color");
            // .num,
            // .unit {
            //   height: 16px;
            //   line-height: 16px;
            // }
            // .num {
            //   // width: 40px;
            //   height: 14px;
            //   @include get_global_text_color("global-text-color");
            //   font-size: 14px;
            //   font-family: PingFangSC, "PingFang SC";
            //   font-weight: 400;
            //   line-height: 14px;
            // }
            // .unit {
            //   position: absolute;
            //   top: 0;
            //   right: 7px;
            //   font-size: 12px;
            //   transform: scale(0.9);
            //   transform-origin: 100% 50%;
            // }
          }
        }
        .slider {
          ::v-deep .el-slider__runway {
            margin: 8px 0 6px;
            height: 4px;
            @include get_background_no_corner("tool-slider-color");
            border-radius: 1px;
            box-shadow: inset 0 0 3px 0 rgb(2 137 109 / 60%);
            .el-slider__bar {
              height: 4px;
              @include get_background_no_corner("tool-slider-bar-color");
            }
          }
          .el-slider ::v-deep .el-slider__button {
            width: 12px;
            height: 14px;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            border-radius: inherit;
            background-image: url("~@component-gallery/assets/image/tool-box/icon_slider.png");
          }
        }

        .slider-text {
          display: flex;
          justify-content: space-between;
          @include get_global_text_color("global-text-color");
        }
      }

      .funcs {
        // height: 72px;

        .funcs-item-wrap {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          .el-checkbox:last-of-type {
            margin-right: 5px;
          }
          .funcs-item {
            margin-top: 8px;
            width: 25%;
          }

          .disable {
            .title {
              color: #c0c4cc;
            }
          }
        }
      }
      .pagi_footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 -3px 0 0;
        height: 22px;

        .page_number {
          @include get_global_text_color("global-text-color");
          font-size: 12px;
        }

        .el-pagination {
          padding: 2px 0;
          background: none;
          border: none;

          ::v-deep .btn-prev {
            padding: 0;
            width: 22px;
            height: 22px;
            background: none;
            @include get_global_text_color("global-text-color");
          }

          ::v-deep .btn-next {
            padding: 0;
            width: 22px;
            height: 22px;
            background: none;
            @include get_global_text_color("global-text-color");
          }

          ::v-deep .el-pager {
            li {
              padding: 0 4px;
              width: auto;
              min-width: 22px;
              height: 22px;
              background: none;
              line-height: 22px;
            }

            li.btn-quicknext,
            li.btn-quickprev {
              min-width: 24px;
              background: none;
              @include get_global_text_color("global-text-color");
            }

            .number {
              padding: 0 5px;
              min-width: 28px;
              background: none;
              @include get_global_text_color("global-text-color");
            }

            li.active {
              padding: 0 4px;
              width: auto;
              min-width: 22px;
              height: 22px;
              @include get_background_no_corner("tool-page-number-color");
              border-radius: 4px;
              @include get_global_text_color("global-text-color");
              font-size: 12px;
              line-height: 22px;
            }

            .more::before {
              line-height: 22px;
            }
          }
        }
      }
      @include el_checkbox_styles();
      .table_around {
        ::v-deep .el-table__cell {
          padding: 0;
          box-sizing: border-box;
        }

        ::v-deep .el-table {
          background: none;
          @include get_global_text_color("global-text-color");
          &::before {
            background: none;
          }

          .el-table__empty-text {
            display: flex;
            justify-content: center;
            align-items: center;
            @include get_global_text_color("global-text-color");
            font-size: 14px;
            flex: 1;
            flex-direction: column;
            line-height: normal;

            &::before {
              position: static;
              display: block;
              margin: 0;
              width: 68px;
              height: 68px;
              @include tree_no_data("tree-default-no-date");
              background-size: cover !important;
              flex: none;
              content: "";
            }
          }

          .el-table__header-wrapper th {
            height: 32px;
            // background: rgba($color: #02896d, $alpha: 20%);
            @include get_background_no_corner("tool-slider-num-color");
            @include get_global_text_color("global-text-color");
          }

          tr {
            background: none;
          }

          // .el-table__body tr.current-row>td.el-table__cell{
          //   background: none;
          // }
          .el-table__body tr.current-row > td {
            @include get_background_no_corner("tool-table-current-color");
          }

          th.el-table__cell.is-leaf,
          td.el-table__cell {
            border-bottom: 0.3px solid rgba($color: #fff, $alpha: 20%) !important;
            font-weight: 400;
          }

          .name_and_icon .cell {
            display: flex;
            align-items: center;

            .list-icon {
              // width: 16px;
              // height: 16px;
              margin-right: 6px;
              @include get_global_text_color("global-text-color");
              font-size: 12px;
            }
          }
        }

        .el-table--enable-row-hover ::v-deep .el-table__body tr:hover > td.el-table__cell {
          @include get_background_no_corner("tool-table-current-color");
          @include get_global_text_color("global-text-color");
        }

        .el-table--enable-row-hover ::v-deep .el-table__body tr:hover > td {
          @include get_background_no_corner("tool-table-current-color");
          @include get_global_text_color("global-text-color");
        }

        ::v-deep .el-table__body td.el-table__cell {
          padding: 0 !important;
          height: 32px;
        }
      }

      .customized-slider {
        ::v-deep .el-slider__button {
          width: 12px;
          height: 14px;
          background: url("~@component-gallery/assets/image/tool-box/slider.png") no-repeat center/100% auto transparent !important;
          border: none !important;
          border-radius: 0;
        }
      }
    }
  }
  .el-tooltip__popper.slider_tip_around {
    background: #02896d !important;
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 4px;
    min-width: 50px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 6px !important;
    .popper__arrow,
    .popper__arrow:after {
      border-top-color: #02896d !important;
      border-width: 3px;
    }
  }
  .around-anysis-date-picker {
    margin: 7px 0 !important;
    .popper__arrow {
      display: none;
    }
  }
  .mb-12 {
    margin-bottom: 12px;
  }

  .mb-6 {
    margin-bottom: 6px;
  }
}
