@import 'mixins/mixins';
@import 'mixins/theme-mixins';
@import 'mixins/px-to-rem';

.SpotSearch {
  .innercomp-abcontainer-header__title {
    color: #fff;
  }

  .spot-search-container {
    width: px-to-rem(490);
    color: #e8f3fe;
    font-size: px-to-rem(13);
    padding-bottom: px-to-rem(12);

    .el-submenu__icon-arrow {
      display: flex;
      align-items: center;
      margin-top: 0 !important;
      height: 100%;
      font-size: px-to-rem(14);
      font-weight: bold;
    }

    .search-spot-select {
      background: #0f1926;

      .el-scrollbar {
        li {
          font-size: 12px;

          &:hover {
            // background-color: rgba(#7a713d, 0.9);
            background: rgba(79, 159, 255, 0.4);
          }

          &:active {
            // background-color: rgba(#7a713d, 0.9);
            background: rgba(79, 159, 255, 0.4);
          }

          &:focus {
            // background-color: rgba(#7a713d, 0.9);
            background: rgba(79, 159, 255, 0.4);
          }
        }

        .hover {
          // background-color: rgba(#7a713d, 0.9);
          background: rgba(79, 159, 255, 0.4);
        }
      }

      background: #0f1926;
      border-radius: px-to-rem(4);
      // background-color: rgba(#7a713d, 0.7);
      // border: 1px solid #e4e7c1;
    }

    .search-form {
      // padding-top: px-to-rem(10);
      // height: calc(100% - px-to-rem(100));

      .form-wrapper {
        overflow: auto;
        margin-bottom: px-to-rem(10);
        height: calc(100% - px-to-rem(40));
        max-height: px-to-rem(220);
        padding: 0 px-to-rem(12);

        &::-webkit-scrollbar {
          display: none;
        }

        ::v-deep .el-form {
          .el-form-item {
            margin-bottom: 0;

            &__label {
              padding: 0;
              margin: px-to-rem(12) 0;
              height: px-to-rem(14);
              // color: #e4e7c1;
              color: #e8f3fe;
              line-height: 1;
              font-size: px-to-rem(14);
            }
          }

          .el-select__tags {
            max-width: calc(100% - px-to-rem(25)) !important;
            pointer-events: none;
            .el-tag {
              box-sizing: border-box;
              border-color: transparent;
              margin: px-to-rem(2) 0 px-to-rem(2) px-to-rem(6);
              display: flex;
              max-width: 100%;
              align-items: center;
              max-width: px-to-rem(100);
              background-color: rgba(79, 159, 255, .20);
              border: none;
              color: #e8f3fe;
              padding: 0 px-to-rem(12);
              height: px-to-rem(24);
              .el-select__tags-text {
                font-size: px-to-rem(12);
                line-height: 1;
              }

              .el-tag__close {
                background-color: transparent;
                color: #e8f3fe;
                pointer-events: auto;
                font-size: px-to-rem(14);

                &::before {
                  font-weight: bold;
                }
              }
            }
          }

          .el-input__inner {
            background: rgba(79, 159, 255, 0.2);
            color: rgba(232, 243, 254);
            padding: 0 px-to-rem(12);
            border: px-to-rem(1) solid transparent;
            &:hover,
            &:focus {
              border: px-to-rem(1) solid rgb(79 159 255 / 100%);
            }
            &::placeholder {
              color: rgba(232, 243, 254, 0.7);
            }
          }

          .el-select__input {
            color: rgba(232, 243, 254);
            &::placeholder {
              color: rgba(232, 243, 254, 0.7);
            }
          }
        }
      }
    }

    .btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: px-to-rem(32);
      padding: 0 px-to-rem(12);

      .el-button {
        width: px-to-rem(108);
      }
    }

    .select-layer {
      padding: 0 px-to-rem(12);
      font-size: px-to-rem(16);

      ::v-deep .el-menu {
        margin-top: px-to-rem(12);
        border-bottom: none;
        background: transparent;
    /*    padding-left: px-to-rem(5);
        padding-right: px-to-rem(5);*/
        .el-submenu {
          width: 100%;

          &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 px-to-rem(6) 0 px-to-rem(10);
            height: px-to-rem(32);
            line-height: px-to-rem(32);
            border-radius: px-to-rem(4);
            font-size: px-to-rem(14);
            color: rgba(232, 243, 254, 0.7);

            &:hover {
              background: rgba(79, 159, 255, 0.2);
            }

            i {
              font-family: 'iconfont_tools' !important;
              font-weight: bold;
              transition: transform 0.3s;
              color: #e8f3fe;
              font-size: px-to-rem(20);
              cursor: pointer;
              // margin-top: 0;
              // transform-origin: 50% 40%;
              margin-top: px-to-rem(2);

              &::before {
                content: '\ea83';
              }
            }

            span {
              line-height: px-to-rem(32);
              margin-top: px-to-rem(1.2);
            }
          }
        }

        &-item {
          display: flex;
          align-items: center;
          padding: 0;
          width: 100%;
          height: 100%;
          color: #e4e7c1;

          &:hover {
            background-color: transparent;
          }

          &.is-active {
            border-bottom: none;
            background-color: transparent;
          }
        }
      }
    }

    ::v-deep .el-form-item__label {
      margin-bottom: px-to-rem(9);
    }
  }

  .fix-right {
    position: absolute;
    top: px-to-rem(8);
    right: px-to-rem(12);
    display: flex;
  }

  .switch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: px-to-rem(53);
    height: px-to-rem(32);
    background: rgba(19, 115, 230, 0.2);
    color: rgba(232, 243, 254, 0.7);
    font-size: px-to-rem(14);
    cursor: pointer;

    &:nth-child(1) {
      border-right: none;
      border-radius: px-to-rem(4) 0 0 px-to-rem(4);
    }

    &:nth-child(2) {
      border-left: none;
      border-radius: 0 px-to-rem(4) px-to-rem(4) 0;
    }

    &:hover,
    &.active {
     font-weight: 500;
      background: linear-gradient(180deg,
          #7baaf8 0%,
          rgba(123, 170, 248, 0.35) 100%);
      color: #E8F3FE;
    }
  }

  // .active {
  //   background-image: linear-gradient(180deg, rgb(228 207 19 / 100%), #9f9649),
  //   linear-gradient(180deg, rgb(228 207 19 / 100%), #9f9649);
  //   color: #fff;
  // }
  ::v-deep .el-menu--horizontal {
    width: 100%;
    position: relative;
    padding: 0;
  }

  .layer-tree-wrapper {
    width: 100%;
    position: absolute;
    top: 100%;
    max-height: px-to-rem(320);
    overflow-x: hidden;
    overflow-y: auto;

    background: #0f1926;
    border-radius: px-to-rem(4) ;

    ::v-deep .el-tree {
      background: transparent;
      border: none !important;
      @include themeify(false) {
        .el-tree-node__expand-icon {
          @if $theme-name == 'theme-wiseblue' {
            color: #E8F3FE;
          }
          @if $theme-name == 'theme-aquamarine' {
            color: #FFFFFF;
          }
          @if $theme-name == 'theme-terracotta' {
            color: #FFEEB1;
          }

          &.is-leaf {
            color: transparent;
          }
        }
        .el-tree__empty-block {
          height: px-to-rem(320);
          .el-tree__empty-text {
            display: flex;
            flex-direction: column;
            color: themed('alarm-info-data-content-color');
  
            &::before {
              content: '';
              display: block;
              margin-bottom: px-to-rem(10);
              width: px-to-rem(68);
              height: px-to-rem(68);
              background: themed('tree-default-no-date');
              background-size: 100% 100% !important;
            }
          }
        }
      }
      .el-tree-node__content {
        height: px-to-rem(32);

        &:hover {
          background: rgba(79, 159, 255, 0.4);
        }

        .layer-tree-node {
          font-weight: 400;
          font-size: px-to-rem(14);
          color: #e8f3fe;
        }
      }

      .el-tree-node.is-current>.el-tree-node__content {
        background: rgba(79, 159, 255, 0.4) !important;

        .name {
          color: rgb(79, 159, 255);
        }
      }
    }

    ::v-deep .el-scrollbar__bar.is-vertical {
      background-color: transparent !important;
      right: 0;
    }
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      border-radius: px-to-rem(3);
    }

    &::-webkit-scrollbar-thumb {
      border: 0;
      border-radius: px-to-rem(3);
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgb(79 159 255 / 40%);
    }
  }

  .mt12 {
    margin-top: px-to-rem(12);
  }

  .select-layer {
    ::v-deep .el-menu--popup {
      margin-top: px-to-rem(6) !important;
      padding: 0;
    }
  }

  .search-layer-popup {
    overflow: hidden auto;
    width: 100%;
    max-height: px-to-rem(300);
    border-radius: px-to-rem(4);
    opacity: 0.9;

    ::v-deep .el-menu {
      width: 100%;
      border: none !important;
    }

    .left-label {
      display: flex;

      .icon-style {
        line-height: px-to-rem(18);
        margin-left: px-to-rem(6);
      }
    }

    ::v-deep .el-tree {
      overflow: auto;
      padding: px-to-rem(10) 0;
      max-height: px-to-rem(300);
      background-position: 0 0 !important;
      background-repeat: no-repeat !important;
      background-size: 100% 100% !important;
      border-radius: px-to-rem(4);
      color: #e4e7c1;
      font-size: px-to-rem(14);
    }
  }
}

[data-theme='theme-wiseblue'] .SpotSearch {
  z-index: 200;

  ::v-deep .innercomp-abcontainer-header__title {
    span {
      color: #E8F3FE !important;
    }
  }
}

[data-theme='theme-aquamarine'] .SpotSearch {
  z-index: 200;

  ::v-deep .innercomp-abcontainer-header__title {
    span {
      color: #ffffff !important;
    }
  }
}

// 国土
[data-theme='theme-terracotta'] .SpotSearch {
  .spot_search_title {
    color: #E4E7C1;
    font-size: px-to-rem(14);
  }

  ::v-deep .el-submenu {
    &__title {
      background: rgba(100, 86, 46, 0.4);
      border: 1px solid rgba(255, 238, 177, 0);
      color: rgba(228, 231, 193, 0.7) !important;

      &:hover {
        background: rgba(100, 86, 46, 0.4) !important;
      }
    }
  }

  .white-background {
    color: #E4E7C1;
  }

  ::v-deep .el-menu {
    .el-submenu.is-opened {
      border: 1px solid #FFEEB1;
    }

    .el-submenu {
      &:hover {
        border: 1px solid #FFEEB1;
      }

      i {
        &::before{
          color: #FFEEB1 !important;
        }
      }
    }
  }

  .switch {
    background: linear-gradient(180deg,
        rgb(255 230 163 / 37%) 0%,
        rgb(134 117 80 / 3%) 100%);
    color: #E4E7C1;
    font-weight: 400;
    &:hover,
    &.active {
      color: #ffffff;
      font-weight: 500;
      //background-image: linear-gradient(180deg, rgb(228 207 19 / 100%), #9f9649),
      //  linear-gradient(180deg, rgb(228 207 19 / 100%), #9f9649);
      background: linear-gradient(180deg, rgb(228 207 19 / 100%) 0, #9f9649 110%);
      cursor: pointer;
    }
  }

  .layer-tree-wrapper {
    background: linear-gradient(180deg, #423b1d 0%, #28210e 11%, #000 100%);
    border: 1px solid #6E674E;

    ::v-deep .el-tree {
      .el-tree-node__content {
        &:hover {
          background: rgba(100, 86, 46, 0.4);
        }

        .layer-tree-node {
          color: #E4E7C1;
        }
      }

      .el-tree-node.is-current>.el-tree-node__content {
        background: rgba(100, 86, 46, 0.4) !important;

        .name {
          color: #FFFA28;
        }
      }
    }
    ::v-deep .el-scrollbar__bar.is-vertical {
      background: transparent !important;
      right: 0;
    }
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      border-radius: px-to-rem(3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 238, 177, 0.40) !important;
      border: 0;
      border-radius: px-to-rem(3);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 238, 177, 0.40) !important;
    }
  }

  .spot-search-container {
    .search-form {
      .form-wrapper {
        ::v-deep .el-form {
          .el-form-item__label {
            color: #E4E7C1;
          }

          .el-input__inner {
            background: rgba(100, 86, 46, 0.4);
            color: #E4E7C1;
            border: px-to-rem(1) solid transparent;

            &:hover,
            &:focus {
              border: px-to-rem(1) solid #FFEEB1;
            }

            &::placeholder {
              color: rgba(228, 231, 193, 0.7);
            }
          }

          .el-select__tags {
            .el-tag {
              background: rgba(255,238,177, 0.2);
              color: #ffeeb1;

              .el-tag__close {
                background-color: transparent;
                color: #ffeeb1;

                &:hover {
                  background: rgba(100, 86, 46, 0.4);
                }
              }
            }
          }
          .el-input__suffix .el-input__clear {
            color: #FFEEB1;
          }
        }
      }
    }
  }

  ::v-deep .el-select {
    .el-input {
      .el-select__caret {
        color: #FFEEB1;
        line-height: px-to-rem(32);
      }
    }
  }
}

// 通用
[data-theme='theme-wiseblue'] .SpotSearch {
  .spot_search_title {
    font-size: px-to-rem(14);
  }
  ::v-deep .el-submenu {
    &__title {
      background: rgba(79, 159, 255, 0.2);
      border: 1px solid rgba(79, 159, 255, 0);

      &:hover {
        background-color: rgba(#7a713d, 0.36);
        color: #e4e7c1;
      }
    }
  }

  .spot-search-container {
    .search-form {
      .form-wrapper {
        ::v-deep .el-form {
          .el-form-item__label {
            color: #ffffff;
          }

          .el-input__inner {
            background: rgba(79,159,255,0.2);
            color: rgba(232,243,254,1);
            border: px-to-rem(1) solid transparent;

            &:hover,
            &:focus {
              border: px-to-rem(1) solid rgb(79, 159, 255, 0.6);
            }

            &::placeholder {
              color: rgba(232,243,254,0.7);;
            }
          }

          .el-select__tags {
            .el-tag {
              background: rgba(79,159,255,0.2);
              color: #e8f3fe;

              .el-tag__close {
                background-color: transparent;
                color: #e8f3fe;

                &:hover {
                  background: rgba(79, 159, 255, 0.6);
                }
              }
            }
          }
        }
      }
    }
  }
}

// 林业
[data-theme='theme-aquamarine'] .SpotSearch {
  .spot_search_title {
    color: #ffffff;
    font-size: px-to-rem(14);
  }
  .search-layer-popup {
    background: linear-gradient(180deg,
        rgba(0, 67, 63, 0.85) 0%,
        rgba(0, 19, 30, 0.74) 21%,
        #00131e 100%);
    border: 1px solid #075b4a;
  }

  ::v-deep .el-tree {
    color: #fff;
    .el-tree-node__content:hover {
      background: rgba(2, 137, 109, 0.4);
    }
  }



  ::v-deep .el-submenu {
    &__title {
      background: rgba(2, 137, 109, 0.2);
      border: 1px solid rgba(255, 238, 177, 0);
      color: rgba(255, 255, 255, 0.7) !important;

      &:hover {
        background: rgba(2, 137, 109, 0.2) !important;
      }
    }
  }

  .white-background {
    color: #ffffff;
  }

  ::v-deep .el-menu {
    .el-submenu.is-opened {
      border: 1px solid #075B4A;
    }

    .el-submenu {
      &:hover {
        border: 1px solid #075B4A;
      }

      i {
        color: #ffffff !important;
      }
    }
  }

  .fix-right {
    background: url('~@component-gallery/assets/image/bg_tab@2x.png') no-repeat center/ 100% 100%;
  }

  .switch {
    color: #0DC985;
    background-color: unset;

    &.active {
      cursor: pointer;
      color: #ffffff;
      font-weight: 500;
      height: px-to-rem(28);
      margin: px-to-rem(2) px-to-rem(2) 0 px-to-rem(2);
      background: rgba(2, 137, 109, 0.3);
      box-shadow: inset 0 0 px-to-rem(13) 0 rgba(0, 255, 248, 0.6);
      border-radius: 0;
    }

    &:hover {
      background: unset
    }
  }

  .layer-tree-wrapper {
    background: linear-gradient(180deg, rgba(0, 67, 63, 0.85) 0%, rgba(0, 19, 30, 0.74) 21%, #00131E 100%);
    border: 1px solid #075B4A;

    ::v-deep .el-tree {
      .el-tree-node__content {
        &:hover {
          background: rgba(2, 137, 109, 0.4);
        }

        .layer-tree-node {
          color: #ffffff;
        }
      }

      .el-tree-node.is-current>.el-tree-node__content {
        background: rgba(2, 137, 109, 0.4) !important;

        .name {
          color: rgb(249 255 108 / 100%);
        }
      }
    }

    ::v-deep .el-scrollbar__bar.is-vertical {
      background: transparent !important;
      right: 0;
    }
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      border-radius: px-to-rem(3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(2, 137, 109, 0.40) !important;
      border: 0;
      border-radius: px-to-rem(3);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(2, 137, 109, 0.40) !important;
    }
  }

  .spot-search-container {
    .search-form {
      .form-wrapper {
        ::v-deep .el-form {
          .el-form-item__label {
            color: #ffffff;
          }

          .el-input__inner {
            background: rgba(2, 137, 109, 0.2);
            color: #ffffff;
            border: px-to-rem(1) solid transparent;

            &:hover,
            &:focus {
              border: px-to-rem(1) solid rgb(2, 137, 109, 1);
            }

            &::placeholder {
              color: rgba(255, 255, 255, 0.7);
            }
          }

          .el-select__tags {
            .el-tag {
              background: rgba(2, 137, 109, 0.2);
              color: #ffffff;

              .el-tag__close {
                background-color: transparent;
                color: #ffffff;

                &:hover {
                  background: rgba(2, 137, 109, 0.4);
                }
              }
            }
          }
        }
      }
    }
  }

  ::v-deep .el-select {
    .el-input {
      .el-select__caret {
        color: #ffffff;
        line-height: px-to-rem(32);
      }
    }
  }
}
