@import "mixins/px-to-rem";
.tools-plot{
    &-container{
        --img-color: #E8F3FE;
        --img-active-color: #FAAC15;
        --list-name-color: #E8F3FE;
        --list-name-active-color: #E8F3FE;
        padding: px-to-rem(12);
        font-size: 0;
        .iconfont_tools {
          font-size: px-to-rem(20);
        }
        button {
          width: px-to-rem(108);
          margin-right: px-to-rem(12);
          height: px-to-rem(32);
          line-height: 1;
        }
    }
    &-treeBox{
        overflow: hidden;
        height: px-to-rem(224);
        background: #0F1926;
        border-radius: 4px;
        ::v-deep .el-scrollbar {
          border-radius: px-to-rem(4);
        }
        ::v-deep .el-scrollbar__wrap {
          overflow-y: scroll;
          overflow-x: hidden;
        }
    }
    &-tree{
        &__name{
            font-size: px-to-rem(14);
            margin-left: px-to-rem(6);
        }
        &__flex{
            display: flex;
            align-items: center;
        }
        .iconfont{
            font-size: px-to-rem(20);
            color: #fff;
        }
        ::v-deep{
          .el-tree-node.is-current {
            .el-tree-node__content{
                // height: px-to-rem(32);
                > span{
                    
                }
              .tools-plot-tree__name {
                color: #4F9FFF;
              }
            }
          }
        }
    }
    &-list{
        padding-top: px-to-rem(12);
        height: px-to-rem(155);
        overflow: auto;

        &::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
        &__box{
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
        }
        &__item{
            margin-top: px-to-rem(5);
            width: 33%;
            height: px-to-rem(67);
            text-align: center;
            div{
                margin: auto;
                position: relative;
                width: px-to-rem(30);
                height: px-to-rem(30);
            }
            img{
                width: 100%;
                height: 100%;
                &.style2{
                    position: absolute;
                    top: 0;
                    left: 1000px;
                    filter: drop-shadow(-1000px 0 0 var(--img-color));
                }
            }
            span{
                font-size: px-to-rem(14);
                color: var(--list-name-color);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: wrap;
                padding: 0 px-to-rem(6);
            }
            &.active{
                img.style2{
                    filter: drop-shadow(-1000px 0 0 var(--img-active-color));
                }
                span{
                    color: var(--img-active-color);
                }
            }
        }
    }
    &-btns{
        margin-top: px-to-rem(18);
        font-size: 0;
        display: flex;
        justify-content: center;
    }
    
}
.common-iw-s ::v-deep .el-tree .el-tree-node__expand-icon {
  margin: 0 px-to-rem(6);
}


// 林业
[data-theme=theme-aquamarine] .tools-plot{
    &-container{
        --iw-theme-color-40:rgba(2,137,109,0.4);
        --img-color: #fff;
        --img-active-color: #F9FF6C;
        --list-name-color: #fff;
        --list-name-active-color: #F9FF6C;
    }
    &-treeBox{
        background: linear-gradient( 180deg, rgba(0,67,63,0.85) 0%, rgba(0,19,30,0.74) 21%, #00131E 100%);
        border-radius: 8px;
        border: 1px solid #075B4A;
        ::v-deep{
          .el-tree-node.is-current {
            .el-tree-node__content{
              .tools-plot-tree__name {
                color:#F9FF6C
              }
            }
          }
        }
    }
}
// 国土
[data-theme=theme-terracotta] .tools-plot{
    &-container{
        --img-color: #FFEEB1;
        --img-active-color: #FFFA28;
        --list-name-color: #E4E7C1;
        --list-name-active-color: #FFFA28;
    }
    &-treeBox{
        background: linear-gradient( 0, #000000 0%, #36301B 100%);
        border-radius: 4px;
        border: 1px solid #6E674E;
        ::v-deep{
          .el-tree-node.is-current {
            .el-tree-node__content{
              .tools-plot-tree__name {
                color:#FFFA28
              }
            }
          }
        }
    }
}