@import 'mixins/mixins';
@import 'mixins/theme-mixins';
@import 'mixins/px-to-rem';

.base-card.marker-dialog {
  width: px-to-rem(368) !important;

  .base-card-content-header {
    width: px-to-rem(368) !important;
    height: px-to-rem(48);
    padding: 0 px-to-rem(12) !important;
    background: linear-gradient(
      270deg,
      rgb(132 180 250 / 0%) 0%,
      rgb(132 180 250 / 54%) 100%
    );
    border-radius: 0.08rem 0.08rem 0 0;
    color: #fff;
    font-size: px-to-rem(16);
    text-align: left;
  }
  .marker-dialog {
    width: px-to-rem(368) !important;

    &-title {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
      background: url('~@component-gallery/assets/image/search-map/location-wrapper-corner.png')
        no-repeat;
      background-size: contain;
      font-size: px-to-rem(16);
      font-weight: 600;
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      img,
      i {
        width: px-to-rem(20);
        height: px-to-rem(20);
        margin-right: px-to-rem(6);
        height: 1;
      }
      .keeperTitle {
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        width: 100%;

        .leftTitle {
          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          i {
            padding-right: px-to-rem(6);
            height: 1;
          }
        }
        .rightTitle {
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            padding-right: px-to-rem(6);
            height: 1;
          }
          .onLine {
            font-size: px-to-rem(12);
            width: px-to-rem(40);
            height: px-to-rem(20);
            background: linear-gradient(90deg, #15bd94 0%, #00a179 100%);
            border-radius: px-to-rem(4);
            line-height: px-to-rem(20);
          }
          .offLine {
            width: px-to-rem(40);
            height: px-to-rem(20);
            background: linear-gradient(90deg, #8fa7cf 0%, #6f85aa 100%);
            border-radius: px-to-rem(4);
            font-size: px-to-rem(12);
            text-align: center;
            line-height: px-to-rem(20);
          }
        }
      }
    }
  }
  .base-card-content__body {
    padding: px-to-rem(12);
    .marker-dialog {
      &-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: px-to-rem(6);
        font-size: px-to-rem(14);
        font-weight: 400;
        line-height: px-to-rem(20);

        &__label {
          width: 5em;
          color: rgb(232 243 254 / 70%);
          text-align: right;
          flex-shrink: 0;
        }
        &__keeperLabel {
          width: px-to-rem(42);
          color: rgb(232 243 254 / 70%);
          text-align: right;
          flex-shrink: 0;
        }

        &__value {
          overflow: hidden;
          color: #e8f3fe;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex-grow: 1;

          .desc {
            display: inline-block;
            overflow-y: auto;
            max-height: px-to-rem(60);
            text-wrap: wrap;
          }
        }
      }

      &-footer {
        display: flex;
        gap: px-to-rem(6);
        padding: px-to-rem(12) 0 0;
        color: #fff;
        border-top: 1px solid rgb(232 243 254 / 20%);

        .iconfont_tools {
          font-size: px-to-rem(30);
          .hover,
          .active {
            color: var(--iw-theme-color);
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
