@import "mixins/px-to-rem";

.vehicle-statistics-container {
    &__vehicleTrend,&__highTrafficHours {
      height: px-to-rem(312);
      padding: 0 px-to-rem(12);
      margin-bottom: px-to-rem(12);
    }
    &__highTrafficHours {
      margin: px-to-rem(24) 0 0;
      margin-bottom: px-to-rem(12);
    }
    ::v-deep .el-divider--horizontal {
      width: px-to-rem(345);
      height: px-to-rem(1);
      margin: auto;
      background: linear-gradient(
        90deg,
        rgba(0, 176, 140, 0.1) 0%,
        #00b08c 51%,
        rgba(0, 176, 140, 0) 100%
      );
      opacity: 0.7;
  }
    &.ty {
      ::v-deep .el-divider--horizontal {
        width: 100%;
        background: rgba(232,243,254,0.2);
      }
    }
    &.ly {
      ::v-deep .el-divider--horizontal {
        width: px-to-rem(345);
        background: linear-gradient(
        90deg,
        rgba(0, 176, 140, 0.1) 0%,
        #00b08c 51%,
        rgba(0, 176, 140, 0) 100%
        );
        }
    }
    &.gt {
      ::v-deep .el-divider--horizontal {
        width: px-to-rem(368);
        background: linear-gradient(
        90deg, 
        rgba(255, 222, 76, 0) 0%, 
        rgba(255, 222, 76, 1) 51%, 
        rgba(255, 222, 76, 0)) 100%;
      }
    }
}

// 通用
[data-theme="theme-wiseblue"] .vehicle-statistics-container {
  background: rgba(23, 37, 55, 0.9);
  border-radius: px-to-rem(8);
}

// 林业
[data-theme="theme-aquamarine"] .vehicle-statistics-container {}

// 国土
[data-theme="theme-terracotta"] .vehicle-statistics-container {
  background: rgba(23,20,11,0.9)!important;
  border-radius: px-to-rem(8);
  border: px-to-rem(1) solid #6E674E;
}

