@import '../mixins/mixins';
@import '../mixins/theme-mixins';

.common-comp-tool-box__alarm_filter_dialog_view {
  @include themeify(false) {
    position: absolute;
    top: 75px;
    left: calc(50%);
    z-index: 105;
    place-content: center center;
    width: 740px;
    background: themed('alarm-filter-dialog-view-background');
    border: themed('alarm-filter-dialog-view-border');
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
    flex-flow: column wrap;
    line-height: 32px;
    font-weight: 400;

    .alarm-filter-container {
      display: flex;
      align-items: center;
    }

    ::v-deep .el-picker-panel.el-date-range-picker {
      top: 29px !important;
      left: -13px !important; // 覆盖弹出层偏移，因为弹出层被要求应当以整个告警筛选左侧对齐
    }

    .title {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      flex: 1;

      + .title {
        &::before {
          position: absolute;
          top: calc(50% - 5px);
          left: 0;
          width: 1px;
          height: 10px;
          background: themed('alarm-filter-dialog-view-title-before-background');
          content: '';
        }
      }
    }

    .titleSelected {
      background: themed('alarm-filter-dialog-view-titleSelected-background');
    }

    .titleTime {
      width: 280px;
      flex: 0 0 auto;
      border-radius: 5px;

      .date-hover-bg {
        border-radius: 5px;

        &:hover {
          background: themed('alarm-filter-dialog-view-titleSelected-background');
        }
      }

      ::v-deep .el-date-editor {
        width: 95%;
        height: 26px;
        background: transparent !important;
        box-sizing: border-box;

        .el-range-input {
          margin-bottom: 4px;
          color: #fff;
          text-align: left;
        }

        .iconfont_tools.icon-tongyong-shaixuanriqi {
          margin-right: 17px;
          margin-left: -12px;
          line-height: 20px;
        }

        .el-range-separator {
          margin-right: 12px;
          margin-left: 6px;
          color: #fff;
          font-size: 14px;
          line-height: 20px;
        }

        // 注意，这个地方是因为告警筛选的日期选择器不需要关闭按钮，但element组件会预留占位，所以需要自己直接去掉它的显示
        .el-range__close-icon {
          display: none;
        }
      }

      .is-active,
      .is-active:hover,
      .el-select .el-input.is-focus .el-input__inner {
        border-color: transparent !important;
      }
    }

    ::v-deep .el-date-editor--daterange {
      width: 280px;
    }

    ::v-deep .el-dropdown-link {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      outline: none !important;
      color: #fff;

      .el-icon--right {
        margin-left: 14px;
      }
    }

    ::v-deep .select-input-title {
      margin-bottom: 6px;
      color: #fff;
      font-size: 14px;
      text-align: left;
    }

    ::v-deep .select-input-content {
      padding: 5px;
      width: 100%;
      height: 36px;
      line-height: 36px;
      background: lightslategrey;
    }

    ::v-deep .el-dropdown-menu {
      margin-top: 30px;
      background: #172537;
      border-radius: 6px;
    }

    ::v-deep .select-container {
      overflow: auto;
      border: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      .select-item {
        padding: 6px 12px;
        height: 32px;
        color: #fff;

        &:hover {
          background: themed('alarm-filter-dialog-view-v-deep-select-container-hover-background');
        }
      }

      .select-input-item {
        padding: 0 6px;
        margin-top: 10px;
        width: 240px;
      }
    }

    .alarm-title {
      .el-dropdown {
        line-height: 26px;
        flex: 1;
        border-radius: 5px;

        &:hover {
          background: themed('alarm-filter-dialog-view-alarm-title-hover');
        }

        // 覆盖dropdown的箭头
        .el-icon-arrow-up {
          width: 18px;
          height: 18px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 18px;
          transform: rotate(180deg);
          background-image: url('~@component-gallery/assets/image/tool-box/arrow_up2.png');
          vertical-align: middle;

          &::before {
            content: '';
          }
        }

        .el-icon-arrow-down {
          width: 18px;
          height: 18px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 18px;
          background-image: url('~@component-gallery/assets/image/tool-box/arrow_up2.png');
          vertical-align: middle;

          &::before {
            content: '';
          }
        }
      }

      ::v-deep .title-selected {
        color: themed('alarm-filter-dialog-view-v-deep-title-selected-color');
        .el-icon-arrow-down {
          background-image: url('~@component-gallery/assets/image/tool-box/arrow_up2.png');
        }
      }
    }

    ::v-deep .el-form-item {
      margin-bottom: 0 !important;
      height: auto;
    }

    ::v-deep .el-form-item .el-form-item__content {
      padding: 0 !important;
      height: 26px;
      line-height: 30px;
    }

    .drop-down-select {
      padding: 0 !important;
      margin: 9px 0 0 !important;
      background: themed('alarm-filter-dialog-view-drop-down-select-background');
      border: themed('alarm-filter-dialog-view-alarm-drop-down-select-border');
      border-radius: 8px;
      transform-origin: top left !important;

      ::v-deep .popper__arrow {
        display: none;
      }
    }

    .other-dropdown-menu {
      .select-container {
        overflow: visible;
      }
    }

    .alarm-type-dropdown-menu {
      width: 256px;
    }

    // 搜索
    .input-bg {
      padding: 12px 12px 0;

      // width: 300px;
      max-width: 300px;
      border-radius: 8px 8px 0 0;

      .input-box {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 3px 5px;
        background: themed('alarm-filter-dialog-view-input-bg-input-box-background');
        border: 1px solid transparent;
        border-radius: 4px;
        flex-wrap: nowrap;

        &:hover {
          border: themed('alarm-filter-dialog-view-input-bg-input-box-hover-border');
        }

        &.is-active {
          border: themed('alarm-filter-dialog-view-input-bg-input-box-is-active-border');
        }

        ::v-deep .el-input__inner {
          height: 24px;
        }
      }

      + .select-container {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        max-height: 320px;
      }

      .more-tag,
      .first-tag {
        position: relative;
        overflow: hidden;
        padding: 1px 8px;
        max-width: 100px;
        border: none;
        text-overflow: ellipsis;

        ::v-deep .el-tag__close.el-icon-close {
          position: absolute;
          top: 6px;
          right: 1px;
          margin: 0 auto;
          width: 18px;
          height: 18px;

          &:hover {
            background-color: themed('alarm-filter-dialog-view-first-tag-hover-background-color');
            color: themed('alarm-filter-dialog-view-first-tag-hover-color');
          }
        }
      }

      .more-tag {
        margin-left: 4px;
      }

      .first-tag {
        padding-right: 18px !important;
      }

      // ::v-deep input:disabled::input-placeholder {
      //   -webkit-text-fill-color: rgb(255 255 255 / 0%);
      // }
    }

    // 搜索清除
    .input-bg .search-input ::v-deep .el-input__clear {
      line-height: 24px;
      color: #fff;
    }

    // 搜索
    .input-bg .search-input ::v-deep .el-input__inner {
      padding: 0 10px 0 6px !important;
      background: transparent;
      border: none;
      border-radius: 3px;
      color: #fff;
      font-size: 14px;
      text-align: left;
    }

    // 搜索按钮
    .input-bg .el-button--mini {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      width: 30px;
      height: 30px;
      background: none;
      border: none;
      outline: none;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
    }

    .searchTypeDiv {
      cursor: pointer;
    }

    .searchTypeIcon {
      color: #fff;
      font-size: 18px;
    }

    // 确定--取消
    .judgeBtnDiv {
      display: flex;
      justify-content: flex-end;
      padding: 12px;

      // width: 100%;
      flex-wrap: nowrap;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      ::v-deep .el-button {
        padding: 4px 10px;
        height: 24px;
        font-size: 12px;
      }
    }

    ::v-deep .el-collapse-item__header {
      display: flex;
      align-items: center;
      padding-left: 10px;
      height: 30px;
      background: themed('alarm-filter-dialog-view-v-deep-el-collapse-item__header-background');
      border-radius: 3px;
      color: themed('alarm-filter-dialog-view-v-deep-el-collapse-item__header-color');
      font-size: 13px;
      cursor: pointer;
      font-weight: 500;
      border-bottom: none !important;
    }

    ::v-deep .el-tree-node__content {
      display: flex;
      align-items: center;
      // padding-right: 8px;
      padding-bottom: 0 !important;
      height: 30px;
      color: #fff;
      cursor: pointer;
      box-sizing: border-box;
      width: 220px;
    }

    ::v-deep .el-collapse-item__content {
      padding-bottom: 0 !important;
      color: themed('alarm-filter-dialog-view-v-deep-el-collapse-item__content-color');
      font-size: 13px;
      line-height: 1.7692;
    }

    ::v-deep .el-tree-node__children .el-tree-node__content {
      padding-right: 0;
    }

    ::v-deep .el-collapse {
      border-top: none !important;
      border-bottom: none !important;
    }

    .el-checkbox-group {
      display: flex;
      flex-direction: column;
    }

    .el-checkbox {
      margin-right: 0;
    }

    ::v-deep .el-checkbox__input {
      height: 14px;
    }

    ::v-deep .el-checkbox {
      display: flex;
      align-items: center;
    }

    ::v-deep .el-checkbox__label {
      // display: grid;
      display: flex;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      div {
        text-align: left;
      }
    }

    ::v-deep .el-select__tags {
      margin-left: 6px !important;
      max-width: none !important;
    }

    ::v-deep .el-input__inner {
      padding-left: 12px;
    }

    ::v-deep .el-select:hover {
      .el-input__inner {
        // background: rgba(2,137,109,0.6);
        border-color: themed('alarm-filter-dialog-view-v-deep-el-select-hover-el-input__inner-border-color');
      }
    }

    ::v-deep .alarm-type-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 320px;
      color: #fff;
      font-size: 14px;
      font-family: 'Alibaba PuHuiTi';
      flex-direction: column;
      font-weight: 400;

      &::before {
        display: block;
        margin-bottom: 12px;
        width: 68px;
        height: 68px;
        background: themed('alarm-filter-dialog-view-alarm-type-empty-before-background');
        background-size: 100% 100%;
        content: '';
      }
    }

    ::v-deep .el-tree-node__label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
      flex: 0 0 57%;
    }

    ::v-deep .el-tree {
      width: 100%;
      height: 98%;
      overflow: auto;
    }

    ::v-deep .el-tree > .el-tree-node {
      display: inline-block;
      min-width: 100%;
    }
  }

  // AlarmFilterDialog.vue 组件内样式
  .custom-fn-ly-tree {
    .custom-tree-node {
      display: flex;
      align-items: center;
      overflow: hidden;

      .tree-img {
        padding-right: 2px;
        height: 16px;
      }

      .custom-tree-right {
        display: none;
      }

      &:hover {
        .custom-tree-right {
          display: block;
        }
      }

      span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .other-dropdown-menu {
    .el-select:hover,
    .el-input.is-focus {
      .el-input__inner {
        border-color: transparent;
      }
    }
  }

  .drop-down-select {
    transform: translateZ(0);
  }

  // AlarmFilterDialog.vue组件第二段样式
  // 临时覆写文件
  $tooltip-bg-color: rgb(0 34 27 / 95%);
  $disable-text-color: rgb(255 255 255 / 70%);
  //$pop-bg-color: linear-gradient(
  //    180deg,
  //    rgb(0 67 63 / 85%) 0%,
  //    rgb(0 19 30 / 74%) 21%,
  //    #00131e 100%
  //);
  $tooltip-offset: 6px;

  .iwhale-speciesLYstyle {
    .el-tag,
    .el-select__tags .el-tag.el-tag--info {
      background-color: rgb(13 201 133 / 20%);
      border-color: transparent;
      color: #0dc985;

      .el-tag__close.el-icon-close {
        color: #0dc985;

        &:hover {
          background-color: #0dc985;
          color: #fff;
        }
      }
    }

    // 按钮覆写
    .el-button {
      padding: 0;
      height: 32px;
      border-color: transparent;
      border-radius: 0;
      font-size: 14px;
      box-sizing: border-box;
      font-weight: 400;

      &.el-button--text.el-picker-panel__link-btn {
        color: #fff;
      }

      &.el-button--default {
        position: relative;
        padding: 5px 15px;
        background: rgb(2 137 109 / 10%);
        border: 2px solid transparent;
        box-shadow: inset 0 0 3px 0 rgb(2 137 109 / 60%);
        color: #fff;

        &::before {
          content: '';
          position: absolute;
          inset: -2px;
          border: 1px dotted rgb(2 137 109 / 50%);
        }
      }

      &.el-button--primary {
        position: relative;
        background: none;
        border: 1px dotted rgb(2 137 109 / 50%);
        color: #fff;

        > span {
          position: relative;
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          border: 4px solid transparent;

          // border-image-source: url('../image/btn_primarybg.png');
          border-image-source: url('~@component-gallery/assets/image/btn_primarybg.png');
          border-image-slice: 9 fill;
        }
      }

      &.el-button--danger {
        background: rgb(237 83 90 / 20%);
        color: #fff;
      }

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.8;
      }

      &.is-disabled {
        opacity: 0.4;
      }
    }

    // 树组件覆写
    .el-tree {
      background: transparent;
      color: #fff;

      .el-tree-node:focus > .el-tree-node__content {
        background: transparent;
      }

      .el-tree-node__content {
        height: 32px;
      }

      .el-tree-node__content:hover {
        background: transparent;
      }

      .el-tree-node__expand-icon:not(.is-leaf) {
        color: #fff;
      }
    }

    // 表单级
    .el-form {
      .el-form-item__label {
        color: #fff;
      }
    }

    // 开关覆写
    .el-switch {
      span.el-switch__core {
        height: 18px;
        background: rgb(2 137 109 / 30%);
        border-color: transparent;
        box-shadow: inset 0 0 3px 0 rgb(2 137 109 / 60%);

        &::after {
          top: 1.5px;
          left: 2px;
          width: 14px;
          height: 14px;
        }
      }

      &.is-checked {
        span.el-switch__core {
          background: rgb(2 137 109 / 70%);
          border-color: transparent;
          box-shadow: inset 0 0 4px 0 #02896d;

          &::after {
            left: 100%;
            margin-left: -15px;
          }
        }
      }
    }

    // 输入框覆写
    .el-input {
      .el-input__inner {
        background: rgb(2 137 109 / 20%);
        border-color: transparent;
        color: rgb(255 255 255 / 100%);
        font-size: 14px;

        &::placeholder {
          color: rgb(255 255 255 / 70%);
        }

        &:not([readonly], [disabled]) {
          &:focus {
            border-color: #02896d;
          }

          &:hover {
            border-color: rgb(2 137 109 / 60%);
          }
        }

        &:disabled {
          opacity: 0.4;
        }
      }

      &.is-focus {
        .el-input__inner {
          border-color: #02896d;
        }
      }

      .el-icon-circle-close::before {
        color: rgb(255 255 255 / 100%);
        font-size: 12px;

        // 统一覆写所有的el-icon-circle-close。注意，这会使得系统里失去原来那个空心版本
        content: '\E6DB'; // FIXME 注意，这个是基于iconfont的值，应该是涂色版的关闭图标，如果图标库有变动会出问题
        font-weight: 600;
      }

      .iconfont_tools {
        color: #fff;
        line-height: 32px;
        font-size: 20px;
      }

      .el-input__prefix {
        color: rgb(255 255 255 / 60%);
      }
    }

    // 轮播图覆写
    .el-carousel__indicator {
      button {
        background: rgb(255 255 255 / 70%);
        border-radius: 3px;
      }

      &.is-active {
        button {
          background: #f9ff6c;
        }
      }
    }

    // 复选框覆写
    .el-checkbox {
      display: inline-block;
      margin-right: 3px;

      .el-checkbox__inner {
        width: 16px;
        height: 16px;
        background: rgb(2 137 109 / 30%);
        border: none;
        border-radius: 3px;
        box-shadow: inset 0 0 3px 0 rgb(2 137 109 / 60%);

        &::after {
          top: 2px;
          left: 5px;
          border: 2px solid #fff;
          border-left: 0;
          border-top: 0;
        }
      }

      .el-checkbox__label {
        color: #fff;
        font-weight: 400;
      }

      &.is-checked {
        .el-checkbox__inner {
          background: rgb(2 137 109 / 70%);
          box-shadow: inset 0 0 4px 0 #02896d;
        }

        .el-checkbox__label {
          color: rgb(249 255 108 / 100%);
        }
      }

      .is-indeterminate {
        .el-checkbox__inner {
          background: rgb(2 137 109 / 70%);
          box-shadow: inset 0 0 4px 0 #02896d;

          &::before {
            top: 6px;
            height: 4px;
          }
        }
      }
    }

    // 下拉框覆写
    .el-select {
      .el-tag__close.el-icon-close {
        background-color: transparent;
      }

      .el-input .el-select__caret.el-icon-arrow-up {
        transform: rotate(0deg);
        color: #fff;
        font-size: 20px;

        &.is-reverse {
          transform: rotate(180deg);
        }

        &::before {
          content: '\EA83';
          font-family: 'iconfont_tools';
        }
      }

      &:hover {
        .el-input__inner {
          border-color: rgb(2 137 109 / 60%);
        }
      }
    }

    &.el-select-dropdown {
      margin-top: 13px;
      margin-bottom: 13px;
      width: 228px;
      background: linear-gradient(
          180deg,
          rgb(0 67 63 / 85%) 0%,
          rgb(0 19 30 / 74%) 21%,
          #00131e 100%
      );
      border-color: #075b4a;

      .el-select-dropdown__list {
        padding: 0;
        height: 258px;
      }

      .el-select-dropdown__empty {
        color: #fff;
      }

      .el-select-dropdown__item {
        color: #fff;
        font-weight: 400;

        &.hover,
        &.selected.hover {
          background-color: rgb(2 137 109 / 40%);
        }

        &.selected {
          background-color: rgb(2 137 109 / 40%);
          color: #f9ff6c;
        }
      }

      .popper__arrow {
        display: none;
      }
    }

    // 工具提示覆写
    &.el-tooltip__popper.is-dark {
      padding: 6px 12px;
      background: $tooltip-bg-color;

      &.el-tooltip__popper[x-placement^='top'] {
        margin-bottom: $tooltip-offset;

        .popper__arrow {
          border-top-color: $tooltip-bg-color;

          &::after {
            border-top-color: $tooltip-bg-color;
          }
        }
      }

      &.el-tooltip__popper[x-placement^='left'] {
        .popper__arrow {
          border-left-color: $tooltip-bg-color;

          &::after {
            border-left-color: $tooltip-bg-color;
          }
        }
      }

      &.el-tooltip__popper[x-placement^='right'] {
        .popper__arrow {
          border-right-color: $tooltip-bg-color;

          &::after {
            border-right-color: $tooltip-bg-color;
          }
        }
      }

      &.el-tooltip__popper[x-placement^='bottom'] {
        margin-top: $tooltip-offset;

        .popper__arrow {
          border-bottom-color: $tooltip-bg-color;

          &::after {
            border-bottom-color: $tooltip-bg-color;
          }
        }
      }
    }

    &.el-popper[x-placement^='top'] {
      margin-bottom: $tooltip-offset;

      .popper__arrow {
        border-top-color: $tooltip-bg-color;

        &::after {
          border-top-color: $tooltip-bg-color;
        }
      }
    }

    &.el-popper[x-placement^='left'] {
      .popper__arrow {
        border-left-color: $tooltip-bg-color;

        &::after {
          border-left-color: $tooltip-bg-color;
        }
      }
    }

    &.el-popper[x-placement^='right'] {
      .popper__arrow {
        border-right-color: $tooltip-bg-color;

        &::after {
          border-right-color: $tooltip-bg-color;
        }
      }
    }

    &.el-popper[x-placement^='bottom'] {
      margin-top: $tooltip-offset;

      .popper__arrow {
        border-bottom-color: $tooltip-bg-color;

        &::after {
          border-bottom-color: $tooltip-bg-color;
        }
      }
    }

    // 时间选择器覆写
    .el-date-editor {
      .el-range-input {
        background: transparent;
        color: #fff;
        font-size: 14px;
      }

      .el-range-separator {
        width: 20px;
        color: #fff;
        font-size: 14px;
        line-height: 32px;
      }

      &.el-input__inner {
        align-items: center;
        padding: 0 10px;
        height: 32px;
        background: rgb(2 137 109 / 20%);
        border-color: transparent;
      }

      // 设计师好像要求的是这个图标，对使用这个图标的日期选择器做统一处理
      i.iconfont_tools.icon-tongyong-shaixuanriqi {
        margin-right: 12px;
        color: #fff;
        font-size: 18px;
        line-height: 32px;

        &::before {
          // vertical-align: middle;
          // margin-top: 4px;
          margin-left: 12px;
        }
      }
    }

    // 分页组件
    .el-pagination {
      .btn-prev,
      .btn-next {
        background: none;
        color: #fff;
      }

      li.number {
        background-color: transparent;
        border-radius: 4px;
        color: #fff;

        &:not(.disabled):hover {
          color: rgb(2 137 109 / 100%);
        }

        &:not(.disabled).active {
          background-color: rgb(2 137 109 / 100%);

          &:hover {
            color: #fff;
          }
        }
      }
    }

    // 滚动条覆写
    // 使用element的叠加滚动条的组件，单独修改叠加滚动条的样式
    .el-scrollbar {
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      .el-scrollbar__wrap {
        margin-right: 0 !important;

        // el-scrollbar的偏移量会导致尺寸异常，推测这是它用来规避原生滚动条尺寸的
        // 强行覆盖它
        margin-bottom: 0 !important;

        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }

        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: transparent;
        }

        .el-scrollbar__view > div {
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }

          &::-webkit-scrollbar-thumb {
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb:hover {
            background-color: transparent;
          }
        }
      }

      .el-scrollbar__bar {
        right: 0;
      }
    }

    .el-scrollbar__thumb {
      background-color: rgb(2 136 109 / 40%);
    }

    // 其他普通滚动条使用保底的覆盖样式
    ::-webkit-scrollbar,
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      border-radius: 3px;
    }

    ::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb {
      background-color: rgb(2 136 109 / 40%);
      border: 0;
      border-radius: 3px;
    }

    ::-webkit-scrollbar-thumb:hover,
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgb(2 136 109 / 40%);
    }

    // 以下是不在组件库样式中的、定制使用的额外通用样式

    // 标红版本的alert，这个方式适合配合warning状态的alert组件使用，显示成红色
    // 通常用于表单组件需要一个在表单内占位的报错时使用
    .iw-erroralert {
      display: flex;
      justify-content: center;
      background-color: rgb(237 81 88 / 20%);
      color: rgb(237 81 88 / 100%);
    }
  }

  .lyDataBoxDatetimerangeFooterCom {
    top: 90px !important;
    left: 80px !important;
    width: 595px !important;
    background: linear-gradient(
        180deg,
        rgb(0 67 63 / 85%) 0%,
        rgb(0 19 30 / 74%) 21%,
        #00131e 100%
    );
    border: 1px solid #075b4a;
    border-radius: 8px;
    color: #fff;

    .el-picker-panel__body-wrapper {
      .el-picker-panel__sidebar {
        width: 80px;
        background: transparent;
        border-right: 1px solid rgb(255 255 255 / 20%);

        .el-picker-panel__shortcut {
          color: #fff;

          &:hover {
            color: '';
          }
        }
      }
    }

    .popper__arrow {
      display: none;

      &::after {
        display: none;
      }
    }

    .el-date-range-picker__content.is-left {
      border-right: 1px solid rgb(228 231 193 / 24%);
    }

    .el-picker-panel__body {
      padding: 0;
      margin-left: 80px;

      .el-date-range-picker__header {
        .el-picker-panel__icon-btn {
          color: #fff;
        }
      }

      .el-picker-panel__content {
        padding: 6px 12px;
      }

      .el-date-table {
        th {
          padding: 0;
          font-weight: 400;
          border-bottom: solid 1px rgb(255 255 255 / 20%);
          color: #e8f3fe;
        }

        td {
          color: #e8f3fe;
        }

        td.available {
          // &:hover {}
        }

        td.in-range {
          div {
            background: rgb(2 137 109 / 40%);

            &:hover {
              background: rgb(2 137 109 / 40%);
            }
          }
        }

        td.start-date,
        td.end-date {
          span {
            background: #02896d;
          }
        }

        td.today {
          span {
            color: #0dc985;
          }
        }
      }

      .el-date-table td div {
        padding: 0;
        height: 24px;
        box-sizing: border-box;
      }

      .el-date-table td.disabled div {
        background-color: transparent;
        opacity: 1;
        cursor: not-allowed;
        color: rgb(255 255 255 / 40%);
      }
    }
  }

  // 用于工具箱使用的，地图功能相关自定义样式。此前缀会在地图初始化后，被自动添加到地图容器之上。
  .iwhale-mapcustom {
    .ctmap-ol-measure-tooltip,
    .ctmap-ol-measure-tooltip--static {
      color: #fff;
    }
  }

  // 时间弹出面板覆写
  .iwhale-speciesLYstyle.el-date-range-picker.el-picker-panel {
    overflow: hidden;
    width: 490px;
    background: themed('alarm-filter-dialog-view-el-date-range-picker-background');
    border-color: themed('alarm-filter-dialog-view-el-date-range-picker-border-color');
    border-radius: 8px;
    color: #fff;

    .el-picker-panel__content.el-date-range-picker__content {
      padding: 0;

      &.is-left {
        border-right: 1px solid rgb(255 255 255 / 20%);
      }
    }

    &.has-sidebar {
      width: 576px;
    }

    .el-picker-panel *[slot='sidebar'],
    .el-picker-panel__sidebar {
      width: 80px;
      border-right: 1px solid rgb(255 255 255 / 20%);

      + .el-picker-panel__body {
        margin-left: 80px;
      }
    }

    .popper__arrow {
      display: none;
    }

    .el-date-range-picker__time-header {
      border-color: #3d4756;

      .el-icon-arrow-right {
        color: #e8f3fe;
      }
    }

    .el-picker-panel__sidebar {
      padding-top: 0;
      background: transparent;

      .el-picker-panel__shortcut {
        color: #fff;

        &:hover {
          background: rgb(2 137 109 / 60%);
          border-right: 1px solid rgb(255 255 255 / 20%);
        }
      }
    }

    .el-picker-panel__body {
      min-width: auto;
    }

    .el-date-range-picker__header {
      padding: 10px 8px;
      margin-top: 12px;
      height: 32px;
      color: #fff;
      line-height: 12px;

      div {
        display: flex;
        justify-content: center;
        margin-right: 40px;
        margin-left: 40px;
        font-size: 14px;
      }

      .el-picker-panel__icon-btn {
        padding: 0;
        margin-top: -4px;
        color: #fff;
        font-size: 20px;

        &.el-icon-d-arrow-left {
          font-family: 'iconfont_tools' !important;

          &::before {
            content: '\ea80';
          }
        }

        &.el-icon-arrow-left {
          font-family: 'iconfont_tools' !important;

          &::before {
            content: '\ea49';
          }
        }

        &.el-icon-d-arrow-right {
          font-family: 'iconfont_tools' !important;

          &::before {
            content: '\ea7e';
          }
        }

        &.el-icon-arrow-right {
          font-family: 'iconfont_tools' !important;

          &::before {
            content: '\ea47';
          }
        }
      }
    }

    .el-date-table {
      padding: 0 12px 12px;
      font-size: 14px;

      tr {
        th {
          color: #fff;
          text-align: center;
          border-bottom: 1px solid rgb(255 255 255 / 20%);
        }
      }

      th {
        padding: 0;
      }

      td {
        padding: 0;
        height: 32px;

        &.prev-month,
        &.next-month {
          color: rgb(255 255 255 / 40%);
        }

        div {
          height: 32px;
        }

        span {
          top: 2px;
          width: 28px;
          height: 28px;
          line-height: 28px;
        }

        &.today {
          span {
            color: #0dc985;
          }
        }

        &.today.in-range {
          span {
            color: #fff;
          }
        }

        &.start-date {
          div {
            margin-left: 0;
          }
        }

        &.end-date {
          div {
            margin-right: 0;
          }
        }
      }
    }

    .el-date-table td.available:hover {
      color: #fff;

      span {
        background-color: #006c56;
      }
    }

    .el-date-table td.disabled div {
      background-color: transparent;
      color: rgb(255 255 255 / 40%);
    }

    .el-date-table td.in-range div {
      background-color: rgb(2 137 109 / 40%);
    }

    .el-date-table td.start-date span,
    .el-date-table td.end-date span {
      background: #02896d;
    }
  }

  ::v-deep .toolbox-toolboxsp {
    // 工具提示覆写
    &.el-tooltip__popper.is-dark {
      padding: 6px 12px;
      height: 26px;
      background: rgb(0 34 27 / 100%);

      .popper__arrow {
        top: calc(50% - 6.5px) !important; // 强制修改定位，希望这样能够居中
        border-right-color: rgb(0 34 27 / 100%);
        border-left-color: rgb(0 34 27 / 100%);

        &::after {
          border-right-color: transparent;
          border-left-color: transparent;
        }
      }
    }
  }

  .c-no-datas {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    padding-bottom: 8px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: normal;

    &::before {
      // content: url('../image/noData-ly.png');
      content: url('~@component-gallery/assets/image/noData-ly.png');
      display: block;
      margin: 0 !important;
    }
  }
}
