@import '../../mixins/mixins';
@import '../../mixins/theme-mixins';
@import '../../mixins/px-to-rem';

.set-con-info .timing .el-slider {
  transform-origin: 0 50%;
}

.set-con-info .con .row {
  height: auto !important;
  min-height: px-to-rem(26) !important;
  line-height: px-to-rem(32) !important;
}

.set-con-info .con .el-input-number {
  padding: 0 px-to-rem(18) 0 0 !important;
  height: px-to-rem(32) !important;
  background-color: rgb(79 159 255 / 20%);
  border-radius: px-to-rem(4);
  font-size: px-to-rem(14);
  line-height: px-to-rem(32) !important;
}

.set-con-info .con .el-input-number ::v-deep .el-input__inner {
  margin-left: px-to-rem(-6);
  background: none;
}

.submit-btns .disabled {
  cursor: wait !important;
}

.set-con-info .submit-btns .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan-conflict .btn-80-32 {
  width: px-to-rem(108) !important;
  height: px-to-rem(32) !important;
}

.search-view {
  display: flex;
  padding: 0 px-to-rem(12);
  margin-top: px-to-rem(12);

  ::v-deep .el-input__icon.el-icon-date {
    color: #e8f3fe;
    font-size: px-to-rem(20) !important;
    font-weight: unset;

    &::before {
      font-family: iconfont !important;
      content: '\ec18' !important;
    }
  }

  .column-view {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    flex-direction: column;

    .search-item {
      display: flex;
      align-items: center;
      margin-top: px-to-rem(12);
      width: 100%;
      height: px-to-rem(32);

      .search-text {
        margin: 0 px-to-rem(12);
        color: #e8f3fe;
        font-size: px-to-rem(14);
        text-align: right;
        font-weight: 400;
        line-height: px-to-rem(32);
      }

      &:first-child {
        margin-top: px-to-rem(0);
      }

      .search-date {
        width: calc(100% - px-to-rem(94)) !important;

        ::v-deep .el-range-input {
          width: 50%;
        }

        ::v-deep .el-input__prefix {
          top: px-to-rem(-1);
        }
      }

      .tower-date {
        ::v-deep .el-icon-time::before {
          margin-left: px-to-rem(-1);
        }

        ::v-deep .el-range-input {
          width: 69% !important;
        }
      }
    }

    &:first-child,
    &:nth-child(2) {
      .search-item .search-text {
        width: px-to-rem(70);
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      .search-item .search-text {
        width: px-to-rem(56);
      }
    }
  }

  .tower-text1 {
    .search-item .search-text {
      width: px-to-rem(77) !important;
    }

    .search-item .search-date {
      width: calc(100% - px-to-rem(101)) !important;
    }
  }

  .tower-text2 {
    .search-item .search-text {
      width: px-to-rem(91) !important;
    }
  }
}

.setting-switch {
  ::v-deep .el-switch__core {
    height: px-to-rem(16);
    border-radius: px-to-rem(8);

    &::after {
      top: px-to-rem(1);
      left: px-to-rem(2);
      width: px-to-rem(12);
      height: px-to-rem(12);
      background: #fff;
    }
  }
}

.setting-switch.is-checked {
  ::v-deep .el-switch__core::after {
    margin-left: px-to-rem(14) !important;
  }
}

.set-con-info.list ::v-deep .el-pager li.number {
  padding: px-to-rem(0) px-to-rem(0);
  width: px-to-rem(22) !important;
  min-width: unset !important;
  height: px-to-rem(22) !important;
  border-radius: px-to-rem(4) !important;
  font-size: px-to-rem(12);
  box-sizing: border-box;
  line-height: px-to-rem(22) !important;
}

.set-con-info .til span {
  color: #e8f2fe;
  font-size: px-to-rem(16);
  font-weight: bold;
  line-height: px-to-rem(20);
}

.video .set-con-info.list .setting-table ::v-deep .cell {
  padding: px-to-rem(0) px-to-rem(12);
  height: px-to-rem(32);
  line-height: px-to-rem(32);
}

.video .setting-table,
.table-class {
  ::v-deep .el-table__fixed-right {
    height: calc(100% - px-to-rem(6)) !important;
    box-shadow: unset !important;

    &::before {
      background-color: transparent;
    }

    td.el-table__cell {
      background-color: #162536 !important;
    }

    th.el-table__cell {
      background-color: #27364a !important;
    }

    .column-right-box {
      border-left: px-to-rem(1) solid rgb(232 243 254 / 20%) !important;
    }
  }

  ::v-deep .el-table__fixed-right:has(.el-table__row) {
    box-shadow: px-to-rem(-20) 0 px-to-rem(10) rgb(22 35 54 / 60%) !important;
  }

  ::v-deep .el-table__fixed-right:not(:has(.el-table__row)) {
    box-shadow: none !important;
  }
}

// 当表格有纵向滚动条时
.setting-table.el-table--scrollable-y ::v-deep .el-table__fixed-right {
  right: px-to-rem(6) !important; //为自定义滚动条的宽高
}

.setting-table {
  //th.gutter {
  //  display: table-cell !important;
  //}
  ::v-deep .el-table__fixed-right-patch {
    width: px-to-rem(0) !important;
  }

  //::v-deep.el-table__fixed-body-wrapper .el-table__body {
  //  padding-bottom: px-to-rem(6) !important;
  //}
}

.video .set-con .set-con-info.list {
  position: relative;
}

.video .set-con .set-con-info.list .con {
  margin-top: px-to-rem(12);

  //height: calc(100% - px-to-rem(236));
}

.set-con-info .submit-btns,
.video .set-video-info .submit-btns {
  display: flex;
  justify-content: center;
  padding-top: px-to-rem(0);
  width: 100%;

  .item {
    margin: px-to-rem(0);
    width: px-to-rem(108);
    cursor: pointer;
  }

  .submit {
    margin-right: px-to-rem(12);
  }
}

.video .set-con .set-con-info.list .head {
  margin: px-to-rem(12) px-to-rem(12) 0 px-to-rem(12);
  width: calc(100% - px-to-rem(24));

  .item-btn {
    float: left;
    margin-right: px-to-rem(12);
    width: px-to-rem(108);
    height: px-to-rem(32);
  }

  .add-btn2 {
    width: px-to-rem(108);
    height: px-to-rem(32);
  }

  .text-btn {
    display: flex;
    align-items: center;
    width: px-to-rem(55);
    height: px-to-rem(32);
    color: #e8f3fe;
    font-size: px-to-rem(14);
    font-weight: 400;
    line-height: px-to-rem(32);
    cursor: pointer;
  }

  span {
    margin-left: px-to-rem(6);
    font-size: px-to-rem(20);
    line-height: px-to-rem(32);
    transform: rotate(180deg);
  }

  .zhankaIcon {
    transform: rotate(0deg);
  }
}

.video .set-con-info {
  .til {
    overflow: hidden;
    height: px-to-rem(20);
    color: #e8f2fe;
    line-height: px-to-rem(20);

    i {
      float: left;
      margin-right: px-to-rem(6);
      width: px-to-rem(20);
      font-size: px-to-rem(20);
      text-align: center;
      line-height: px-to-rem(20);
    }
  }

  .mar-top-24 {
    margin-top: px-to-rem(24);
  }

  .mar-bottom-24 {
    margin-bottom: px-to-rem(24) !important;
  }

  .con {
    margin: px-to-rem(12) 0;

    .row {
      .label {
        float: left;
        width: px-to-rem(84);
        min-height: px-to-rem(32);
        color: #e8f2fe;
        text-align: right;
        line-height: px-to-rem(32);
      }

      .info {
        margin-left: px-to-rem(96);

        .el-select,
        .el-date-editor {
          width: px-to-rem(366) !important;
        }

        .el-input-number {
          ::v-deep .el-icon-arrow-up {
            margin-top: px-to-rem(4);
          }
        }
      }
    }

    .ly-time {
      margin-top: px-to-rem(12);
      margin-right: px-to-rem(12);
      width: px-to-rem(434);
      min-width: px-to-rem(348);
    }

    .video-slider {
      margin-left: px-to-rem(42);
      width: calc(100% - px-to-rem(42));
    }
  }

  .reset-btns {
    float: right;
    padding: px-to-rem(0);

    .item {
      display: block;
      float: left;
      margin-left: px-to-rem(12);
      width: px-to-rem(108);
      height: px-to-rem(32);
      cursor: pointer;
    }
  }
}

.set-con-info.list .con ::v-deep .el-table {
  margin: 0 px-to-rem(12);
  width: calc(100% - px-to-rem(24)) !important;
  height: 100%;
}

.set-con-info.tower-style
  .el-table
  ::v-deep
  .el-table__body-wrapper:has(> .el-table__empty-block) {
  height: calc(100% - px-to-rem(32));
}

.video {
  .set-con-info.list ::v-deep .el-table__header .cell {
    padding: px-to-rem(0) px-to-rem(12);
    height: px-to-rem(32);
    background: #223c5e;
    box-shadow: none;
    color: #e8f3fe;
    font-size: px-to-rem(14);
    line-height: px-to-rem(32);
  }
}

.set-con-info.list td,
.set-con-info.list .el-table th {
  border: px-to-rem(1) solid rgb(232 243 254 / 20%);
}

//分页
.set-con-info.list {
  .fd-pagination-box {
    position: absolute;
    right: px-to-rem(0);
    bottom: px-to-rem(0);
    color: #e8f3fe;

    ::v-deep .fd-pagination-text {
      float: right;
      margin: px-to-rem(10);
      height: px-to-rem(22);
      font-size: px-to-rem(12);
      line-height: px-to-rem(22);
    }

    ::v-deep .page {
      padding: 0;
      margin: px-to-rem(12) px-to-rem(12) px-to-rem(12) - px-to-rem(6);
      height: px-to-rem(22);
      line-height: px-to-rem(22);

      .el-pagination__total {
        margin-right: px-to-rem(3);
        height: px-to-rem(22);
        font-size: px-to-rem(12);
        line-height: px-to-rem(22);
      }

      .btn-prev,
      .btn-next {
        margin: px-to-rem(0) px-to-rem(3);
        width: px-to-rem(22);
        min-width: unset;
        height: px-to-rem(22) !important;
        line-height: px-to-rem(22);

        .el-icon {
          font-size: px-to-rem(12);

          &::before {
            position: relative;
          }
        }
      }

      .el-pager .number {
        padding: px-to-rem(0) px-to-rem(0);
        width: px-to-rem(22);
        min-width: unset;
        height: px-to-rem(22);
        border-radius: px-to-rem(4);
        font-size: px-to-rem(12);
        box-sizing: border-box;
        line-height: px-to-rem(22);
      }

      .el-pager li.active {
        background: #4f9fff !important;
        color: #fff;
      }

      .el-pagination__jump {
        margin-top: px-to-rem(0);
        margin-right: px-to-rem(0);
        margin-left: px-to-rem(3);
        height: px-to-rem(22);
        color: #e8f3fe;
        font-size: px-to-rem(12);
        line-height: px-to-rem(22);

        .el-pagination__editor.el-input {
          margin: px-to-rem(0) px-to-rem(6);
          width: px-to-rem(48);
          height: px-to-rem(22);

          .el-input__inner {
            height: px-to-rem(22);
            background: rgb(79 159 255 / 20%);
            border-radius: px-to-rem(4);
            font-size: px-to-rem(12);
            line-height: px-to-rem(22);
          }
        }
      }
    }
  }
}

.plan-box {
  .text-color {
    color: #4f9fff;
    cursor: pointer;
  }

  .red-box {
    padding: 0;
    margin-top: px-to-rem(4);
    width: px-to-rem(60);
    height: px-to-rem(24);
    background: rgb(237 81 88 / 20%);
    border-radius: px-to-rem(4);
    color: #ed5158;
    text-align: center;
    line-height: px-to-rem(24);
  }

  .green-box {
    padding: 0;
    margin-top: px-to-rem(4);
    width: px-to-rem(60);
    height: px-to-rem(24);
    background: rgb(19 190 136 / 20%);
    border-radius: px-to-rem(4);
    color: #13be88;
    text-align: center;
    line-height: px-to-rem(24);
  }
}

.plan-dialog {
  .top-box {
    padding: px-to-rem(12) px-to-rem(12) px-to-rem(0) px-to-rem(12);
  }

  .row-box {
    display: flex;
    margin-bottom: px-to-rem(12);

    .col-box {
      display: flex;
      align-items: center;

      .input-text1 {
        margin-right: px-to-rem(12);
        width: px-to-rem(84);
        color: #e8f3fe;
        font-size: px-to-rem(14);
        text-align: end;
        font-weight: 400;
      }

      .input-width1 {
        width: px-to-rem(322);
      }

      .input-text2 {
        margin-right: px-to-rem(12);
        margin-left: px-to-rem(12);
        width: px-to-rem(70);
        color: #e8f3fe;
        font-size: px-to-rem(14);
        text-align: end;
        font-weight: 400;
      }

      .input-width2 {
        width: px-to-rem(346);
      }

      .text0 {
        margin: px-to-rem(0) px-to-rem(12);
        width: px-to-rem(28);
      }

      .text1 {
        margin: px-to-rem(0) px-to-rem(12);
        width: px-to-rem(42);
      }

      .text2 {
        margin: px-to-rem(0) px-to-rem(12);
        width: px-to-rem(56);
      }

      .text3 {
        margin: px-to-rem(0) px-to-rem(12);
        width: px-to-rem(84);
      }

      .value1 {
        width: px-to-rem(160);
      }

      .value2 {
        width: px-to-rem(92);
      }

      .value3 {
        width: px-to-rem(92);
      }
    }
  }

  .head-box {
    margin: px-to-rem(24) px-to-rem(0);
    color: #fff;
    font-size: px-to-rem(16);
    font-weight: bold;
  }

  .presets-box {
    color: #e8f3fe;
    font-size: px-to-rem(14);

    .unit {
      position: relative;
      left: px-to-rem(-26);
      color: #e8f3fe;
      font-size: px-to-rem(20);
    }

    .icon {
      margin-right: px-to-rem(12);
      color: rgb(232 243 254 / 100%);
      font-size: px-to-rem(24);
      cursor: pointer;

      &:last-child {
        margin-right: px-to-rem(0) !important;
      }
    }

    .iconfont.disabled {
      color: rgb(232 243 254 / 40%) !important;
    }
  }

  .planDialog-btns {
    display: flex;
    justify-content: center;
    margin-bottom: px-to-rem(12);

    .d-btns {
      width: px-to-rem(108);
      height: px-to-rem(32);
    }
  }

  .row-title1 {
    width: px-to-rem(98);
    color: rgb(232 243 254 / 70%);
    font-size: px-to-rem(14);
    text-align: end;
    font-weight: 400;
  }

  .row-text1 {
    display: inline-block;
    overflow: hidden;
    width: px-to-rem(190);
    color: rgb(232 243 254 / 100%);
    font-size: px-to-rem(14);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    vertical-align: bottom;
  }

  .row-title2 {
    margin-left: px-to-rem(12);
    width: px-to-rem(84);
    color: rgb(232 243 254 / 70%);
    font-size: px-to-rem(14);
    text-align: end;
    font-weight: 400;
  }

  .row-text2 {
    display: inline-block;
    overflow: hidden;
    width: px-to-rem(192);
    color: rgb(232 243 254 / 100%);
    font-size: px-to-rem(14);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    vertical-align: bottom;
  }

  .bottom-box {
    margin-bottom: px-to-rem(12);
  }

  .header-box {
    display: flex;
    align-items: center;
    margin: px-to-rem(0) px-to-rem(12);
    height: px-to-rem(32);
    background: #223c5e;

    .header-left-box {
      display: flex;
      align-items: center;
      padding-left: px-to-rem(12);
      height: px-to-rem(32);
      color: #e8f3fe;
      font-size: px-to-rem(14);
      font-weight: 400;
    }
  }

  .table-line-box {
    margin: px-to-rem(0) px-to-rem(12);
    border-bottom: px-to-rem(1) solid rgb(205 227 255 / 20%);
  }

  .body-item-box {
    display: flex;
    align-items: center;
    margin: px-to-rem(0) px-to-rem(12);
    height: px-to-rem(32);

    .left-box {
      display: inline-block;
      overflow: hidden;
      padding-left: px-to-rem(12);
      color: #e8f3fe;
      font-size: px-to-rem(14);
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 400;
      vertical-align: bottom;
    }
  }
}

.plan-tree {
  height: 100%;
  background: transparent;
  color: #fff;
  font-size: px-to-rem(14);

  ::v-deep .el-tree__empty-text {
    padding-bottom: px-to-rem(8);
    color: #e8f3fe;
    text-align: center;

    &::before {
      content: url('~@component-gallery/assets/image/noData.png');
      display: block;
      margin-bottom: px-to-rem(12);
    }
  }

  ::v-deep .el-tree-node:focus > .el-tree-node__content {
    background: transparent;
  }

  ::v-deep .el-tree-node__content {
    height: px-to-rem(32);
    line-height: px-to-rem(32);
  }

  ::v-deep .el-tree-node__content:hover {
    height: px-to-rem(32) !important;
    background: rgb(79 159 255 / 40%) !important;

    .checked::after {
      background: none !important;
    }
  }

  ::v-deep .el-tree-node__expand-icon {
    padding: px-to-rem(4) !important;
    margin-right: px-to-rem(6) !important;
    margin-left: px-to-rem(6) !important;
    color: #e8f3fe !important;
  }

  ::v-deep .el-tree-node__expand-icon.is-leaf {
    margin-left: px-to-rem(-18) !important;
    color: transparent !important;
  }

  .tree-icon {
    margin-right: px-to-rem(6);
    color: #e8f3fe;
    font-size: px-to-rem(20);
  }

  .tree-label {
    color: #e8f3fe;
  }

  .is-tree {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: px-to-rem(12);
    height: px-to-rem(32);
    line-height: px-to-rem(32);
  }

  .checked {
    z-index: 2;

    .tree-label {
      color: #4f9fff;
    }

    &::after {
      position: absolute;
      top: px-to-rem(0);
      left: px-to-rem(-100);
      z-index: -1;
      display: block;
      width: px-to-rem(600);
      height: px-to-rem(32);
      background: rgb(79 159 255 / 40%);
      content: '';
      border-left: px-to-rem(0);
    }
  }
}

.more-select ::v-deep .el-input__icon.el-icon-circle-close::before {
  content: '' !important;
}

.video .set-con-info.list .table-class {
  height: auto !important;

  ::v-deep .el-table__empty-text {
    height: px-to-rem(120) !important;
  }

  ::v-deep .el-checkbox {
    .el-checkbox__inner {
      width: px-to-rem(16) !important;
      height: px-to-rem(16) !important;

      &::after {
        top: px-to-rem(2);
        left: px-to-rem(5);
      }
    }

    .is-indeterminate {
      .el-checkbox__inner {
        width: px-to-rem(16) !important;
        height: px-to-rem(16) !important;

        &::before {
          top: px-to-rem(5);
        }
      }
    }
  }

  ::v-deep .cell {
    padding: px-to-rem(0) px-to-rem(12);
    height: px-to-rem(32);
    line-height: px-to-rem(32);
  }

  .el-table--scrollable-y ::v-deep .el-table__fixed-right {
    right: px-to-rem(6) !important; //为自定义滚动条的宽高
  }

  ::v-deep .el-table__fixed-right-patch {
    width: px-to-rem(0) !important;
  }
}

.set-con-info.list .con ::v-deep .table-class {
  margin-right: var(--scroll-width) !important;
  width: calc(100% - px-to-rem(12) - var(--scroll-width)) !important;
}

.video {
  @include themeify(false) {
    @if $theme-name == 'theme-terracotta' {
      ::v-deep .plan-box .el-icon-arrow-up:before,
      ::v-deep .plan-dialog .el-icon-arrow-up:before {
        color: #ffeeb1;
      }
      .video-set {
        background: #15130c !important;
        &:before {
          background: #36301b !important;
        }
        .set-con {
          border-radius: 8px !important;
          border: 1px solid rgba(204, 194, 86, 0.5);
          background: rgba(122, 113, 61, 0.1) !important;

          .query-box {
            //margin: 12px 12px 0px 12px;
            span {
              color: #e4e7c1;
            }
          }

          ::v-deep .el-tabs__nav .el-tabs__active-bar {
            &:after {
              height: px-to-rem(14);
              background: url('~@component-gallery/assets/image/video/videoGt/nav_bottom.png')
                no-repeat
                bottom
                center /
                100%
                auto;
            }
          }
          ::v-deep .el-tabs__nav-wrap::after {
            background: linear-gradient(
              90deg,
              rgba(255, 222, 76, 0),
              rgba(255, 222, 76, 1),
              rgba(255, 222, 76, 0)
            );
            opacity: 0.35;
            height: px-to-rem(1);
          }
          ::v-deep .el-tabs__item {
            color: rgba(228, 231, 193, 0.7) !important;
            &.is-active {
              color: #e8f3fe !important;
              text-shadow: px-to-rem(1) 0 px-to-rem(4) #dcd277 !important;
            }
          }

          .set-con-info {
            &.list {
              .text-btn {
                color: #e4e7c1;

                &:hover {
                  opacity: 0.6;
                }

                span {
                  color: #ffeeb1;
                }
              }

              .con {
                ::v-deep .fd-pagination-box {
                  text-align: right;
                }

                ::v-deep .el-table {
                  td {
                    border-bottom: px-to-rem(1)
                      solid
                      rgb(228 231 193 / 20%) !important;
                  }

                  th {
                    border-bottom: px-to-rem(1)
                      solid
                      rgb(228 231 193 / 20%) !important;
                  }

                  .cell {
                    color: #e4e7c1;
                  }

                  .el-table__header .cell {
                    background: rgb(100 86 46 / 40%);
                    color: #e4e7c1;
                  }

                  .el-table-column--selection .cell {
                    text-align: center;
                  }
                  .sort-caret.ascending {
                    border-bottom-color: #FFEEB1;
                  }
                  .sort-caret.descending {
                    border-top-color: #FFEEB1;
                  }
                  .ascending {
                    .sort-caret.ascending {
                      border-bottom-color: #FFFA28;
                    }
                  }
                  .descending{
                    .sort-caret.descending {
                      border-top-color: #FFFA28;
                    }
                  }
                }
              }

              ::v-deep .el-checkbox {
                font-size: px-to-rem(16);

                .el-checkbox__inner {
                  border: px-to-rem(1) solid rgb(159 152 83 / 70%);
                  border-radius: px-to-rem(3);
                }

                .el-checkbox__input.is-indeterminate .el-checkbox__inner {
                  background: #9f9853;
                }

                &.is-checked {
                  .el-checkbox__inner {
                    background: #9f9853;
                  }
                }
              }

              .el-button--text {
                color: rgb(255 250 40 / 100%) !important;

                &:hover {
                  opacity: 0.6;
                }
              }

              ::v-deep .page {
                //padding: px-to-rem(2) 0;
                //margin: px-to-rem(10) px-to-rem(20);

                .el-pager {
                  .number {
                    width: px-to-rem(22);
                    min-width: unset;
                    height: px-to-rem(22);
                    color: #e4e7c1;
                    font-size: px-to-rem(12);
                    line-height: px-to-rem(22);

                    &.active {
                      background: #9f9853 !important;
                      color: #fff;
                    }
                  }

                  .el-icon-more {
                    height: px-to-rem(22);
                    color: #e4e7c1;
                  }
                }

                .btn-prev,
                .btn-next {
                  width: px-to-rem(22);
                  min-width: unset;
                  height: px-to-rem(22);
                  color: rgb(255 238 177 / 100%);
                  line-height: px-to-rem(22);

                  .el-icon {
                    font-size: px-to-rem(12);
                  }
                }

                .el-pagination__total {
                  height: px-to-rem(22);
                  color: #e4e7c1 !important;
                  font-size: px-to-rem(12);
                  line-height: px-to-rem(22);
                }
              }
            }
          }
        }

        ::v-deep .el-table__empty-text {
          color: #e4e7c1;
          &:before {
            content: url('~@component-gallery/assets/image/video/noData-gt.png') !important;
          }
        }
      }
      .set-con-info.list {
        .setting-table,
        .table-class {
          ::v-deep .el-table__fixed-right {
            box-shadow: unset !important;
            height: calc(100% - px-to-rem(6)) !important;

            &:before {
              background-color: transparent;
            }

            td.el-table__cell {
              background-color: #1f1d11 !important;
            }

            th.el-table__cell {
              background-color: rgba(46, 42, 23, 1) !important;
            }

            .column-right-box {
              border-left: px-to-rem(1) solid #e4e7c188 !important;
            }
          }
          ::v-deep .el-table__fixed-right:has(.el-table__row) {
            box-shadow: px-to-rem(-20)
              0
              px-to-rem(10)
              rgba(21, 19, 12, 0.4) !important;
          }
        }
      }
      .setting-switch {
        ::v-deep .el-switch__core {
          border: px-to-rem(0.5) solid rgba(100, 86, 46, 1) !important;
        }
      }

      .setting-switch.is-checked {
        ::v-deep .el-switch__core {
          border: px-to-rem(0.5) solid rgb(159, 152, 83) !important;
        }
      }

      .search-view {
        color: #e4e7c1;

        .column-view .search-item .search-text {
          color: #e4e7c1;
        }
      }

      .search-view .column-view .search-item {
        .el-icon-time:before {
          color: #ffeeb1;
          font-size: px-to-rem(20);
        }
      }

      .confirm-dialog {
        background: rgba(0, 0, 0, 0.7);

        .dialog-info.plan-conflict {
          border-radius: px-to-rem(8);
          position: relative;
          background: none;
          padding: px-to-rem(12);

          &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.9;
            background: linear-gradient(
                180deg,
                rgba(163, 144, 69, 0.53) 0%,
                rgba(105, 95, 42, 0.18) 10%,
                rgba(98, 88, 38, 0) 13%
              )
              rgba(0, 0, 0, 0.7);
            border-radius: inherit;
            z-index: -1;
            border: px-to-rem(1) solid rgba(110, 103, 78, 0.9);
          }
          .con {
            .ts {
              color: rgba(237, 81, 88, 1) !important;
              background: rgba(237, 81, 88, 0.2) !important;
              border-radius: px-to-rem(4);
            }
          }
          .plan-conflict-list {
            ::v-deep .el-table {
              .cell {
                color: #e4e7c1;
              }
              .el-table__header .cell {
                background: rgba(100, 86, 46, 0.4);
                color: #e4e7c1;
              }

              td,
              th {
                border-bottom: px-to-rem(1)
                  solid
                  rgba(228, 231, 193, 0.2) !important;
              }
            }
          }

          .dialog-close {
            &:before {
              content: '';
              background: url('~@component-gallery/assets/image/video/videoGt/icon-cancel.png')
                no-repeat;
              background-size: 100% 100%;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
      }

      .video-set .set-con .set-con-info.list .fd-pagination-box {
        bottom: 0;
        right: 0;
        color: #e4e7c1;

        ::v-deep .page .el-pagination__jump {
          color: #e4e7c1;

          .el-pagination__editor.el-input .el-input__inner {
            background: rgba(100, 86, 46, 0.4);
            color: #e4e7c1;
          }
        }
      }

      .popup-box .tree-box {
        .iot-tree {
          .tree-icon {
            color: #ffeeb1;
          }
          ::v-deep .el-tree-node__expand-icon {
            color: #ffeeb1 !important;
          }
          ::v-deep .el-tree-node__expand-icon.is-leaf {
            color: transparent !important;
          }
          .tree-label {
            color: #e4e7c1;
          }

          ::v-deep .el-tree__empty-text {
            color: #e4e7c1;

            &:before {
              content: url('~@component-gallery/assets/image/video/noData-gt.png');
            }
          }
        }

        ::v-deep .el-tree-node__content:hover {
          background: rgba(100, 86, 46, 0.4) !important;
        }

        .checked {
          .tree-label {
            color: #fffa28;
          }

          &:after {
            background: rgba(100, 86, 46, 0.4);
          }
        }
      }

      .plan-box {
        .text-color {
          color: #fffa28;
        }
      }

      .plan-dialog {
        .row-box {
          .col-box {
            .input-text1,
            .input-text2 {
              color: #e4e7c1;
            }
          }
        }

        .head-box {
          color: #e4e7c1;
          font-size: px-to-rem(16);
          color: #ffffff;
          line-height: px-to-rem(16);
          text-shadow: 0 px-to-rem(1) px-to-rem(4) #dcd277;
        }

        .presets-box {
          color: #e4e7c1;

          .unit {
            color: rgba(255, 238, 177, 1);
          }

          .icon {
            color: rgba(255, 238, 177, 1);
          }

          .iconfont.disabled {
            color: rgba(255, 238, 177, 0.4) !important;
          }
        }

        .row-title1,
        .row-title2 {
          color: rgba(228, 231, 193, 0.7);
        }

        .row-text1,
        .row-text2 {
          color: rgba(228, 231, 193, 1);
        }

        .header-box {
          background: rgba(100, 86, 46, 0.4);

          .header-left-box {
            color: #e4e7c1;
          }
        }

        .table-line-box {
          border-bottom: px-to-rem(1) solid rgba(228, 231, 193, 0.2);
        }

        .body-item-box {
          .left-box {
            color: #e4e7c1;
          }
        }
      }

      .plan-tree {
        color: #e4e7c1;

        ::v-deep .el-tree__empty-text {
          color: #e4e7c1;

          &:before {
            content: url('~@component-gallery/assets/image/video/noData-gt.png');
          }
        }

        ::v-deep .el-tree-node__content:hover {
          background: rgba(100, 86, 46, 0.4) !important;
        }

        .tree-label {
          color: #e4e7c1;
        }

        .checked {
          .tree-label {
            color: #fffa28;
          }

          &:after {
            background: rgba(100, 86, 46, 0.4);
          }
        }
        ::v-deep .el-tree-node__expand-icon {
          color: #ffeeb1 !important;
        }
        ::v-deep .el-tree-node__expand-icon.is-leaf {
          color: transparent !important;
        }
        .tree-icon {
          color: #ffeeb1;
        }
      }

      .set-con ::v-deep .el-tabs__header {
        padding: 0;
      }

      .video-set-tree {
        .el-tree {
          ::v-deep .el-tree__empty-text {
            color: rgba(228, 231, 193, 1);
            &:before {
              content: url('~@component-gallery/assets/image/video/noData-gt.png');
            }
          }
        }
      }
    }
    @if $theme-name == 'theme-aquamarine' {
      .video-set {
        background: rgb(0 19 30 / 100%) !important;

        .set-con {
          background: rgb(2 137 109 / 5%);
          border: px-to-rem(1) solid rgb(7 91 74 / 100%);
          border-radius: px-to-rem(8);

          .query-box {
            span {
              color: #fff;
            }
          }

          ::v-deep .el-tabs {
            .el-tabs__header {
              margin-top: px-to-rem(0);
            }

            .el-tabs__nav-wrap::after {
              height: px-to-rem(1);
              background: linear-gradient(
                270deg,
                rgb(255 255 255 / 0%) 0%,
                #fff 50%,
                rgb(255 255 255 / 0%) 100%
              );
            }

            .el-tabs__nav .el-tabs__active-bar {
              &::after {
                z-index: 12;
                height: px-to-rem(10);
                background: url('~@component-gallery/assets/image/video/videoLy/nav_bottom.png')
                  no-repeat
                  bottom
                  center /
                  100%
                  auto;
              }
            }

            .el-tabs__item {
              &.is-top {
                opacity: unset;
                text-shadow: px-to-rem(0)
                  px-to-rem(0)
                  px-to-rem(24)
                  rgb(0 92 245 / 35%);
                color: #0dc985;

                &::before {
                  position: absolute;
                  top: px-to-rem(0);
                  bottom: 0;
                  left: 50%;
                  z-index: 11;
                  width: px-to-rem(26);
                  height: px-to-rem(2);
                  background: url('~@component-gallery/assets/image/video/video-top-line.png')
                    no-repeat
                    top
                    center;
                  box-shadow: none;
                  content: '';
                  transform: translateX(-50%);
                  pointer-events: none;
                }
              }

              &.is-active {
                text-shadow: px-to-rem(0)
                  px-to-rem(0)
                  px-to-rem(18)
                  rgb(0 245 193 / 70%);
                color: #fff;
                font-weight: 600;

                &::before {
                  position: absolute;
                  top: px-to-rem(0);
                  bottom: 0;
                  left: 50%;
                  z-index: -1;
                  width: 100%;
                  height: auto;
                  background: url('~@component-gallery/assets/image/video/videoLy/popup-header-xx.png')
                      no-repeat
                      center /
                      auto
                      100%,
                    url('~@component-gallery/assets/image/video/videoLy/popup-header-k.png')
                      no-repeat
                      top
                      center;
                  box-shadow: none;
                  content: '';
                  pointer-events: none;
                  transform: translateX(-50%);
                }
              }
            }
          }

          .set-con-info {
            &.list {
              .text-btn {
                color: #fff !important;

                &:hover {
                  opacity: 0.6;
                }
              }

              .con {
                ::v-deep .fd-pagination-box {
                  text-align: right;
                }

                ::v-deep .el-table {
                  td {
                    border-bottom: px-to-rem(1)
                      solid
                      rgb(255 255 255 / 20%) !important;
                  }

                  th {
                    border-bottom: px-to-rem(1)
                      solid
                      rgb(255 255 255 / 20%) !important;
                  }

                  .cell {
                    color: #fff;
                  }

                  .el-table__header .cell {
                    background: rgb(2 137 109 / 20%);
                    color: #fff;
                  }

                  .el-table-column--selection .cell {
                    text-align: center;
                  }
                  .sort-caret.ascending {
                    border-bottom-color: #fff;
                  }
                  .sort-caret.descending {
                    border-top-color: #fff;
                  }
                  .ascending{
                    .sort-caret.ascending {
                      border-bottom-color: #F9FF6C;
                    }
                  }
                  .descending{
                    .sort-caret.descending {
                      border-top-color: #F9FF6C;
                    }
                  }
                }
              }

              ::v-deep .el-checkbox {
                font-size: px-to-rem(16);

                .el-checkbox__inner {
                  background: rgb(2 137 109 / 30%);
                  border: px-to-rem(1) solid rgb(2 137 109 / 30%) !important;
                  border-color: rgb(2 137 109 / 30%) !important;
                  border-radius: px-to-rem(3);
                  box-shadow: inset
                    px-to-rem(0)
                    px-to-rem(0)
                    px-to-rem(3)
                    px-to-rem(0)
                    rgb(2 137 109 / 60%);
                  color: #fff;
                }

                .el-checkbox__input.is-indeterminate .el-checkbox__inner {
                  background: rgb(2 137 109 / 70%);
                  box-shadow: inset
                    px-to-rem(0)
                    px-to-rem(0)
                    px-to-rem(4)
                    px-to-rem(0)
                    #02896d;
                }

                &.is-checked {
                  .el-checkbox__inner {
                    background: rgb(2 137 109 / 70%);
                    box-shadow: inset
                      px-to-rem(0)
                      px-to-rem(0)
                      px-to-rem(4)
                      px-to-rem(0)
                      #02896d;

                    &::after {
                      border-top-width: 0;
                      border-left-width: 0;
                    }
                  }
                }
              }

              .el-button--text {
                color: #f9ff6c !important;

                &:hover {
                  opacity: 0.6;
                }
              }

              ::v-deep .fd-pagination-text {
                //margin: px-to-rem(12) px-to-rem(0);
                //height: px-to-rem(22);
                //line-height: px-to-rem(22);
                //font-size: px-to-rem(12);
              }

              ::v-deep .page {
                //padding: 0;
                //margin: px-to-rem(12);
                //height: px-to-rem(22);
                //line-height: px-to-rem(22);

                .el-pager {
                  .number {
                    color: #fff;

                    //font-size: px-to-rem(12);
                    //width: px-to-rem(22);
                    //height: px-to-rem(22);
                    //min-width: unset;
                    //line-height: px-to-rem(22);
                    //margin: px-to-rem(0) px-to-rem(3);

                    &.active {
                      background: rgb(2 137 109 / 100%) !important;
                      color: #fff;
                    }
                  }

                  .el-icon-more {
                    height: px-to-rem(22);
                    color: #fff;
                  }
                }

                .btn-prev,
                .btn-next {
                  color: #fff;

                  //width: px-to-rem(22);
                  //height: px-to-rem(22);
                  //min-width: unset;
                  //line-height: px-to-rem(22);
                  //margin: px-to-rem(0) px-to-rem(3);

                  .el-icon {
                    //font-size: px-to-rem(12);
                  }
                }

                .el-pagination__jump {
                  //margin-top: px-to-rem(0);
                  //margin-right: px-to-rem(0);
                  //margin-left: px-to-rem(3);
                  //height: px-to-rem(22);
                  //line-height: px-to-rem(22);
                  //font-size: px-to-rem(12);
                  .el-pagination__editor.el-input {
                    //width: px-to-rem(48);
                    //margin: px-to-rem(0) px-to-rem(6);
                  }
                }

                .el-pagination__jump
                  .el-pagination__editor.el-input
                  .el-input__inner {
                  //border-radius: px-to-rem(4);
                  background: rgb(2 137 109 / 20%);

                  //height: px-to-rem(22);
                  //line-height: px-to-rem(22);
                  //font-size: px-to-rem(12);
                }

                .el-pagination__total {
                  color: #fff !important;

                  //font-size: px-to-rem(12);
                  //height: px-to-rem(22);
                  //line-height: px-to-rem(22);
                  //margin-right: px-to-rem(3);
                }
              }
            }
          }
        }

        .setting-table,
        .table-class {
          ::v-deep .el-table__fixed-right {
            height: calc(100% - px-to-rem(6)) !important;
            box-shadow: unset !important;

            &::before {
              background-color: transparent;
            }

            td.el-table__cell {
              background-color: #001922 !important;
            }

            th.el-table__cell {
              background-color: rgb(6 35 36 / 100%) !important;
            }

            .column-right-box {
              border-left: px-to-rem(1) solid #fff !important;
            }
          }

          ::v-deep .el-table__fixed-right:has(.el-table__row) {
            box-shadow: px-to-rem(-20)
              0
              px-to-rem(10)
              rgb(1 19 30 / 40%) !important;
          }
        }

        .setting-switch {
          ::v-deep .el-switch__core {
            background: rgb(2 137 109 / 30%) !important;
            border: px-to-rem(0) !important;
            border-color: unset !important;
            box-shadow: inset
              px-to-rem(0)
              px-to-rem(0)
              px-to-rem(3)
              px-to-rem(0)
              rgb(2 137 109 / 60%) !important;

            &::after {
              top: px-to-rem(2);
              left: px-to-rem(4);
            }
          }
        }

        .setting-switch.is-checked {
          ::v-deep .el-switch__core {
            background: rgb(2 137 109 / 70%) !important;
            border: px-to-rem(0) !important;
            border-color: unset !important;
            box-shadow: inset
              px-to-rem(0)
              px-to-rem(0)
              px-to-rem(4)
              px-to-rem(0)
              #02896d !important;

            &::after {
              top: px-to-rem(2);
              left: px-to-rem(3);
            }
          }
        }

        .search-view {
          color: #fff;

          .column-view .search-item .search-text {
            color: #fff;
          }
        }

        .search-view
          .column-view
          .search-item
          .search-date
          ::v-deep
          .el-icon-time::before {
          color: #fff;
          font-size: px-to-rem(20);
        }

        ::v-deep .el-table__empty-text {
          color: #fff;

          &::before {
            content: url('~@component-gallery/assets/image/video/noData-ly.png') !important;
            top: px-to-rem(-18);
            background: none !important;
          }
        }

        ::v-deep .loading-datas {
          color: #fff;
        }
      }

      .confirm-dialog {
        background: rgb(0 0 0 / 70%);

        .dialog-info.plan-conflict {
          position: relative;
          padding: px-to-rem(12);
          background: linear-gradient(
            180deg,
            rgb(0 19 30 / 70%) 0%,
            #00131e 100%
          );
          border: px-to-rem(1) solid;
          border-radius: 0;
          opacity: 1;
          border-image: linear-gradient(
              360deg,
              rgb(7 91 74 / 75%),
              rgb(7 91 74 / 30%)
            )
            1
            1;

          .dialog-bg-icon-top {
            &::before {
              position: absolute;
              top: px-to-rem(-1);
              left: px-to-rem(-1);
              width: px-to-rem(8);
              height: px-to-rem(1);
              background-color: #00fff8;
              content: '';
            }
          }

          .dialog-bg-icon-bottom {
            &::before {
              position: absolute;
              bottom: px-to-rem(-1);
              left: px-to-rem(-1);
              width: px-to-rem(21);
              height: px-to-rem(25);
              background: url('~@component-gallery/assets/image/video/border-bottom-left-l.png')
                no-repeat;
              background-size: 100% 100%;
              content: '';
            }

            &::after {
              position: absolute;
              right: px-to-rem(-1);
              bottom: px-to-rem(-1);
              width: px-to-rem(21);
              height: px-to-rem(25);
              background: url('~@component-gallery/assets/image/video/border-bottom-right-l.png')
                no-repeat;
              background-size: 100% 100%;
              content: '';
            }
          }

          .con {
            .ts {
              background: rgb(237 81 88 / 20%);
              color: #ed5158;
            }
          }

          .plan-conflict-list {
            ::v-deep .el-table {
              .cell {
                color: #fff;
              }

              .el-table__header .cell {
                background: rgb(2 137 109 / 20%);
                color: #fff;
              }

              td,
              th {
                border-bottom: px-to-rem(1)
                  solid
                  rgb(255 255 255 / 20%) !important;
              }
            }
          }

          .dialog-close {
            top: px-to-rem(0);
            right: px-to-rem(0);

            &::before {
              position: absolute;
              top: px-to-rem(-19);
              right: px-to-rem(-19);
              width: px-to-rem(38);
              height: px-to-rem(38);
              background: url('~@component-gallery/assets/image/video/videoLy/popup-close.png')
                no-repeat;
              background-size: 100% 100%;
              content: '';
            }

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }

      .popup-box .tree-box {
        .iot-tree {
          .tree-icon {
            color: #fff;
          }

          .tree-label {
            color: #fff;
          }

          ::v-deep .el-tree-node__expand-icon {
            color: #fff !important;
          }

          ::v-deep .el-tree-node__expand-icon.is-leaf {
            color: transparent !important;
          }

          ::v-deep .el-tree__empty-text {
            color: #fff;

            &::before {
              content: url('~@component-gallery/assets/image/video/noData-ly.png');
            }
          }
        }

        ::v-deep .el-tree-node__content:hover {
          background: rgb(2 137 109 / 40%) !important;
        }

        .checked {
          .tree-label {
            color: #f9ff6c;
          }

          &::after {
            background: rgb(2 137 109 / 40%);
          }
        }
      }

      .plan-box {
        .text-color {
          color: #f9ff6c;
        }
      }

      .plan-dialog {
        .row-box {
          .col-box {
            .input-text1,
            .input-text2 {
              color: #fff;
            }
          }
        }

        .head-box {
          text-shadow: px-to-rem(0)
            px-to-rem(0)
            px-to-rem(18)
            rgb(0 245 193 / 70%);
          color: #fff;
        }

        .presets-box {
          color: #fff;

          .unit {
            color: #fff;
          }

          .icon {
            color: rgb(255 255 255 / 100%);
          }

          .iconfont.disabled {
            color: rgb(255 255 255 / 40%) !important;
          }
        }

        .row-title1,
        .row-title2 {
          color: rgb(255 255 255 / 70%);
        }

        .row-text1,
        .row-text2 {
          color: rgb(255 255 255 / 100%);
        }

        .header-box {
          background: rgb(2 137 109 / 20%);

          .header-left-box {
            color: #fff;
          }
        }

        .table-line-box {
          border-bottom: px-to-rem(1) solid rgb(255 255 255 / 20%);
        }

        .body-item-box {
          .left-box {
            color: #fff;
          }
        }
      }

      .plan-tree {
        color: #fff;

        ::v-deep .el-tree__empty-text {
          color: #fff;

          &::before {
            content: url('~@component-gallery/assets/image/video/noData-gt.png');
          }
        }

        ::v-deep .el-tree-node__content:hover {
          background: rgb(2 137 109 / 40%) !important;
        }

        .tree-label {
          color: #fff;
        }

        .checked {
          .tree-label {
            color: #f9ff6c;
          }

          &::after {
            background: rgb(2 137 109 / 40%);
          }
        }

        ::v-deep .el-tree-node__expand-icon {
          color: #fff !important;
        }

        ::v-deep .el-tree-node__expand-icon.is-leaf {
          color: transparent !important;
        }

        .tree-icon {
          color: #fff;
        }
      }

      .set-con ::v-deep .el-tabs__header {
        padding: 0;
      }
    }
  }
}
