@import "../mixins/px-to-rem";

.camera-attribute {
  &-container {
    position: fixed !important;
    top: 50%;
    left: 50%;
    width: px-to-rem(364);
    background: linear-gradient(180deg, rgb(0 19 30 / 70%), #00131e);
    transform: translate(-50%, -50%);

    ::v-deep{
      .innercomp-abcontainer-body{
        padding: px-to-rem(12);
      }
    }

    .label {
      display: inline-block;
      min-width: px-to-rem(84);
      color: rgb(255 255 255 / 70%);
      font-size: px-to-rem(14);
      text-align: right;
    }

    .value {
      display: inline-block;
      color: #fff;
      font-size: px-to-rem(14);
      white-space: nowrap;
      word-break: keep-all;
      line-height: px-to-rem(20);

      &.tover {
        overflow: hidden;
        max-width: 17em;
        text-overflow: ellipsis;
        word-break: keep-all;
      }
    }

    .row {
      display: flex;
      align-items: center;

      +.row {
        margin-top: px-to-rem(6);
      }
    }

    .iconfont_tools {
      margin-top: px-to-rem(1);
      margin-left: px-to-rem(6);
      font-size: px-to-rem(18);
      line-height: px-to-rem(18);
      cursor: pointer;
    }

    .label-row {
      display: flex;
      flex-wrap: wrap;
      gap: px-to-rem(6);
    }

    .sptag {
      position: relative;
      display: flex;
      margin-left: px-to-rem(-12);
      color: #f9ff6c;
      font-size: px-to-rem(12);
      line-height: px-to-rem(24);

      .inner {
        overflow: hidden;
        max-width: px-to-rem(187);
        height: px-to-rem(24);
        background: url('~@component-gallery/assets/image/alarm-list/aquamarine/alarmList/bg_bq-center.png') center no-repeat;
        background-size: 100% 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &::before {
        display: block;
        width: px-to-rem(14);
        height: px-to-rem(24);
        background: url('~@component-gallery/assets/image/alarm-list/aquamarine/alarmList/bg_bq-left.png') center no-repeat;
        background-size: 100% 100%;
        flex-shrink: 0;
        content: '';
      }

      &::after {
        display: block;
        width: px-to-rem(14);
        height: px-to-rem(24);
        background: url('~@component-gallery/assets/image/alarm-list/aquamarine/alarmList/bg_bq-right.png') center no-repeat;
        background-size: 100% 100%;
        flex-shrink: 0;
        content: '';
      }
    }
  }
}
// 林业
[data-theme="theme-aquamarine"] .camera-attribute{
  &-container {
    ::v-deep{
      .previous-vacancies::before{
        top: px-to-rem(-1) !important;
        left: px-to-rem(-1) !important;
      }
    }
  }
}